@import '../../../scss/variables';
@import '../../../scss/mixins/styling';

/*
 * Table component.
 */
.rank-math-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid $silver-gray;
	box-shadow: 0 1px 1px $black-a4;
	font-size: 14px;

	* {
		word-wrap: break-word;
	}

	thead {
		background-color: $white;
		border-bottom: 1px solid $silver-gray;
	}

	tbody {
		tr:nth-child(2n+1) { 
			background-color: $tertiary-light;
		}
	}

	td,
	th {
		text-align: left;
		vertical-align: top;
		padding: 15px 10px;
	}

	th {
		text-transform: capitalize;
		color: $charcoal-gray;
		line-height: 1.4em;
		font-weight: 600;
		vertical-align: top;
	}

	td {
		color: $graphite-gray;
		line-height: 1.3;
		vertical-align: middle;
	}

	&.wizard {
		tr {
			&:nth-child(2n+1) { 
				background-color: $tertiary;
			}

			&:last-child {
				th {
					border-bottom: none;
				}
			}
		}

		th {
			@include flex-align();
			justify-content: space-between;
			gap: 20px;
			padding: 10px 20px;
			color: $charcoal-gray-10;
			border-bottom: 1px solid $gray-10;
			text-transform: none;

			&::after {
				content: "";
				font-family: "dashicons";
				line-height: 1;
				font-weight: 400;
				font-size: 24px;
			}

			&.is-pass {
				&::after {
					content: "\f147";
				}
			}

			&.is-fail {
				border-left: 3px solid $error;
				
				&::after {
					color: $error;
					content: '\f158';
				}
			}

			&.is-warning {
				&::after {
					content: "\f534";
				}
			}
		}
	}
}
