@import '../../../scss/main';

/*
 * Table component.
 */
.rank-math-table {
	width: 100%;
	border: 1px solid $gray-10;
	border-collapse: collapse;
	box-shadow: 0 1px 1px $black-a4;

	font-size: 14px;

	* {
		word-wrap: break-word;
	}

	thead {
		border-bottom: 1px solid $gray-10;

		background: $white;
	}

	tbody tr:nth-child(2n+1) { 
		background: $tertiary-light;
	}

	td,
	th {
		padding: 15px 10px;

		text-align: left;
		vertical-align: top;
	}

	th {
		color: $black-60;
		line-height: 1.4em;
		font-weight: 600;
		vertical-align: top;
		text-transform: capitalize;
	}

	td {
		color: $black-45;
		line-height: 1.3;
		vertical-align: middle;
	}

	&.small {
		td,
		th {
			padding: 8px 10px;

			font-size: 13px;
			line-height: 1.5em;
		}
	}
}

@media screen and (max-width: 782px) {
	.rank-math-table {
		th,
		td {
			display: block;
			
			width: auto;
		}
	}
}
