// main: ../../metabox.scss

// This file is used for Classic Editor Styling.
##{$namespace}-metabox-wrapper {
	background-color: #fff;
}

#rank_math_metabox {
	.inside {
		margin: 0;
		padding: 0;
	}
}

##{$namespace}-metabox-wrapper {
	.#{$namespace}-tabs {

		.components-tab-panel__tabs {
			justify-content: flex-start;

			button {
				padding: 0 15px;
				height: 47px;
				width: auto;

				&:hover {
					i.rm-icon {
						box-shadow: none;
						background: none;
					}
				}

				span {
					display: inline-block;
				}
			}
		}

		.components-panel__body {
			h2 {
				font-weight: 600;
				padding-left: 0;
			}

			> .components-base-control > .components-base-control__field {
				display: flex;

				> .components-base-control__label {
					color: #242628;
					width: 25%;
					max-width: 200px;
					min-width: 200px;
				}

				> .components-base-control {
					width: 100%;
				}
			}

			&.rank-math-focus-keyword {
				.components-checkbox-control__input-container {
					margin-top: 3px;
				}
			}

			.components-toggle-control {
				.components-base-control__field {
					flex-direction: row-reverse;

					label {
						width: 25%;
						min-width: 200px;
						max-width: 200px;
					}

					.components-form-toggle {
						width: 100%;
					}
				}
			}

			&.#{$namespace}-redirect {
				label {
					font-weight: 600;
					color: #242628;
				}

				.components-select-control {
					width: 100%;
					flex-direction: row;

					.components-flex-item  {
						width: 25%;
						max-width: 200px;
						min-width: 200px;
					}
				}
			}

			&.#{$namespace}-checklist {
				.components-panel__body-title {
					padding: 0 !important;
				}

				&.is-opened {
					.components-panel__body-title {
						margin: -16px -16px 5px !important;
					}
				}
			}

			.advanced-robots {
				justify-content: flex-start;
				.components-base-control {
					flex-basis: 65%;

					input, .components-input-control__container {
						width: 165px;
					}

					&.components-checkbox-control {
						flex-basis: 32%;
					}
				}
			}

			.components-checkbox-control {
				input[type=checkbox] {
					&:checked, &:checked:focus {
						&:before {
							display: none;
						}
					}
				}
			}

			.components-radio-control__option {
				margin-right: 10px;
			}

			.rank-math-social {
				.components-base-control {
					&__field {
						display: block;
					}

					&__label {
						width: 100%;
						max-width: 100%;
						margin-bottom: 0;
					}
				}

				.rank-math-edit-snippet {
					margin-bottom: 0;
				}
			}
		}

		.#{$namespace}-tooltip {
			input:checked {
				~ .#{$namespace}-tooltip-content {
					opacity: 0;
				}

				+ label {
					color: #b5bfc9;

					&:after {
						display: none;
					}
				}
			}

			.#{$namespace}-tooltip-content {
				display: block;
				font-size: 11px;
				font-weight: 400;
				line-height: 1.5;
				white-space: normal;
				width: 200px;
				padding: 8px 10px;
				transition: all .3s ease-in-out;
				transform: translate3d(-50%, 0, 0);
				text-align: center;
				pointer-events: none;
				opacity: 0;
				color: #fff;
				border-radius: 3px;
				background: #555d66;
				position: absolute;
				bottom: 100%;
				left: 50%;
			}
			
			&:hover {
				label {
					color: #069de3 !important;
				}

				.#{$namespace}-tooltip-content {
					bottom: 130%;
					opacity: 1 !important;
					z-index: 1;

					&:after {
						content: '';
						-webkit-transform: translate3d(-50%, 0, 0);
						transform: translate3d(-50%, 0, 0);
						position: absolute;
						top: 100%;
						left: 50%;
						border-style: solid;
						height: 0;
						width: 0;
						border-color: #555d66 transparent transparent;
						border-width: 8px 7px 0;
					}
				}
			}
		}
	}
}

.#{$namespace}-seo-score {
	font-weight: 600;

	@include position( absolute, 1px 1px null null );
	box-sizing: border-box;
	width: 105px;
	padding: 13.5px 15px;

	text-align: center;

	border-radius: 0 3px 3px 0;
	background: #f1f1f1;

	height: 47px;

	.score-text {
		vertical-align: middle;
	}

	&.misc-pub-section {
		@include position( relative, auto auto null null );

		width: 100%;
		padding: 13.5px 12px;

		text-align: left;

		border-radius: 0;

		.dashicons {
			font-size: 18px;

			margin-right: 2px;
		}

		.score-icon {
			float: left;
			margin-right: 4px;
		}
	}

	&.good-fk {
		color: $status-good;
		background: lighten( $status-good, 40% );

		.score-icon g {
			fill: $status-good;
		}
	}

	&.ok-fk {
		color: #bf890d;
		background: #fdf0c4;

		.score-icon g {
			fill: #bf890d;
		}
	}

	&.bad-fk {
		color: $status-bad;
		background: lighten( $status-bad, 40% );

		.score-icon g {
			fill: $status-bad;
		}
	}

	&.loading {
		display: none;
	}
}

.#{$namespace}-focus-keyword {
	.components-panel__body-title {
		padding-bottom: 12px !important;
	}

	> div {
		position: relative;

		.#{$namespace}-seo-score {
			display: flex;
			align-items: center;
			justify-content: center;
			top: 1px;
			right: 1px;
			width: 95px;
			height: 37px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

// Term Metabox.
.#{$namespace}-metabox-frame {
	margin-bottom: 25px;

	##{$namespace}-metabox-wrapper .#{$namespace}-tabs .components-panel__body {
		h2 {
			margin-left: 0;
		}
	}

	&-title {
		font-size: 14px;
		line-height: 1.4;

		margin: 0;
		padding: 8px 12px;

		border-bottom: 1px solid $gray;
	}
}