// main: ../../metabox.scss
#setting-panel-richsnippet {
	.cmb-row-50,
	.cmb-row-33 {
		vertical-align: top;

		border-top: 1px solid #e9e9e9;
		border-bottom: 0;
	}

	.cmb2-id-rank-math-snippet-music-type {
		border-top: 0;
		.cmb-th,
		.cmb-td {
			margin-left: 0;
			padding: 0;
		}
	}

	.cmb2-id-rank-math-snippet-recipe-ingredients,
	.cmb2-id-rank-math-snippet-recipe-instructions {
		border-top: 1px solid #e9e9e9;
	}

	.cmb2-id-rank-math-snippet-recipe- {
		&instruction-type {
			border-top: 1px solid #e9e9e9;
		}
		&single-instructions,
		&instruction-name,
		&instructions {
			border-top: none;
		}
	}

	.notice-warning {
		margin: 10px 0 0;

		background-color: #fefcee;
	}
}
