// main: ../../metabox.scss
// Hide Simulator
.serp-favicon, .serp-preview-noindex, .serp-snippet-mobile {
	display: none;
}

// Default Preview
.serp-preview {
	margin-bottom: 0;

	* {
		box-sizing: border-box;
	}

	// Preview section title
	&-title {
		&:before {
			color: $text;
			font-size: 15px;
			font-weight: 500;

			display: inline-block;

			padding-bottom: 6px;

			content: attr(data-title);
			letter-spacing: .05em;
		}
	}

	// Wrappers
	&-wrapper {
		position: relative;
		transition: all .6s ease;
	}

	&-body {
		padding: 15px 0;
		transition: width .2s ease, padding .2s ease, margin .2s ease;

		// Snippet Data
		.serp-snippet-data {
			color: #808080;
			line-height: 18px;
			font-size: small;
			font-weight: normal;
			margin-top: 4px;

			.serp-desktop-rating {
				float: left;
			}

			.separator:first-child {
				display: none;
			}
		}

		.serp-star-rating {
			display: inline-block;
			position: relative;
			color: #ccc;
			margin-right: 5px;
			vertical-align: -2px;
			height: 14px;

			.dashicons {
				font-size: 13px;
				width: 13px;
				height: 13px;
			}

			.serp-result {
				@include position( absolute, 1px null null 0 );
				height: 13px;
				overflow: hidden;
				white-space: nowrap;
				color: #f9b709;
			}
		}

		.serp-rating-label {
			font-size: 14px;
			color: #70757a;
		}

		// Edit Fields
		.cmb-row .cmb-td {
			width: 100%;
			max-width: 600px;

			.cmb2_textarea {
				width: 100% !important;
			}
		}
	}

	// Event Schema.
	&.serp-event {
		.serp-snippet-data {
			margin-top: 7px;
		}

		.serp-event_name {
			color: #1a0dab;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		.serp-event_name, .serp-event_date, .serp-event_place {
			padding-left: 15px;
		}
	}

	// Edit Snippet button area
	&-footer {
		padding: 15px 0;

		.button.button-secondary {
			line-height: 38px;

			padding: 0 12px;

			.dashicons {
				font-size: 20px;
				line-height: 41px;
			}
		}
	}

	.highlight {
		background: none;
		font-weight: bold;
		color: inherit
	}

	// Preview fields
	.serp-title,
	.serp-url,
	.serp-description {
		font-family: arial, sans-serif;

		position: relative;
		z-index: 1;

		display: block;
		overflow: hidden;

		width: 100%;
		max-width: 600px;
		margin: 0;

		cursor: pointer;

		// Show edit icon on hover on any field
		&:focus:before,
		&:hover:before {
			font-family: dashicons;

			z-index: -1;

			content: '\f464';
			text-align: right;

			background: #f8f9fa;
			border-radius: 4px;

			@include position(absolute, 0);
		}

		&:empty {
			&:after {
				content: attr(data-empty-title);
			}
		}

		mark {
			background: transparent;
			color: inherit;
			font-weight: bold;
		}
	}

	// Title
	.serp-title {
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;

		white-space: nowrap;
		text-overflow: ellipsis;

		color: #1a0dab;
	}

	// URL
	.serp-url {
		font-size: 14px;
		line-height: 16px;

		margin: 3px 0 5px;

		white-space: nowrap;
		text-overflow: ellipsis;

		color: #202124;

		&:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			border-color: #006621 transparent;
			position: absolute;
			top: 6px;
			margin-left: 5px;
		}
	}

	// Description
	.serp-description {
		font-size: 14px;
		line-height: 1.57;

		clear: left;

		word-wrap: break-word;

		color: #545454;
	}

	.button {
		height: auto;
		padding: 0 5px;

		outline: 0;

		&,
		.dashicons {
			font-size: 15px;
			line-height: 30px;
		}
	}

	// Device Buttons
	.button-secondary:not(.rank-math-edit-snippet) {
		font-size: 11px;
		margin-bottom: 0;
		padding: 0 8px;
		height: 30px;
		min-height: 30px;
		line-height: 32px;

		&.active,
		&.active:hover,
		&.active:focus {
			color: #fff;
			background: $primary !important;
			border-color: $primary;
			transform: translateY(0px);
			outline: none;
			box-shadow: none;
		}

		&:hover {
			color: $primary;
			border-color: $primary;
		}
	}

	&-title {
		.alignright {
			margin-top: -3px;
			width: 72px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
	}
}

.#{$namespace}-serp-fields-wrapper {
	> .cmb-row {
		position: relative;
		margin-top: 12px;
		padding: 20px 15px !important;
		border-radius: 4px;
		background: #f0f2f4;

		.cmb-th, .cmb-td {
			width: 100%;
			margin-top: 3px;
		}
	}
}

.#{$namespace}-serp-fields-wrapper {
	> .cmb-row {
		position: relative;
		margin-top: 12px;
		padding: 20px 15px !important;
		border-radius: 4px;
		background: #f3f5f6;

		.cmb-th, .cmb-td {
			width: 100%;
			margin-top: 3px;
		}
	}
}

// Length Indicator
@import 'length-indicator';

// Expanded Preview
@import 'serp-expanded-preview';

// Focus Keyword Field
@import 'focus-keyword';

// Primary Category Option
@import 'primary-term';

// SEO Tests
@import 'serp-checklist';

// Social Preview
@import "social-preview";

// rtl
body.rtl {
	.serp-preview .serp-description:focus:before,
	.serp-preview .serp-description:hover:before,
	.serp-preview .serp-title:focus:before,
	.serp-preview .serp-title:hover:before,
	.serp-preview .serp-url:focus:before,
	.serp-preview .serp-url:hover:before {
		text-align: left;
	}

	.#{$namespace}-tabs {

		.#{$namespace}-variables {
			&-button.button-secondary {
				right: auto;
				left: 0;

				border-width: 0 1px 0 0;
				border-radius: 3px 0 0 3px;
			}

			&-wrap {
				input {
					padding: 0 8px 0 50px!important;
				}

				textarea {
					padding: 0.75em 0.6em 0.75em 50px!important;
				}
			}

			&-dropdown {
				right: auto;
				left: 0;

				li:after {
					right: auto;
					left: 10px;
				}
			}
		}

		.cmb-type-textarea,
		.cmb-type-textarea-small {
			.button.button-secondary {
				border-width: 1px 1px 0 0;
				border-radius: 0 3px 0 3px;
				left: 1px;

				+ .rank-math-variables-dropdown {
					left: 0;
					right: auto;
				}
			}
		}
	}
}
