// main: ../../metabox.scss

// Common
.serp-preview-bg {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	max-height: 0;

	transition: .1s max-height ease-in-out;

	.serp-preview- {
		// Search Form
		&input {
			position: relative;

			max-width: 600px;

			pointer-events: none;

			input {
				font: 16px arial,sans-serif;

				padding: 5px 9px 5px 16px;
				vertical-align: top;

				color: #000;
				border: none;
				border-radius: 24px;
				outline: none;
				background-color: #fff;
				border: 1px solid #dfe1e5;
				box-shadow: none;

				@include size( 100%, 46px );
			}

			// Mic Icon
			.serp-mic {
				@include position( absolute, 0 50px 0 null );

				display: inline-block;

				width: 24px;
				padding: 0 2px 0 8px;

				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC);
				background-repeat: no-repeat;
				background-position: right center;
				background-size: 24px 24px;
			}

			// Search Icon
			.serp-search {
				line-height: 46px;

				@include position( absolute, 0 15px 0 null );

				height: 46px;

				text-align: center;

				border: 0;
				outline: 0;

				svg {
					width: 25px;
					height: 49px;

					fill: #4285f4;
				}
			}
		}

		// Google Menu
		&menus {
			overflow: hidden;

			max-width: 600px;

			ul {
				float: left;
				overflow: hidden;

				margin: 0;
				padding: 0;

				list-style: none;

				li {
					font-family: arial,sans-serif;
					font-size: 13px;
					line-height: 19px;

					float: left;

					margin: 0;
					padding: 27px 12px 12px;

					color: #777;

					&.current {
						color: #1a73e8;
						border-bottom: 3px solid #1a73e8;
					}

					img, svg {
						display: inline-block;
						width: 16px;
						vertical-align: -3px;
						margin-right: 1px;
						fill: #5f6368;
					}
				}

				&.menus-right {
					float: right;
				}
			}
		}

		// Result Stats
		&result-stats {
			font-family: arial,sans-serif;
			font-size: small;
			line-height: 43px;
			color: #808080;
			border-top: 1px solid #ebebeb;
		}
	}
}

// Non-expanded preview.
.rank-math-modal {
	.serp-url {
		font-size: 16px;
		margin: 7px 0 5px;
	}
	.serp-title {
		font-size: 20px;
	}
	.serp-description {
		font-size: 14px;
		line-height: 1.57;
	}
}

// Desktop
.expanded-preview {
	.serp-preview-body {
		padding-top: 10px;
	}

	&.desktop-preview {
		.serp-preview-footer {
			padding: 15px 0;
		}
		.serp-preview-wrapper {
			padding: 0;
		}
		.serp-title {
			&:before {
				content: attr(data-desktop);
			}
		}

		@media (min-width: 768px) {
			.serp-preview-bg {
				max-height: 168px;
				padding: 15px 0 0;
			}
		}
	}
}

// Mobile Preview
.mobile-preview {
	.serp-favicon, .serp-snippet-mobile {
		display: block;
	}

	.serp-preview {
		&-title:before {
			content: attr(data-mobile);
		}

		&-bg {
			max-height: 99px;
			padding-top: 15px;

			box-shadow: 0px 7px 6px -5px #DFE1E5;

			width: 400px;
			max-width: 100%;
			margin: auto;

			.serp-preview- {
				&input {
					input {
						height: 41px;
					}

					.serp- {
						&mic {
							display: none;
						}

						&search {
							top: 0;
							right: 0;

							border-radius: 0 20px 20px 0;
							padding-left: 8px;
							padding-right: 8px;
							background-color: #3b78e7;
							border: 1px solid #3367d6;
							height: 41px;

							svg {
								fill: #fff;
								height: 41px;
							}
						}
					}
				}

				&menus {
					ul {
						display: flex;

						width: 100%;

						li {
							font-family: inherit;
							font-size: 12px;
							font-weight: 500;
							line-height: 34px;

							padding: 4px 16px 0;

							text-align: center;
							text-transform: uppercase;
							flex: 1;

							img, svg {
								display: none;
							}
						}

						&.menus-right {
							display: none;
						}
					}
				}

				&result-stats {
					display: none;
				}
			}
		}

		&-body {
			display: flex;
			flex-flow: column wrap;
			box-sizing: border-box;
			width: 400px;
			max-width: 100%;
			margin: auto;
			padding-top: 30px;

			word-wrap: break-word;
			margin-top: 10px;
			padding: 20px;

			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 1px 6px rgba(32, 33, 36, .28);

			> .group {
				&:first-of-type {
					margin-bottom: 7px;
				}

				&:nth-of-type(2) {
					display: none;
				}
			}
		}
	}

	.serp-title,
	.serp-url,
	.serp-description {
		overflow: hidden;

		pointer-events: none;
	}

	.serp-title {
		color: #1967D2;
		font-size: 16px;
	}

	.serp-description {
		font-size: 14px;
		line-height: 20px;
	}

	.serp-url-wrapper {
		display: flex;

		.serp-favicon {
			margin-top: 1px;
			margin-right: 12px;
			height: 16px;
		}

		.group {
			max-width: 250px;
		}
	}

	.serp-url {
		font-size: 12px;
		color: #3C4043;
		margin-bottom: 12px;
	}

	.group {
		max-width: 100%;
	}

	// Don't show desktop snippet
	.serp-snippet-data {
		display: none;
	}

	// Mobile Snippet
	.serp-snippet-mobile {
		display: flex;
		flex-direction: row;
		align-items: stretch;

		margin: 8px -5px 0;

		.inner-wrapper {
			color: #70757A;
			flex: 0 0 25%;
			margin-left: 5px;
			margin-right: 5px;
			height: 40px;

			.serp-mobile-label {
				display: block;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 4px;
				color: #202124;
				font-weight: 500;
			}

			&:first-of-type {
				flex: 0 0 50%;
			}

			.serp-rating-count {
				float: left;
			}

			.serp-rating {
				float: left;
				margin-left: 5px;
			}
		}

		.serp-rating-count {
			color: #808080;
		}

		.serp-preview-footer {
			display: none;
		}
	}
}

// RTL
body.rtl {
	.serp-preview-bg {
		.serp-preview- {
			&input {
				input {
					padding-right: 16px;
					padding-left: 9px;
				}

				.serp- {
					&search {
						right: auto;
						left: 15px;
					}

					&mic {
						right: auto;
						left: 50px;

						padding-right: 8px;
						padding-left: 2px;
					}
				}
			}

			&menus {
				ul,
				li {
					float: right;

					&.menus-right {
						float: left;
					}
				}
			}
		}
	}

	.mobile-preview {
		.serp-preview-bg .serp-preview-input .serp-search {
			left: 0;
			border-radius: 20px 0 0 20px;
		}

		.serp-url-wrapper .serp-favicon {
			margin-right: 0;
			margin-left: 12px;
		}
	}
}
