// main: ../../metabox.scss

%test-icon {
	font-family: dashicons;
	font-size: 18px;
	line-height: 1;

	float: left;

	margin: 4px 10px 0 -30px;

	content: '\f335';

	color: #fff;
	border: 1px solid #f29c96;
	border-radius: 50em;
	background: #f29c96;

	@include size(18px);
}

%test-passed-icon {
	content: '\f147';

	border-color: $success;
	background: $success;
}

.#{$namespace}-serp {
	&-checklist {
		margin-bottom: -1.825rem;

		.group-handle {
			position: relative;

			margin: 0 -1.875rem;
			padding: 1rem 1.875rem;

			cursor: pointer;
			border-top: 1px solid $gray;
			display: flex;
			flex-flow: row wrap;
		}

		h4 {
			font-size: 15px;
			font-weight: 500;
			margin: 0;

			color: $text;
		}

		.group-handlediv {
			cursor: pointer;
			transform: translateY(-50%);

			border: 0;
			background: 0;

			@include position(absolute, 50% 10px null null);

			&:focus {
				outline: 0;
				box-shadow: none;
			}
		}
	}

	&-group {
		&:first-of-type {
			margin-top: 0;
		}

		ul {
			padding: 0 0 1rem 0;
		}

		li {
			font-size: 15px;
			line-height: 28px;

			position: relative;

			clear: both;

			padding-left: 30px;

			color: darken( $dark_gray, 15 );

			&:before {
				@extend %test-icon;
			}

			section {
				display: none;
			}
		}

		.test-ok, .test-gallery {
			.#{namespace}-tooltip {
				display: none;
			}

			&:before {
				@extend %test-passed-icon;
			}
		}

		// Partially passed test.
		.test-check {
			&-good:before {
				background: #fff;
				color: $success;
				box-shadow: inset 0 0 0 1px $success;
			}

			&-ok:before {
				background: #fff;
				color: $warning;
				border-color: $warning;
				box-shadow: inset 0 0 0 1px $warning;
			}

			&-bad:before {
				background: #fff;
				color: #f29c96;
				border-color: #f29c96;
				box-shadow: inset 0 0 0 1px #f29c96;
			}
		}

		.#{$namespace}-tooltip {
		}

		.toggle-indicator:before {
			font: normal 20px/1 dashicons;

			display: inline-block;

			content: '\f142';
			text-decoration: none !important;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.#{$namespace}-group-score {
			font-size: 11px;
			font-weight: normal;
			line-height: 21px;
			padding: 0 10px 0 7px;
			letter-spacing: .05em;
			color: #fff;
			border-radius: 20em;
			background: $color-bad;
			margin-top: -2px;
			margin-left: 10px;

			&:before {
				font-family: dashicons;
				font-size: 13px;
				line-height: 12px;
				content: '\f335';
				margin-top: 3px;
				margin-right: 2px;
				vertical-align: middle;
			}

			&.test-ok {
				background: $color-good;

				&:before {
					content: '\f147';
					background-color: transparent;
					border: none;
				}
			}
		}

		&.state-closed {
			.group-handle {
				background: #f8f9fa;
			}

			ul {
				display: none;
			}

			.toggle-indicator:before {
				content: '\f140' !important;
			}
		}
	}
}

.#{$namespace}-serp-group {
	li.seo-check-calculateFleschReading {
		&.okay,
		&.fairlyDifficult {
			&:before {
				border-color: #ffbe5f;
				background: #ffbe5f;
			}
		}

		&.difficult {
			&:before {
				border-color: #f29c96;
				background: #f29c96;
			}
		}
	}
}
