// main: ../../metabox.scss

#setting-panel-social {
	.#{$namespace}-tab {
		padding: 30px 0 0;
	}

	.#{$namespace}-social-preview + .notice {
		margin-top: 20px;
	}

	.cmb-row.cmb-row-33 {
		vertical-align: top;
		min-height: 118px;
	}
}

.#{$namespace}-social-preview {
	&-button {
		font-size: 13px;

		display: inline-block;

		padding: 4px 8px;

		text-decoration: none;
		text-transform: uppercase;

		color: #555555;
		border: 0;
		outline: none;
		background: #ededee;
		box-shadow: none !important;

		.dashicons {
			@include position( relative, -2px null null null );
		}

		@at-root .open & {
			color: #fff;
			background: $primary;
		}
	}

	&-item {
		display: none;
		max-width: 500px;
		padding: 30px 0;
		margin: 0 auto;
		box-sizing: border-box;

		&-wrapper {
			overflow: hidden;
			max-width: 100%;
			margin: auto;

			background: #fff;
			border: 1px solid #dddfe2;
			border-radius: 0 0 3px 3px;

			box-sizing: border-box;
		}

		.error-msg {
			width: 528px;
			max-width: 100%;
			margin: auto;
			padding-top: 10px;
			display: none;
			line-height: 1;

			&.show {
				display: block;
			}
		}
	}

	&-image {
		line-height: 0;

		position: relative;
		z-index: 1;

		img {
			display: none;
			max-width: 100%;
			height: auto;

			min-height: initial;
		}

		&-overlay {
			@include position( absolute, 50% null null 50% );
			transform: translate(-50%, -50%) scale(0.45);
		}

		.error-msg { display: none; line-height: 1 }
	}

	& #{&}-caption {
		font-size: 12px;
		background: #f2f3f5;

		padding: 10px 10px 5px;

		color: #1d2129;
	}

	& #{&}-title {
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;

		margin:0 0 6px;
		padding: 0;

		letter-spacing: normal;
		word-wrap: break-word;
	}

	&-description,
	&-publisher {
		line-height: 16px;

		margin: 0;
	}

	&-publisher {
		font-size: 12px;
		font-weight: normal;

		padding-top: 3px;
		padding-bottom: 3px;

		color: #90949c;

		&.facebook {
			text-transform: uppercase;
		}
	}

	&-meta {
		display: none;
		margin: 0 auto;
		clear: both;
		display: block;
		position: relative;
		margin-bottom: 15px;

		.social-profile-image {
			width: 46px;
			height: 46px;
			background: #dcc7c7;
			border-radius: 50%;
			float: left;
			position: absolute;
			left: -58px;
		}

		.social-name {
			color: rgb(20, 23, 26);
			font-size: 14px;
			font-weight: 700;
		}

		.social-username, .social-time {
			font-size: 12px;
			color: rgb(101, 119, 134);
			font-weight: normal;
			margin-left: 5px;
		}

		.social-time:before {
			content: "\00B7";
			margin-right: 5px;
		}

		.social-text {
			margin-top: 5px;
		}
	}

	&-facebook {
		.#{$namespace}-social-preview-button strong:before {
			content: attr(data-facebook);
		}
		.facebook-thumbnail {
			display: block;
		}

		.no-facebook-image {
			.facebook-thumbnail {
				display: none
			}
		}

		.#{$namespace}-social-preview-meta.twitter-meta { display: none; }

		.#{$namespace}-social-preview-description {
			color: #606770;
			overflow: hidden;
			max-height: 1.3em;
			margin-bottom: 5px;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.#{$namespace}-social-preview-meta {
			display: block;
			min-height: 66px;
			background: #fff;
			border: 1px solid #dddfe2;
			border-bottom: 0;
			border-radius: 3px 3px 0 0;
			padding: 12px;
			margin-bottom: 0;
			box-sizing: border-box;

			.social-profile-image {
				width: 40px;
				height: 40px;
				left: auto;
				position: relative;
				margin-right: 10px;
				margin-left: -2px;
			}

			.social-name {
				color: #365899;
				margin-bottom: 3px;
			}

			.social-time {
				&:before {
					display: none;
				}

				span{
					width: auto;

					&:first-child:after {
						content: "\00B7";
						margin: 0 5px;
					}

					svg {
						vertical-align: middle;
					}
				}
			}

			.dashicons.dashicons-admin-site {
				font-size: 12px;
				line-height: 18px;
			}
		}

		.twitter {
			display: none;
		}

	}

	&-twitter {

		&.app,
		&.player {
			display: none !important;
		}

		.#{$namespace}-social-preview {

			&-item {
				max-width: 582px;
				padding-left: 58px;
			}

			&-meta {
				.social-text, .social-username, .social-time {
					font-size: 14px;
				}
			}

			&-item-wrapper {
				max-width: 100%;

				border: 1px solid rgb(204, 214, 221);
				border-radius: 14px;

				clear: both;

				.twitter-thumbnail {
					display: block;
					max-width: 100%;
				}

				.#{$namespace}-social-preview-caption { background: #ffffff; }

				&:hover {
					background: #F5F8FA;

					.#{$namespace}-social-preview-caption { background: #F5F8FA; }
				}
			}

			&-title {
				font-weight: normal;
				color: rgb(20, 23, 26);

				overflow: hidden;

				margin-bottom: 2px;

				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&-description {
				font-size: 15px;
				line-height: 1.3125;
				color: rgb(101, 119, 134);

				overflow: hidden;

				max-height: 4.5em;
			}

			&-publisher {
				font-size: 15px;
				padding-top: 5px;

				svg {
					width: 15px;
					fill: currentColor;
					margin-right: 5px;
					vertical-align: -5px;
				}

				&.facebook {
					display: none;
				}
			}
		}

		.no-twitter-image {
			.twitter-thumbnail {
				display: none
			}
		}

		.#{$namespace}-social-preview-button strong:before {
			content: attr(data-twitter);
		}

		&.summary_card {
			.#{$namespace}-social-preview {
				&-image {
					float: left;

					img {
						@include size(125px);
					}
				}

				&-caption {
					overflow: hidden;
					box-sizing: border-box;
					max-height: 125px;
					padding: 5px 0 0 15px;
				}
			}
		}

		.#{$namespace}-social-preview-meta.facebook-meta { display: none; }
		.#{$namespace}-social-preview-meta.twitter-meta { display: block; }
	}
}

body.rtl {
	.social-tabs-navigation a .dashicons, .rank-math-editor-social .components-tab-panel__tabs .dashicon {
		margin-right: 0;
		margin-left: 8px;
	}

	.rank-math-social-preview-facebook .rank-math-social-preview-meta .social-profile-image {
		float: right;
		margin-right: 0;
		margin-left: 10px;
	}

	.rank-math-social-preview-twitter .rank-math-social-preview-item {
		padding-left: 0;
		padding-right: 58px;
	}

	.rank-math-social-preview-twitter .social-profile-image {
		right: -58px;
		left: auto;
	}
}
