// main: ../../metabox.scss
.suggestion-item {
	overflow: hidden;
	margin-bottom: 5px;
	padding-bottom: 5px;

	border-bottom: 1px dotted $gray;

	a {
		text-decoration: none;
		box-shadow: none !important;
	}

	.suggestion-actions {
		float: right;

		margin-left: 5px;
	}

	.dashicons {
		cursor: pointer;
		background: none;
		box-shadow: none;
		border: 0;
		position: relative;
		width: 20px;
		height: 20px;
		margin-top: 5px;
		margin-left: 2px;
		margin-right: 2px;
		padding: 0px;
		display: inline-block;
	}
	.dashicons-admin-links::before {
		position: absolute;
		top:0px;
		left:0px;
	}
	.dashicons-clipboard::before {
		position: absolute;
		top:0px;
		left:0px;
	}
}

#rank_math_keyword_density {
	font-weight: 600;

	display: none;
	float: right;

	cursor: pointer;

	color: #888;
	span {
		float: right;
	}
	.inner-wrapper {
		position: absolute;
		z-index: 1;
		right: 30px;

		margin-top: 8px;
		padding: 5px 15px;

		background: #fff;
		box-shadow: 0 1px 1px rgba(0,0,0,.1);
		ul {
			margin-top: 15px;
		}
	}
	&.state-closed {
		span:before {
			content: '\f140' !important;
		}
		.inner-wrapper {
			display: none;
		}
	}
}
#rank_math_metabox_link_suggestions {
	.postbox-header .hndle{
		justify-content:normal;
	}
}
