// compileCompressed: $1.css
/*!
 * Plugin:	Rank Math - Version Control
 * URL:		https://rankmath.com/wordpress/plugin/seo-suite/
 * Name:	version-control.css
 */
.rank-math-rollback-form {

	.loading-indicator-text {
		line-height: 2;
	}

	iframe, a[target="_parent"] {
		display: none;
	}

	.rollback-warning {
		text-transform: uppercase;
		color: #F44336;
	}

	.rollback-version-label {
		color: #FF9800;
		font-weight: 500;
	}

	th, td {
		padding: 10px 5px 10px 0;
	}

	.update-link {
		margin-left: 4px;
	}
}

.rank-math-beta-optin-form,
.rank-math-auto-update-form {
	th, td {
		vertical-align: middle;
		padding: 0 10px 0 0;
	}

	.cmb-row {
		border-bottom: none;
	}
}

.rank-math-rollback-status > .wrap {
	background: #fff;
	padding: 10px 20px;
	border: 1px solid #ddd;

	& > h1 {
		font-size: 22px;
		font-weight: bold;
	}
}
