@mixin base-button-input-select-textarea {
	// button, input, select, textarea
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

@mixin base-input-textarea {
	// input, textarea
	font-size: 14px;

	&:read-only {
		background-color: $gray-30;
	}
}

@mixin base-input-select {
	// input, select
	margin: 0 1px;
}

@mixin base-input-select-textarea {
	// input, select, textarea
	box-shadow: 0 0 0 transparent;
	border-radius: 4px;
	border: 1px solid $border-highlight;
	background-color: $white;
  	color: $charcoal-gray;

	&:focus {
		border-color: $primary-light;
		box-shadow: 0 0 0 1px $primary-light;
		outline: 2px solid transparent;
	}

	&:disabled {
		background: $white-a50;
		border-color: $white-a75;
		box-shadow: inset 0 1px 2px $black-a4;
		color: $shadow-gray;
	}
}

@mixin metabox-input-focus {
	background-color: $white;
	box-shadow: 0 0 0 1px $primary;
	border-color: $primary;
	outline: none;
}

@mixin metabox {
	width: 100%;
	height: 40px;
	padding: 0.75em 0.6em;
	border-color: $dark_gray;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

	&:hover:not(:disabled) {
		border-color: $primary;
		outline: none;
	}

	&:focus:not(:disabled) {
		@include metabox-input-focus;
	}
}

@mixin base-input-style {
	@include base-button-input-select-textarea;
	@include base-input-textarea;
	@include base-input-select;
	@include base-input-select-textarea;
}

@mixin base-textarea-style {
	@include base-button-input-select-textarea;
	@include base-input-textarea;
	overflow: auto;
	padding: 2px 6px;
	line-height: 1.42857143;
	resize: vertical;
	@include base-input-select-textarea;
}

@mixin base-select-style {
	@include base-button-input-select-textarea;
	@include base-input-select;
	@include base-input-select-textarea;
}
