/* Styles the menu of the SelectWithSearch and SelectVariable components */
@mixin select-menu($margin, $width) {
	margin-bottom: 0;
	
	.components-input-control__container {
		background-color: transparent;

		.components-input-control {
			&__input {
				@include input-style;

				width: $width;
				max-width: 100%;
				height: 34px;
				min-height: 30px;
				padding: 0 8px;
				margin: $margin;
				border-color: $gray;

				background: $white;
				font-size: 14px;
				line-height: 2;
	
				&:focus {
					border-color: $primary;
					box-shadow: 0 0 0 1px $primary !important;
					outline: 2px solid transparent;

					background-color: $white;
				}
			}
	
			&__suffix {
				display: none;
			}
	
			&__backdrop {
				border: 0;
				box-shadow: none;
				outline: none;
			}
		}
	}
}

/* Removes button box shadow in all pointer states */
@mixin remove-box-shadow {
	box-shadow: none;
	outline: none;

	&:hover,
	&:focus,
	&:active {
		&:not(:disabled) {
			box-shadow: none;
			outline: none;
		}
	}
}

/* Centers a flexbox in the middle of its container */
@mixin flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	text-align: center;
}

/* Centers a flexbox horizontally */
@mixin flex-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Styles the size of a font icon, dashicon and svg */
@mixin icon-size($size) {
	i, 
	svg,
	.dashicons {
		margin: 0 !important;
	}

	i, 
	.dashicons {
		font-size: $size !important;
	}

	.dashicons {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		width: $size !important;
		height: $size !important;
	}

	svg {
		width: $size;
		height: $size;

		path {
			fill: currentColor;
			fill-opacity: 1;
		}
	}
}

/* Styles the normal state of the secondary button variant */
@mixin secondary-button-styles {
	color: #a7aaad !important;
	background-color: $tertiary-light !important;
	border-color: #dcdcde !important;
}

/* Styles the checkbox and radio element */
@mixin checkbox-radio-style {
	display: inline-block;

	width: 1rem;
	min-width: 1rem;
	height: 1rem;
	padding: 0 !important;
	margin: 0 5px 0 0;
	border: 1px solid $border-highlight;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px $black-a10;
	outline: 0;

	color: $black-45;
	background: $white;
	line-height: 0;
	text-align: center;
	vertical-align: -3px;

	clear: none;
	transition: 0.05s border-color ease-in-out;

	@media screen and (max-width: 782px) {
    	width: 1.5625rem;
		height: 1.5625rem;
		max-width: 1.5625rem;
	}
}

/* Styles the checkbox and radio element in disabled state */
@mixin checkbox-radio-disabled {
	border-color: $white-a75;
	box-shadow: inset 0 1px 2px $black-a4;

	color: $black-30;
	opacity: 0.7;
	background: $white-a50;

	pointer-events: none;

	+ label {
		pointer-events: none;
	}
}

/* Styles all form control labels. */
@mixin form-control-label {
	color: $text;
	font-size: 14px;
	line-height: 16px;
	vertical-align: middle;

	cursor: pointer;
}

/* Styles the TextControl, TextareaControl and SelectControl component */
@mixin input-style {
	border-radius: 4px;
	border: 1px solid $border-highlight;
	box-shadow: 0 0 0 transparent;

	color: $black-60;
	background-color: $white;

	&:focus {
		border-color: $primary-light;
		box-shadow: 0 0 0 1px $primary-light;
		outline: 2px solid transparent;
	}

	&:disabled {
		border-color: $white-a75;
		box-shadow: inset 0 1px 2px $black-a4;

		color: $black-30;
		background: $white-a50;
	}
}

/*
 * Styles the metabox variant of the TextControl, TextareaControl,
 * SelectControl and SelectWithSearch component 
 */
@mixin metabox {
	width: 100%;
	height: 40px;
	padding: 0.75em 0.6em;
	border-color: $dark_gray;

	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

	&:hover:not(:disabled) {
		border-color: $primary;
		outline: none;
	}

	&:focus:not(:disabled) {
		box-shadow: 0 0 0 1px $primary;
		border-color: $primary;
		outline: none;
		
		background-color: $white;
	}
}
