// Border mixins
@mixin border-default {
	border: 1px solid #949494;
}
@mixin border-blue {
	border: 1px solid $blue-100;
}
@mixin border-lightgray  {
	border: 1px solid #E0E0E0;
}

// Border radius mixins
@mixin radius-xs {
	border-radius: 2px;
}
@mixin radius-sm {
	border-radius: 4px;
}

// Gap mixins
@mixin gap-sm {
	gap: 4px;
}
@mixin gap-base {
	gap: 6px;
}
@mixin gap-md {
	gap: 8px;
}
@mixin gap-lg {
	gap: 12px;
}
@mixin gap-xl {
	gap: 16px;
}

// Disabled styles mixins
@mixin disabled-style {
	background-color: $gray-30;
	@include disabled-border-color;
	@include disabled-text-color;
	pointer-events: none;
}
@mixin disabled-border-color {
	border-color: $gray-50;
}
@mixin disabled-text-color {
	color: $gray-50;
}

// Box shadow mixins
@mixin remove-box-shadow {
	box-shadow: none;
	outline: none;

	&:hover, &:active, &:focus {
		&:not(:disabled) {
			box-shadow: none;
			outline: none;
		}
	}
}

// Vertical alignment mixins
@mixin center-float-vertically {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// Flexbox mixins
@mixin flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
@mixin flex-align($direction: row, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
}

// Check icon wrapper
@mixin icon-wrapper {
	width: 16px;
	height: 16px;
	@include flex-center;
	border-radius: 8px; 
	color: $white;
	font-size: 9px;
}

// Mixin function used to style the button icon.
@mixin icon-size($size) {
	i, svg, .dashicons {
		margin: 0 !important;
	}

	i, .dashicons {
		font-size: $size !important;
	}

	.dashicons {
		width: $size !important;
		height: $size !important;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	svg {
		width: $size;
		height: $size;

		path {
			fill: currentColor;
			fill-opacity: 1;
		}
	}
}

// Mixin for the base styles of a secondary button.
@mixin secondary-button-styles {
	color: #a7aaad !important;
	border-color: #dcdcde !important;
	background-color: $tertiary-light !important;
}