// Body Text mixins
@mixin body-xs {
	font-size: 11px;
	line-height: 13px;
}

@mixin body-sm {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

@mixin body {
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}

// Menu Text mixins
@mixin menu-text {
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

@mixin menu-text-sm {
	font-size: 12px;
	line-height: 14px;
}
