@import '@wordpress/components/build-style/style.css';
@import './partials/colors';
@import './partials/mixins';

// Primary-Outline Variant Variables
$color-bg--primary-outline: rgba($color-blue, 5%);
$color-bg--primary-outline--2: rgba($color-blue, 25%);

// Secondary Variant Variables
$color--secondary: lighten($color-black, 35%);
$color-box-shadow--secondary: $color-gray;
$color--secondary--hover--focus: lighten($color-black, 20%);
$color-bg--secondary--hover--focus: lighten($color-black, 97%);

// Tertiary-Outline Variables
$color-box-shadow--tertiary-outline: lighten($color-black, 60%);
$color-box-shadow--tertiary-outline--disabled-hover: lighten($color-black, 45%);
$color--tertiary-outline--hover--focus: lighten($color-black, 40%);
$color-bg--tertiary-outline--hover--focus:lighten($color-black, 98%);

// Tertiary Variables
$color--tertiary: $color-gray;

// Generic Variables
$color-destructive: mix($color-red, $color-black, 80%);
$color-destructive--hover: mix($color-red, $color-black, 61%);
$color-lightgray: darken($color-white, 1%);

.components-button {
	height: 32px;
	padding: 6px 14px;

	&.is-primary {
		&:disabled,
		&[aria-disabled="true"] {
			opacity: 0.3;
			color: rgba($color-white, 0.8);
		}

		&.is-destructive {
			&:active, &:focus {
				outline-color: $color-destructive;
				color: $color-white;

				&:hover {
					background-color: $color-destructive--hover;
					box-shadow: inset 0 0 0 1px $color-white, 0 0 0 var(--wp-admin-border-width-focus) $color-blue;
				}
			}
		}
	}

	&.is-secondary {
		@include button-secondary-style(
			$color--secondary, 
			$color-box-shadow--secondary, 
			$color--secondary--hover--focus,
			$color-bg--secondary--hover--focus,
			$color-box-shadow--secondary,
			$color-bg--secondary--hover--focus, 
			$color--secondary--hover--focus,
			lighten($color-black, 87%),
			$color-box-shadow--secondary,
			inherit,
			darken($color-white, 20%),
			$color-box-shadow--secondary
		);

		&.is-destructive {
			@include button-secondary-style(
				$color-destructive,
				$color-destructive,
				$color-destructive--hover,
				inherit,
				$color-destructive--hover,
				$color-lightgray,
				$color-destructive,
				darken($color-white, 5%),
				$color-destructive,
				inherit,
				inherit,
				$color-destructive
			);
		}
	}

	&.is-primary-outline {
		@include button-secondary-style(
			$color-blue,
			$color-blue,
			$color-blue,
			$color-bg--primary-outline,
			$color-blue,
			$color-bg--primary-outline,
			$color-blue,
			$color-bg--primary-outline--2,
			$color-blue,
			$color-blue,
			$color-bg--primary-outline--2,
			$color-blue
		);

		&.is-destructive {
			&:hover:not(:disabled) {
				background-color: transparent;
			}
		}
	}

	&.is-secondary-grey {
		background-color: $color-lightgray;

		&:hover, &:focus {
			background-color: lighten($color-black, 95%);
		}

		&.is-pressed {
			color: $color--secondary;
			background-color: $color-black;
		}
	}

	&.is-tertiary-outline {
		@include button-secondary-style(
			lighten($color-black, 55%),
			lighten($color-black, 85%),
			$color--tertiary-outline--hover--focus,
			$color-bg--tertiary-outline--hover--focus,
			$color-box-shadow--tertiary-outline--disabled-hover,
			$color-bg--tertiary-outline--hover--focus,
			$color--tertiary-outline--hover--focus,
			$color-box-shadow--tertiary-outline,
			inherit,
			inherit,
			darken($color-white, 15%),
			$color-box-shadow--tertiary-outline--disabled-hover,
		);
	}

	&.is-tertiary {
		color: $color--tertiary;

		&:hover:not(:disabled) {
			background-color: darken($color-white, 3%);
			box-shadow: none;
		}

		&:active:not(:disabled), 
		&:focus:not(:disabled), 
		&:focus:hover:not(:disabled) {
			box-shadow: inset 0 0 0 1.5px $color--tertiary;
		}

		&:disabled,
		&[aria-disabled="true"],
		&:disabled:hover,
		&[aria-disabled="true"]:hover {
			background-color: transparent;
			opacity: 0.3;
		}
	}

	//Button Has Icon
	@include button-has-icon-style (
		32px,
		28px,
		16px,
		6px,
		10px,
		5px,
		15px
	);

	&.is-small {
		@include button-has-icon-style (
			24px,
			24px,
			13px,
			6px,
			6px,
			3px,
			13px
		);
	}

	&.is-large {
		height: 36px;
		line-height: 22px;
		padding: 12px 20px;

		@include button-has-icon-style (
			24px,
			32px,
			18px,
			12px,
			12px,
			5px,
			17px
		);
				
		&.has-icon{
			&:not(.has-text) {
				padding: 12px 10px;
			}
		}
	}
}
