@import '@wordpress/components/build-style/style.css';
@import './partials/colors';
@import './partials/mixins';

$color-bg--primary-outline: rgba($color-blue, 5%);
$color-bg--primary-outline--2: rgba($color-blue, 25%);
$color--secondary: lighten($color-black, 50%);
$color-box-shadow--secondary: lighten($color-black, 50%);
$color-box-shadow--tertiary-outline: lighten($color-black, 60%);
$color--tertiary: lighten($color-black, 50%);
$color-destructive: mix($color-red, $color-black, 80%);
$color-destructive--hover: mix($color-red, $color-black, 61%);

.components-button {
	height: 32px;
	padding: 6px 14px;

	&.is-primary {
		&:disabled,
		&[aria-disabled="true"] {
			opacity: 0.3;
			color: rgba($color-white, 0.8);
		}

		&.is-destructive {
			&:active, &:focus {
				outline-color: $color-destructive;
				color: $color-white;

				&:hover {
					background-color: $color-destructive--hover;
					box-shadow: inset 0 0 0 1px $color-white, 0 0 0 var(--wp-admin-border-width-focus) $color-blue;
				}
			}
		}
	}

	&.is-secondary {
		@include button-style(
			$color--secondary, 
			$color-box-shadow--secondary, 
			lighten($color-black, 20%),
			lighten($color-black, 97%),
			$color-box-shadow--secondary,
			lighten($color-black, 97%), 
			lighten($color-black, 20%),
			lighten($color-black, 87%),
			$color-box-shadow--secondary,
			inherit,
			darken($color-white, 20%),
			$color-box-shadow--secondary
		);

		&.is-destructive {
			@include button-style(
				$color-destructive,
				$color-destructive,
				$color-destructive--hover,
				inherit,
				$color-destructive--hover,
				darken($color-white, 1%),
				$color-destructive,
				darken($color-white, 5%),
				$color-destructive,
				inherit,
				inherit,
				$color-destructive
			);
		}
	}

	&.is-primary-outline {
		@include button-style(
			$color-blue,
			$color-blue,
			$color-blue,
			$color-bg--primary-outline,
			$color-blue,
			$color-bg--primary-outline,
			$color-blue,
			$color-bg--primary-outline--2,
			$color-blue,
			$color-blue,
			$color-bg--primary-outline--2,
			$color-blue
		);

		&.is-destructive {
			&:hover:not(:disabled) {
				background-color: transparent;
			}
		}
	}

	&.is-secondary-grey {
		background-color: darken($color-white, 1%);

		&:hover, &:focus {
			background-color: lighten($color-black, 95%);
		}

		&.is-pressed {
			color: $color--secondary;
			background-color: $color-black;
		}
	}

	&.is-tertiary-outline {
		@include button-style(
			lighten($color-black, 55%),
			lighten($color-black, 85%),
			lighten($color-black, 40%),
			lighten($color-black, 98%),
			lighten($color-black, 45%),
			lighten($color-black, 98%), 
			lighten($color-black, 40%),
			$color-box-shadow--tertiary-outline,
			inherit,
			inherit,
			darken($color-white, 15%),
			lighten($color-black, 45%),
		);
	}

	&.is-tertiary {
		color: $color--tertiary;

		&:hover:not(:disabled) {
			color: $color--tertiary;
			box-shadow: none;
			background-color: darken($color-white, 3%);
		}

		&:active:not(:disabled), 
		&:focus:not(:disabled), 
		&:focus:hover:not(:disabled) {
			box-shadow: inset 0 0 0 1.5px lighten($color-black, 50%);
		}

		&:disabled,
		&[aria-disabled="true"],
		&:disabled:hover,
		&[aria-disabled="true"]:hover {
			color: $color--tertiary;
			background-color: transparent;
			opacity: 0.3;
		}
	}

	&.has-icon{
		&:not(.has-text) {
			min-width: 32px;
			height: 28px;
			font-size: 16px;
		}

		&.has-text{
			justify-content: start;
			padding-right: 10px;
			padding-left: 10px;
			gap: 5px;

			i {
				font-size: 15px;
			}
		}
	}

	&.is-small {
		&.has-icon{
			&:not(.has-text) {
				min-width: 24px;
				height: 24px;
				font-size: 13px;
			}

			&.has-text{
				padding-right: 6px;
				padding-left: 6px;
				gap: 3px;
			}

			i {
				font-size: 13px;
			}
		}
	}

	&.is-large {
		height: 36px;
		line-height: 22px;
		padding: 12px 20px;

		&.has-icon{
			&:not(.has-text) {
				min-width: 24px;
				height: 32px;
				padding: 12px 10px;
				font-size: 18px;
			}

			&.has-text{
				padding-right: 12px;
				padding-left: 12px;
			}

			i {
				font-size: 17px;
			}
		}
	}
}
