@import '@wordpress/components/build-style/style.css';
@import './partials/variables';
@import './partials/mixins';

.components-checkbox-control {
	.components-checkbox-control__input-container {
		margin-right: $controls-margin;
		
		.components-checkbox-control__input {
			@include checkbox-radio-style();
		}
	}

	&.is-disabled {
		.components-checkbox-control__input {
			@include checkbox-radio-style--disabled();
		}

		.components-checkbox-control__label {
			pointer-events: none;
			opacity: 0.3;
		}
	}


	&.is-indeterminate,
	&.is-indeterminate ~ .components-checkbox-control {
		.components-checkbox-control__input {
			@include border-blue();

			&:focus {
				box-shadow: 0 0 0 1px $color-white, 0 0 0 $border-width--focus $color-blue;
			}

			&:disabled {
				background-color: $color-gray-lightest;

				&:checked {
					background-color: $color-blue;
				}
			}
		}
	}
}
