@import '@wordpress/components/build-style/style.css';

.components-button  {
  &:focus:not(:disabled) {
    outline: none;
    box-shadow: none;
  }

  &.connection-status-button {
    padding: 5px 10px;
    height: fit-content;
    font-size: 11px;
    gap: 6px;

    &.is-secondary {

      &:hover {
        box-shadow: none;
      }

      &:focus:not(:disabled) {
        outline: none;
        box-shadow: none;
      }
    }
    
    &.good {
      color: #62AE60;
      background-color: #E4F4E4;

      &:hover {
        background-color: #D7EFD7;
        color: #489F46;
      }

      &:active {
        background-color: #7AC979;
        color: #fff;
      }

      &:focus {
        background-color: #D7EFD7;
        color: #489F46;
      }
    }
    
    &.warning {
      color: #E29E3C;
      background-color: #FFF0DA;

      &:hover {
        background-color: #FFEACC;
        color: #D99124;
      }

      &:active {
        background-color: #FFBE5F;
        color: #fff;
      }

      &:focus {
        background-color: #FFEACC;
        color: #D99124;
      }
    }
    
    &.error {
      color: #E47E78;
      background-color: #FCEBEA;

      &:hover {
        background-color: #FBE1DF;
        color: #DA6961;
      }

      &:active {
        background-color: #F29C96;
        color: #fff;
      }

      &:focus {
        background-color: #FBE1DF;
        color: #DA6961;
      }
    }

    &.has-icon{
      &.has-text{
        justify-content: start;
        gap: 5px;
      }

      i {
        font-size: 17px;
      }
    }
  }
}
