@import '@wordpress/components/build-style/style.css';

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.components-custom-select-control {
  width: 15rem;

  &.is-disabled {
    pointer-events: none;
    opacity: 0.3;

    .components-input-control__container {
      background-color: #E3E3DD;

      .components-custom-select-control__button {
        &:focus {
          + .components-input-control__suffix {
            svg {
              transform: none;
            }
          }
        }
      }
    }

    .components-custom-select-control__menu {
      display: none;
    }
  }

  &.with-label {
    .components-input-control__container {
      .components-custom-select-control__button {
        text-align: right;
      }
    }

    .components-custom-select-control__menu {
      .components-custom-select-control__item {
        justify-content: end;
      }
    }

    .components-custom-select-control__label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      z-index: 50;
      text-transform: inherit;
      font-size: 13px;
      margin-bottom: 0;
    }
  }

  .components-input-control__container {
    .css-1t91ps2.css-1t91ps2.css-1t91ps2 {
      font-size: 13px;
    }

    .components-custom-select-control__button {
      &[aria-expanded="true"] {
        + .components-input-control__suffix {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .components-custom-select-control__menu {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-color: var(--wp-admin-theme-color);
    margin: 0;
    border-top: 0;
    min-width: 99%;

    .components-custom-select-control__item {
      &.is-highlighted {
        background-color: #F0F7FB;
        color: var(--wp-admin-theme-color);
        cursor: pointer;
      }
    }
  }
}
