@import '@wordpress/components/build-style/style.css';

.components-range-control {
  &.editor-score-bar {
    width: 25rem;

    .components-base-control__field {
      display: flex;
      align-items: center;
      margin: 0px;
    }

    .components-base-control__label {
      min-width: 3.25rem;
      margin: 0px;
      margin-top: 2px;
      cursor: default;
    }

    .components-range-control__slider {
      cursor: default;
    }

    .components-range-control__thumb-wrapper {
      display: none;
    }

    .css-1tw038v {
      height: 8px;
      background-color: #E4E4E4;
    }

    .components-range-control__track { 
      height: 8px;
    }

    &.bad-score {
      .components-range-control__track {
        background-image: linear-gradient(to right, #FFAEA8, #FF5D51);
      }
    }

    &.average-score {
      .components-range-control__track {
        background-image: linear-gradient(to right, #FEC879, #FEAB31);
      }
    }

    &.good-score {
      .components-range-control__track {
        background-image: linear-gradient(to right, #9AD398, #3CAB3A);
      }
    }
  }
}
