@import '@wordpress/components/build-style/style.css';
@import './partials/variables';

.file-uploader__wrapper {
  width: 35rem;
  background-color: #FCFCFC;
  border: 1px solid $color-border--gray-secondary;
  padding: 16px;

  .file-uploader__content {
    background-color: #F7F7F7;
    color: #909090;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23C7C7C7FF' stroke-width='2' stroke-dasharray='3%2c 4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    padding: 1.8rem 2.5rem;
    text-align: center;

    .file-uploader__is-uploading {
      color: #4A4A4A ;
    }

    .file-uploader__actions {
      display: flex;
      align-items: center;
      gap: 13px;

      .components-button {
        color: #757575;
      }
    }

    .file-uploader__uploaded-title {
      display: flex;
      align-items: center;
      color: #383838;
      gap: 5px;

      .icon {
        color: #4AB866;
        font-size: 1rem;
      }
    }
  }

  .file-uploader__content  .components-button {
    background-color: #fff;
    border: 1px solid #949494;
    color: #515151;
    gap: 6px;
    
    &:focus:not(:disabled) {
      box-shadow: none;
      outline: none;
    }
  }

  .file-uploader__content .components-range-control {
    width: 100%;

    .components-base-control__field {
      margin-bottom: 0px;
    }

    .components-range-control__slider {
      cursor: default;
    }

    .components-range-control__thumb-wrapper {
      display: none;
    }

    .components-range-control__track {
      color: #1A89C1;
    }
  }
}
