@import '@wordpress/components/build-style/style.css';
@import './partials/variables';

.components-menu-group {
  &.menu-list-popup {
    width: 13rem;
    border: 1px solid $color-border--gray-primary;
    padding: 1rem;

    .components-menu-group__label {
      display: none;
    }

     div[role="group"]  {
      row-gap: 0.3rem;
      display: flex;
      flex-direction: column;

      .components-menu-item__button {
        &:hover {
          color: var(--wp-admin-theme-color);
          background-color: transparent;
        }

        &:focus {
          color: inherit;
          background-color: transparent;
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--wp-admin-theme-color);
        }

        .components-menu-item__item {
          column-gap: 0.5rem;
          min-width: fit-content;
          margin-right: 0px;
          white-space: break-spaces;
          text-align: left;

          .components-menu-item__icon {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
