@import '@wordpress/components/build-style/style.css';
@import 'variables';

@mixin from-tablet {
  @media (min-width: 600px) {
    @content;
  }
}

.components-radio-control__input[type=radio] {
  border: 1px solid $radio-checkbox-border-color;
  margin-right: $control-gap;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    border: 1px solid $radio-checkbox-disabled-border-color;
    background-color: $radio-checkbox-disabled-bg;
    opacity: 0.3; 
    pointer-events: none;

    + label {
      opacity: 0.3;
      pointer-events: none;
    }

    &:checked {
      border: 1px solid var(--wp-admin-theme-color);
      background-color: var(--wp-admin-theme-color);
    }
  }

  @include from-tablet {
    &:checked::before{
      transform: translate(5.5px, 5px);
    }
  }
}