@import '@wordpress/components/build-style/style.css';

.components-button {
  &.score-button {
    &.is-secondary {
      box-shadow: none;
      padding: 8px 12px;
      height: fit-content;
      font-size: 12px;
      gap: 8px;

      &:hover {
        box-shadow: none;
      }

      &:focus:not(:disabled) {
        outline: none;
        box-shadow: none;
      }
    }

    &.rank-math {
      &.good {
        color: #7AC979;
        border: 1px solid #7AC979;

        &:hover {
          background-color: #F2F8F2;
          color: #3D993A;
        }

        &:focus {
          background-color: #7AC979;
          color: #fff;
        }
      }

      &.neutral {
        color: #E3A347;
        border: 1px solid #FFBE5F;

        &:hover {
          background-color: #FDF7EF;
          border-color: #E8B265;
          color: #DA9329;
        }

        &:focus {
          background-color: #FFBE5F;
          color: #fff;
          border-color: #FFBE5F;
        }
      }

      &.bad {
        color: #E37A73;
        border: 1px solid #F29C96;

        &:hover {
          background-color: #FDF5F4;
          border-color: #E68781;
          color: #DB6F67;
        }

        &:focus {
          background-color: #F29C96;
          color: #fff;
        }
      }
    }

    &.content-ai {
      &.good {
        color: #46A378;
        border: 1px solid #88CEAE;

        &:hover {
          background-color: #F1F8F5;
          color: #4FA77E;
          border-color: #9CCDB6;
        }

        &:focus {
          background-color: #6BC288;
          border-color: #6BC288;
          color: #fff;
        }
      }

      &.neutral {
        color: #D49517;
        border: 1px solid #F5C66A;

        &:hover {
          background-color: #FEFAF1;
          border-color: #ECB548;
          color: #C5880E;
        }

        &:focus {
          background-color: #F3BA49;
          color: #fff;
          border-color: #F3BA49;
        }
      }

      &.bad {
        color: #FB7184;
        border: 1px solid #F0909D;

        &:hover {
          background-color: #FFF4F6;
          border-color: #E6819A;
          color: #F76A7D;
        }

        &:focus {
          background-color: #F3808F;
          border-color: #F3808F;
          color: #fff;
        }
      }
    }

    &.has-icon{
      &.has-text{
        justify-content: start;
        gap: 8px;
      }

      i {
        font-size: 20px;
      }
    }
  }
}
