.option__container {
  .option__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .option__heading-title {
      font-weight: normal;
      font-size: 13px;
      margin: 0px;
    }

    .option__heading-subtitle {
      background-color: #F4F4F4;
      font-size: 13px;
      font-weight: 600;
      margin: 0px;
    }
  }

  .option__description {
    color: #888888;
  }
}