@import '@wordpress/components/build-style/style.css';
@import './partials/variables';

.sidebar-tab-panel {
	.components-tab-panel__tabs {
		border: 1px solid $color-border--gray-primary;
		width: fit-content;
		gap: 10px;

		&-item{
			color: #5F5F5F;
			padding: 3px 16px;
			background-color: transparent;

			&:hover {
				color: var(--wp-admin-theme-color);
			}

			.panel-has-icon {
				display: flex;
				align-items: center;
				gap: 5px;
				font-size: 1rem;

				.title {
					font-size: 13px;
					font-weight: normal;
					color: #5F5F5F;
					display: none;
				}
			}

			&:focus:not(:disabled) {
				box-shadow: none;
			}

			&.is-active{
				color: black;
				transition: 0.2s ease-in-out all;

				&:focus {
					box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) transparent, inset 0 -1.5px 0 0 var(--wp-admin-theme-color);
					position: relative;
				}

				.panel-has-icon {
					.title {
						display: block;
						color: black;
					}
				}
			}
		}   
	}
}
