@import '@wordpress/components/build-style/style.css';
@import 'variables';

.components-menu-group {
  width: 13rem;
  border: 1px solid $color-border-gray;
  padding: 1rem;

  .components-menu-item__button {
    border-radius: 0.25rem;

    &:hover {
      background-color: #F8F8F8;
      color: inherit;
    }

    &:focus {
      color: var(--wp-admin-theme-color);
      background-color: $color-hover-blue;
    }

    &.components-button {
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .components-menu-item__item {
      column-gap: 0.5rem;
      display: flex;
      align-items: center;

      .components-menu-item__icon {
        font-size: 0.9rem;
      }
    }
  }
}
