@import '@wordpress/components/build-style/style.css';
@import './partials/variables';


.switch-taps {
  .components-tab-panel__tabs {
    border: 1px solid $color-border--gray-primary;
    border-radius: 0.15rem;
    width: fit-content;
    gap: 7px;
    padding: 4px;
    
    &-item {
      color: #999999;
      padding: 0px 10px;
      border-radius: 0.15rem;
      height: fit-content;

      &:focus:not(:disabled) {
        box-shadow: none;
      }

      &.is-active{
        color: white;
        box-shadow: none;

        &:focus {
          box-shadow: none;
        }
      }

      .panel-has-icon {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1rem;

        .title {
          font-size: 13px;
          font-weight: normal;
          color: #5F5F5F;
          display: block;
        }
      }
    }   
  }

  &.is-black {
    .components-tab-panel__tabs {
      &:hover {
        border: 1px solid $color--tab-is-black--hover;
      }

      &-item { 
        &:hover {
          color: $color--tab-is-black--hover;
          background-color: $color-bg--tab-is-black--hover;

          .panel-has-icon {
            .title {
              color: $color--tab-is-black--hover;
            }
          }
        }

        &.is-active{
          background-color: $color-bg--tab-is-black--active;

          &:hover {
            color: $color--tab-is-black--active;
          }

          .panel-has-icon {
            .title {
              color: $color--tab-is-black--active;
            }
          }
        }
      }
    }
  }

  &.is-blue {
    .components-tab-panel__tabs {
      &:hover {
        border: 1px solid var(--wp-admin-theme-color);
      }

      &-item { 
        &:hover {
          color: var(--wp-admin-theme-color);
          background-color: $color-bg--hover-secondary;

          .panel-has-icon {
            .title {
              color: var(--wp-admin-theme-color);
            }
          }
        }

        &.is-active{
          background-color: var(--wp-admin-theme-color);

          &:hover {
            color: white;
          }

          .panel-has-icon {
            .title {
              color: white;
            }
          }
        }
      }
    }
  }

  &.icon-only {
    .components-tab-panel__tabs {
      &-item {
        padding: 6px;
        
        .panel-has-icon {
          .title {
            display: none;
          }
        }
      }
    }
  }
}