@import '@wordpress/components/build-style/style.css';

/* Variables */
$text-control-border-color: #A7A7A7;
$text-control-disabled-border-color: #F0F0F0;
$validation-success: #4AB866;
$validation-error: #FB7272;
$control-icon-bg: #F0F7FB;
$control-icon-disabled-color: gray;

.text-control-container {
  position: relative;

  input {
    &:disabled {
      background: $text-control-disabled-border-color;
      opacity: 0.3;
    }
  }

  .components-text-control__input, 
  .components-text-control__input[type="text"] {
    border: 1px solid $text-control-border-color;

    &:active:not(:disabled), &:focus:not(:disabled) {
      border-color: var(--wp-admin-theme-color);
    }
  }

  .components-text-control__input[type="number"] {
    padding-right: 3.7rem;
  }

  .components-base-control {
    &.is-success {
      input {
        border-color: $validation-success;
        background-color: #F9FDFA;
        padding-right: 1.6rem;

        &:active:not(:disabled), &:focus:not(:disabled) {
          border-color: $validation-success;
          box-shadow: 0 0 0 1px $validation-success;
        }
      }
    }

    &.is-error {
      input {
        border-color: $validation-error;
        background-color: #FFFAFA;
        padding-right: 1.6rem;

        &:active:not(:disabled), &:focus:not(:disabled) {
          border-color: $validation-error;
          box-shadow: 0 0 0 1px $validation-error;
        }
      }
    }
  }

  .hide-default-number-controls {
    input {
      -webkit-appearance: none;
      -moz-appearance: textfield;
      appearance: textfield;
      margin: 0;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }
    }
  }

  .text-control-icon {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    right: 0.5rem;

    .validation-icon {
      font-size: 0.8rem;

      &.is-error {
        color: $validation-error;
      }

      &.is-success {
        color: $validation-success;
      }
    }

    &.custom-number-controls {
      display: flex;
      align-items: center;
      font-size: 0.55rem;
      color: var(--wp-admin-theme-color);
      
      .control-icon {
        padding: 0.45rem;

        &:hover {
          background-color: $control-icon-bg;
        }

        &.is-disabled {
          color: $control-icon-disabled-color;
           background-color: transparent;
        }
      }
    }
  }
}