@import '@wordpress/components/build-style/style.css';
@import './partials/variables';
@import './partials/colors';
@import './partials/mixins';

// Validation Variables
$color-validation-success: lighten($color-green, 10%);
$color-bg-validation-sucess: lighten($color-green, 74%);
$color-validation-error: lighten($color-red, 10%);
$color-bg-validation-error: lighten($color-red, 49%);

.text-control-container {
	position: relative;

	.components-base-control {
		&.is-success {
			@include text-control-validation($color-validation-success, $color-bg-validation-sucess);
		}

		&.is-error {
			@include text-control-validation($color-validation-error, $color-bg-validation-error);
		}

		&.hide-default-number-controls {
			input {
				-webkit-appearance: none;
				-moz-appearance: textfield;
				appearance: textfield;
				margin: 0;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					appearance: none;
					margin: 0;
				}
			}
		}

		.components-base-control__field {
			margin-bottom: 0px;

			.components-text-control__input {
				@include border-default();

				&:active:not(:disabled),
				&:focus:not(:disabled) {
					border-color: $color-blue;
				}

				&::placeholder {
					color: $color-placeholder--inputs;
					@include font-size-small();
				}

				&[type="number"] {
					padding-right: 3.7rem;
				}

				&:disabled {
					background: $color-bg--inputs-disabled;
					opacity: 0.5;
				}
			}
		}
	}

	.text-control-icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0.5rem;

		.text-control-icon__validation {
			@include font-size-small();

			&.is-error {
				color: $color-validation-error;
			}

			&.is-success {
				color: $color-validation-success;
			}
		}

		&.custom-number-control {
			display: flex;
			align-items: center;
			font-size: 0.55rem;
			color: $color-blue;
			
			.custom-number-control__icon {
				padding: 0.45rem;

				&:hover {
					background-color: $color-bg--hover-primary;
				}

				&.is-disabled {
					pointer-events: none;
					color: $color-gray;
					background-color: transparent;
					opacity: 0.5;
				}
			}
		}
	}
}
