@import '@wordpress/components/build-style/style.css';
@import './partials/variables';
@import './partials/mixins';

.components-toggle-control { 
	.components-base-control__field {
		.components-form-toggle {
			margin-right: 0px;

			~ .css-1aagzef {
				gap: $controls-margin;
			}

			.components-form-toggle__input {
				&:focus + .components-form-toggle__track {
					box-shadow: none;
					outline: none;
				}
			}

			&.is-disabled {
				pointer-events: none;
				
				.components-form-toggle__track {
					background-color: $controls-bg--disabled;
				}

				+ .components-toggle-control__label {
					@include disabled-opacity-default();
				}
			}
		}
	}
}
