@import '@wordpress/components/build-style/style.css';

.components-toggle-control { 
  .components-base-control__field {
    .css-1aagzef {
      gap: 8px;
    }

    .components-form-toggle {
      margin-right: 0px;

      &.is-disabled {
        .components-form-toggle__track {
          background-color: gray;
        }

        + .components-toggle-control__label {
          opacity: 0.3;
        }
      }

      .components-form-toggle__input {
        &:focus + .components-form-toggle__track {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}