@mixin border-default() {
	border: 1px solid $gray-light;
}
@mixin border-blue() {
	border: 1px solid $blue;
}
@mixin border-light()  {
	border: 1px solid $gray-lightest;
}

@mixin border-radius-small() {
	border-radius: 0.15rem;
}

@mixin gap-small() {
	gap: 5px;
}
@mixin gap-medium() {
	gap: 10px;
}
@mixin gap-large() {
	gap: 15px;
}

@mixin disabled-style() {
	@include disabled-opacity();
	background: $gray-lightest;
	color: $gray;
	pointer-events: none;
}
@mixin disabled-opacity() {
	opacity: 0.4;
}

@mixin remove-box-shadow() {
	&:hover:not(:disabled),
	&:active:not(:disabled),
	&:focus:not(:disabled) {
		box-shadow: none;
		outline: none;
	}
}

@mixin box-shadow-small() {
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
@mixin box-shadow-primary() {
	box-shadow: 0 0 0 1px $white, 0 0 0 $border-width--focus $blue;
}

@mixin center-float-vertically() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
@mixin flex-center($direction: column) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
	text-align: center;
}
@mixin flex-align($direction: row, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

@mixin align-button-text() {
	&.has-text{
		justify-content: start;
		gap: 8px;
	}
}

@mixin tab-item-has-icon-style() {
	@include flex-align();
	@include font-size-regular();

	.title {
		@include font-size-small();
		font-weight: normal;
	}
}

@mixin vertical-menu-style() {
	@include border-light() ;
	width: 13rem;
	padding: 1rem;

	.components-menu-group__label {
		display: none;
		margin-bottom: 16px;
	}

	div[role="group"]  {
		display: flex;
		flex-direction: column;
		row-gap: 3px;

		.components-menu-item__button {
			padding: 10px 14px;

			&.components-button {
				height: fit-content;
			}

			.components-menu-item__item {
				min-width: fit-content;
				text-align: left;
				white-space: break-spaces;
				column-gap: 0.5rem;
				margin-right: 0px;

				.components-menu-item__icon {
					font-size: 0.9rem;
				}
			}
		}
	}
}
