@mixin border-default() {
	border: 1px solid $color-gray-light;
}

@mixin border-blue() {
	border: 1px solid $color-blue;
}

@mixin border-light() {
	border: 1px solid $color-gray-lighter;
}

@mixin border-radius-small() {
	border-radius: 0.15rem;
}

@mixin gap-small() {
	gap: 5px;
}

@mixin disabled-style() {
	@include disabled-opacity-default();
	background: $color-gray-lightest;
	color: $color-gray;
	pointer-events: none;
}

@mixin disabled-opacity-default() {
	opacity: 0.4;
}

@mixin box-shadow-default() {
	box-shadow: 0px 2px 4px $color-gray-lightest;
}

@mixin box-shadow-primary() {
	box-shadow: 0 0 0 1px $color-white, 0 0 0 $border-width--focus $color-blue;
}

@mixin center-vertically() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}