# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
*.bak

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules
dump.txt
stats.json
sitemap-cache/*
phpmd.html
config.json
package-lock.json

# Code Sniffers, Linters and Formaters
/wpcs

# Source Map Files
*.map
assets/.DS_Store
.DS_Store
vendor/wordpress-stubs.php
package-lock.json
remove_file_references.php
