{
	useTabs: true,
	tabWidth: 4,
	printWidth: 80,
	parser: "babel",
	singleQuote: true,
	trailingComma: "es5",
	bracketSpacing: true,
	parenSpacing: true,
	jsxBracketSameLine: false,
	semi: false,
	arrowParens: "always",
}
