// main: ../../setup-wizard.scss

.#{$namespace}-wizard .#{$namespace}-ui {

	@media screen and (max-width: 782px) {
		.button {
			padding: 0 20px;
			
			font-size: 15px;
		}
	}

	.field-type-multicheck .field-td button:first-of-type {
		margin: -1em 0 0;
	}

	.field-multicheck-toggle {
		display: block;

		padding: 0;
		margin-bottom: 1em;
		
		border: 0;
		box-shadow: none !important;
		
		color: $primary;
		background: transparent;
		
		cursor: pointer;

		&:focus,
		&:active { 
			transform: none;
			box-shadow: none;
			outline: none;
			
			color: $primary;
		}
	}
}

.form-footer:not(.rank-math-custom) {
	width: calc(100% + 80px);
	margin: 75px -40px -50px;

	border: 0;
	border-top: 1px solid $light_gray;
	border-radius: 0 0 5px 5px;

	overflow: hidden;

	.button {
		height: 48px;
		padding: 0 30px;

		font-size: 16px;
		line-height: 48px;

		&-secondary {
			margin-right: 10px;
		}
	}

	@media screen and (max-width: 375px) {
		.button.button-primary {
			float: none;
		}
	}
}
