// main: ../../setup-wizard.scss

.#{$namespace}-collapsible {
	&-trigger {
		letter-spacing: 0.5px;

		.dashicons {
			display: flex;
			align-items: center;

			width: 47px;
			
			font-size: 16px;

			span {
				font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
				font-size: 12px;
				color: rgba(#24292e,.65);
			}
		}
	}
}

.return-to-dashboard {
	padding-bottom: 50px;

	text-align: center;

	a {
		display: inline-block;
		
		border-bottom: 1px dotted;

		color: $dark_gray;
		font-size: 14px;
		text-align: center;
		text-decoration: none;

		&:hover, 
		&:focus {
			border-color: $primary;

			color: $primary;
		}
	}
	/* Applies styles when Reduced Motion is enabled */
	@media screen and (prefers-reduced-motion: reduce) {
		opacity: 1 !important;
	}
}

.field-wrap .field-row.features-child {
	margin-top: -5px;
	padding: 25px 20px !important;
	border-bottom-color: $tertiary;

	background: $tertiary;
}

.responsive-video {
	position: relative;
	overflow: hidden;

	padding-top: 56.25%;

	iframe {
		border: 0;
		@include size(100%);
		@include position(absolute, 0);
	}
}

.field-row.field-multicheck-inline {
	&.with-description .field-description,
	.rank-math-multicheck,
	.rank-math-multicheck li {
		display: inline-block;

		width: 48%;

		vertical-align: top;
	}

	.rank-math-multicheck {
		width: 420px;
		max-width: 100%;
		margin: 0;

		.rank-math-checkbox-control {
			margin: 0;
		}

		.components-checkbox-control__label {
			line-height: 20px;
		}
	}

	&.with-description {
		.field-td {
			width: 100%;
		}

		.rank-math-multicheck {
			padding-top: 20px;
		}

		.field-description {
			padding: 0;
			
			color: #21262c;
			font-size: 15px;
			line-height: 1.5;
		}
	}
}

[id^="field-metabox-rank"] select {
	padding-top: 0;
	padding-bottom: 0;
}
