// main: ../../setup-wizard.scss

.wizard-content--import {
	.import-plugin {
		display: flex;

		.field-th {
			width: 20%;
			padding: 0;

			h3 {
				padding: 0;
				margin: 1em 0;

				color: #1d2327;
				font-size: 18px;
			}
		}

		.field-td {
			width: 80%;
			padding: 0;

			.plugin-title  {
				position: relative;

				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

				&:not(:first-of-type) {
					margin-top: 8px;
				}

				.rank-math-checkbox-control {
					position: absolute;
					top: 50%;
					left: 20px;
					transform: translateY(-50%);
				}

				.components-button {
					display: flex;
					align-items: center;
					justify-content: space-between;
					
					width: 100%;
					height: auto;
					padding: 13px 20px 13px 50px;
					margin: 0;

					border-radius: 4px;
					box-shadow: none;
					outline: none;

					background-color: #f1f2f4;

					h3 {
						margin: 0;

						font-size: 18px;
					}
				
					.dashicons {
						display: flex;
						align-items: center;
						justify-content: center;

						width: 30px;
						min-width: fit-content;
						height: 30px;
						padding: 0;
						margin-left: auto;

						border-radius: 50%;
						box-shadow: 1px -1px 62px -13px rgba(0, 0, 0, 0.14);
						outline: none;
						
						color: #a4a4a4;
						background-color: $white;
					}
				}

				&.is-open .components-button {
					border-radius: 4px 4px 0 0;

					.dashicons {
						color: $white;
						background-color: #059de2;
					}
				}
			}

			.inside {
				padding: 30px 20px;
				margin: 0;
				border: 4px;

				background-color: $tertiary;

				.rank-math-button {
					padding: 0;
					min-height: fit-content;
					margin-bottom: 25px !important;

					border: 0;
					box-shadow: none;
					outline: none;

					color: #0474ab !important;
					background: 0;

					font-size: 15px;
					line-height: 1.5;
				}

				ul {
					margin-top: 0;

					li {
						display: inline-block;

						width: 48%;
						margin-bottom: 9px;

						vertical-align: top;

						.rank-math-checkbox-control {
							width: 100% !important;

							.components-checkbox-control__label {
								color: #24292e;
								font-size: 16px;
								
								.rank-math-tooltip {
									margin-left: 4px;
								}
							}
						}
					}
				}

				.description {
					width: 100%;
					margin-top: 20px;

					color: #888;
					font-size: 13px;
					font-style: italic;

					+ .rank-math-checkbox-control label {
						color: #888;
						font-size: 13px;
						font-style: italic;
						letter-spacing: 0.01em;
						line-height: 1.3;
					}
				}
			}
		}
	}

	.rank-math-textarea-control {
		float: right;

		width: 100%;
		margin: 20px 0;

		&.components-base-control .components-textarea-control__input:disabled {
			background: #eee;
		}
	}

	@media screen and (max-width: 782px) {
		.import-plugin {
			flex-direction: column;

			.field-td,
			.field-th {
				width: 100%;
			}
		}
	}	
}

#import-progress-bar {
	color: #959798;
	font-size: 15px;

	#importProgress {
		margin-top: 40px;
		margin-bottom: 10px;
		border-radius: 50px;

	    background-color: #dddfe0;

		#importBar {
		    width: 1%;
		    height: 8px;

			border-radius: 50px;
		 
			background-color: $primary;
			
			transition: width 1s;
		}
	}

	.left {
		float: left;

		strong {
			color: #65676a;
		}
	}

	.right {
		float: right;
	}
}
