// main: ../../setup-wizard.scss

.wizard-navigation {
	display: flex;
	text-align: center;
	justify-content: space-between;
	
	margin: 50px auto 0;

	a {
		display: block;
		flex: 1;

		position: relative;
		
		color: #5b6065;
		font-size: 13px;
		letter-spacing: 0.5px;
		text-transform: uppercase;

		&:before {
			display: block;
			content: attr(title);

			padding-bottom: 10px;

			color: #5b6065;
			font-weight: 600;
		}

		&:after {
			content: '';

			transform: translate(-50%, 23px);

			background-color: #cbd2d9;

			@include size(100%, 3px);
			@include position(absolute, 15px null null 0);

			pointer-events: none;
		}
	}

	span {
		display: inline-block;

		position: relative;
		z-index: 10;
		
		border: 2px solid #cbd2d9;
		border-radius: 50%;
		box-shadow: inset 0 0 0 2px $white;
		
		background: #cbd2d9;
		line-height: 20px;
		
		@include size(18px);
	}

	.step-label {
		&:before {
			color: $primary;
		}

		&:after {
			display: none;
		}

		+ a:after {
			transform: translate(-60%, 23px);

			width: 162%;
		}
	}

	// States
	a.active {
		span {
			border: 2px solid $primary;
			box-shadow: inset 0 0 0 2px $white;
			
			color: $white;
			background: $primary;
		}

		&:after {
			background: linear-gradient(to right, $success 0%, $primary 100%);
		}

		&:before {
			color: $primary;
		}
	}

	a.done {
		span {
			border-color: $success;
			box-shadow: inset 0 0 0 2px $white;
			
			color: $white;
			background-color: $success;
		}

		&:after {
			background-color: $success;
		}
	}
}
