// main: ../../setup-wizard.scss

.#{$namespace}-wizard {
	color: $text;
	background: $gray-20;

	*:focus {
		outline: none;
		box-shadow: none;
	}

	a {
		text-decoration: none;
	}

	.notice-error {
		position: relative;

		margin-right: auto;
		margin-left: auto;

		background: #ffebee;
	}

	.text-center {
		color: $dark_gray;
		font-size: 1rem;
		font-weight: normal;
		text-align: center;
	}

	.#{$namespace}-gray-box {
		padding: 25px 35px;
		margin-top: 2rem !important;	
		border-radius: 5px;

		background: #f5f5f5;
	}

	.header {
		max-width: 970px;
		margin: 75px auto 0;
	}

	.wrapper {
		max-width: 970px;
		padding: 42px 40px 50px;
		margin: 35px auto 45px;
		box-sizing: border-box;
		border-radius: 5px;
		box-shadow: 0 2px 6px rgba(50,50,93,0.05), 0 1px 3px rgba(0,0,0,0.05);

		background: $white;
	}

	.main-content {
		> header,
		header.sitemap-title,
		header.redirections-header {
			margin-bottom: 40px;

			text-align: center;

			h1 {
				font-size: 30px;
				font-weight: 700;

				margin: 0 0 14px;
			}

			p {
				font-size: 15px;

				max-width: 600px;
				margin: 10px auto;

				color: $dark_gray;
			}
		}

		> .notice {
			display: none;
		}

		header.redirections-header {
			margin-bottom: 0;

			h1 {
				margin-top: 0.67em;
			}
		}

		header.sitemap-title {
			padding-top: 45px;
			margin-top: 38px;
			border-top: 1px solid $light_gray;
		}
	}

	.rank-math-steps-progress {
		display: block;

		margin-top: 50px;

	}

	@media screen and (max-width: 782px) and (max-width: 595px) {
		.main-content {
			> header,
			header.sitemap-title,
			header.redirections-header {
				h1 {
					font-size: 24px;
				}

				p {
					margin-top: 10px;
				}
			}
		}

		.rank-math-steps-progress {
			margin-top: 25px;
		}
	}
}
