// main: ../../setup-wizard.scss

.#{$namespace}-wizard-body--ready {
	.cmb-form > header {
		h1 {
			font-size: 20px;
		}
		.dashicons-yes {
			@extend %header-icon;
		}
	}

	.wizard-next-steps {
		margin-top: 60px;

		> div {
			float: left;
			box-sizing: border-box;
			width: 50%;
		}

		.learn-more {
			padding-left: 35px;

			h2 {
				margin-top: 0;
			}

			li {
				font-size: 18px;
				line-height: 1.5;

				margin-bottom: 12px;
			}

			a {
				color: #089ce6;
			}

			.dashicons {
				font-size: 24px;

				margin-top: 2px;
				margin-right: 13px;

				color: #bcbdbf;
			}
		}
	}

	.score-100 {
		margin-top: -20px;

		text-align: right;

		img {
			max-width: 250px;
		}
	}

	.#{$namespace}-additional-options {
		text-align: center;
		margin-top: 60px;

		> div {
			display: flex;
			align-items: center;
			justify-content: center;

			h3 {
				display: inline-block;
				color: #434343;
				font-size: 17px;
				font-weight: 500;
				margin: 0;
			}

			.cmb2-toggle {
				margin-left: 10px;
			}

			&.#{$namespace}-auto-update-email-wrapper {
				margin-top: 30px;
			}
		}
	}
}

.#{$namespace}-mode-basic {
	.rank-math-return-dashboard {
		float: right;
		margin-right: 0 !important;
		color: #fff !important;
		border-color: #069de3 !important;
		background: #069de3 !important;

		&:hover, &:focus {
			border-color: #08a7f1 !important;
			background: #08a7f1 !important;
		}
	}
}
