// main: ../../setup-wizard.scss

.wizard-content--ready {
    > header {
        h1 {
            font-size: 20px !important;
        }
        .dashicons-yes {
            @extend %header-icon;
        }
    }

    .wizard-next-steps {
        margin-top: 60px;

        > div {
            float: left;

            width: 50%;
            box-sizing: border-box;
        }

        .learn-more {
            padding-left: 35px;

            h2 {
                margin-top: 0;
            }

            li {
                margin-bottom: 12px;

                font-size: 18px;
                line-height: 1.5;
            }

            a {
                color: #089ce6;
            }

            .dashicons {
                font-size: 24px;

                margin-top: 2px;
                margin-right: 13px;

                color: #bcbdbf;

                &.pro {
                    font-size: 19px;

                    padding: 2px;
                    border-radius: 3px;

                    color: #f7d070;
                    background: #253142;
                }
            }

			.pro-label {
				border-bottom: 1px dotted;
			}
        }
    }

    .score-100 {
        margin-top: -20px;

        text-align: right;

        img {
            max-width: 250px;
        }
    }

    .#{$namespace}-additional-options {
        margin-top: 60px;

        text-align: center;

        > div {
            display: flex;

            align-items: center;
            justify-content: center;

            h3 {
                font-size: 17px;
                font-weight: 500;

                display: inline-block;

                margin: 0;

                color: #434343;
            }

            .#{$namespace}-toggle-control {
                margin-left: 10px;
            }

            &.#{$namespace}-auto-update-email-wrapper {
                margin-top: 30px;
            }
        }
    }
}

.#{$namespace}-mode-basic {
    .rank-math-return-dashboard {
        float: right;

        margin-right: 0 !important;

        color: $white !important;
        border-color: $primary !important;
        background: $primary !important;

        &:hover,
        &:focus {
            border-color: $primary-hover !important;
            background: $primary-hover !important;
        }
    }
}

@media screen and (max-width: 775px) {
    .wizard-content--ready {
        .wizard-next-steps {
            > div {
                float: none;
                width: 100%;
            }

            .score-100 {
                text-align: center;
            }

            .learn-more {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                margin-top: 25px;
            }
        }

        .form-footer:not(.rank-math-custom) .rank-math-button.button-primary {
            float: none;

            margin-top: 15px;
        }
    }
}