// main: ../../setup-wizard.scss

.wizard-content--requirements {
	h2 {
		> .dashicons {
			font-size: 16px;
			line-height: 18px;

			width: 18px;
			height: 18px;
			padding: 0;

			vertical-align: -2px;

			opacity: 0.5;

			@extend %header-icon;
		}

		> .dashicons-warning {
			background: #e8cb57;
		}
	}

	##{$namespace}-compatibility-collapsible {
		width: 770px;
		max-width: 100%;
		margin: 0 auto;
	}

	.rank-math-table {
		margin-top: 50px;

		border-width: 1px 1px 0 1px;
		border-style: solid;
		border-color: $gray;

		tr {
			position: relative;

			&:nth-child(odd) {
				background: #f8f9fa;
			}
		}

		td,
		th {
			padding: 10px 20px;

			border-bottom: 1px solid $gray;
		}

		th {
			width: auto;

			color: $text;

			text-transform: inherit;

			.description {
				font-size: 12px;
				font-weight: normal;
				font-style: normal;

				color: #939596;
			}
		}

		td {
			vertical-align: top;

			&:last-child {
				text-align: right;

				.dashicons {
					font-size: 24px;
				}
			}
		}

		.dashicons-no {
			color: $error;

			&::after {
				content: '';
				display: block;

				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;

				width: 3px;
				
				background: $error;
			}
		}
	}

	.checklist-ok,
	.checklist-not-ok {
		margin-top: 10px;

		color: #969696;
	}

	.checklist-not-ok {
		color: $error;
	}

	.conflict-text {
		font-size: 15px;
		font-weight: 500;

		margin-top: 20px;
		margin-bottom: 0;

		color: $error;
	}

	.noconflict {
		color: $success;
	}

	.wizard-conflicts {
		margin-top: 10px;

		.import-info {
			font-size: 12px;
			font-weight: normal;

			color: #777;

			&:before {
				content: ' - ';
			}
		}

		td {
			padding: 8px 10px;

			color: $text;
			vertical-align: middle;

			.dashicons-warning {
				margin-right: 5px;

				color: $error;

				transform: translateY(-1px);
			}

			.dashicons-yes {
				color: $success;
			}

			a.disabled {
				cursor: not-allowed;
			}
		}
	}

	.form-footer {
		margin: 60px 0 25px;
	}

	.#{$namespace}-collapsible-trigger {
		&.#{$namespace}-button.components-button.button-link {
			margin-left: 10px;

			color: rgba(#24292e, 0.65);
			text-decoration: none;

			&:hover {
				color: currentColor;
				background: $tertiary;
			}

			&:focus {
				box-shadow: none;
				outline: none;

				color: currentColor;
				background: transparent;

				&:hover {
					background: $tertiary;
				}
			}
		}
	}

	// Mode
	.rank-math-setup-mode {
		width: 770px;
		max-width: 100%;
		margin: 0 auto;
		margin-top: 3rem;

		ul {
			display: block;
	
			width: 100%;
			padding: 0;
			margin: 0;
			border: none;
	
			li {
				position: relative;
	
				margin: 0;
	
				input[type="radio"] {
					position: absolute;
					top: 20px;
					left: 20px;

					margin-top: 3px;
				}
	
				label {
					display: block;
	
					width: 100%;
					height: auto;
					padding: 20px 20px 20px 50px;
					margin: 0 0 16px 0;
					box-sizing: border-box;
					border: 1px solid $light_gray;
					border-radius: 6px;
	
					background: $tertiary;
					white-space: normal;
	
					transition: 0.25s all linear;
					cursor: pointer;
	
					&:hover {
						border-color: $dark_gray;
					}
					
					.rank-math-mode-title {
						color: $text;
						font-size: 17px;
						font-weight: 600;
						line-height: 1;
						white-space: normal;
					}
	
					p {
						display: block;
						clear: both;
	
						padding: 0;
						padding-top: 10px;
						margin: 0;
	
						color: $dark_gray;
						font-size: 14px;
						font-weight: 400;
						font-style: normal;
						line-height: 1.5;
						
						strong {
							font-weight: 500;
						}
					}
	
					.children {
						padding-top: 8px;
						padding-bottom: 8px;
					}
	
					&.is-checked {
						border-color: $primary;
						box-shadow: 0 0 0 1px $primary;
					}
	
					&.is-disabled .rank-math-mode-title {
						color: rgba(36, 38, 40, 0.5);
					}
				}
	
				&:last-child label {
					margin-bottom: 0;
				}
			}
		}

		p {
			padding-top: 10px;
			color: $dark_gray;
			font-size: 14px;
			font-style: normal;
			margin: 0;
		}

		&.is-free {
			ul li:last-child {
				input {
					opacity: 0.5;
				}

				.rank-math-mode-title {
					color: rgba( $text, 0.5 );

					&::after {
						content: 'Pro';
	
						margin-left: 10px;
						margin-left: 5px;
						padding: 5px 10px;
						border-radius: 3px;
	
						color: #fff;
						background: #00af80;
						background: linear-gradient(335deg, #00af80, #1cb076, #2db06c, #3cb061, #49b156, #56b04a, #63b03d, #6faf2e);
					
						font-size: 11px;
						font-weight: normal;
						vertical-align: 2px;
						text-transform: uppercase;
	
						opacity: 1;
					}
				}
			}
		}

		@media screen and (max-width: 782px) {
			ul li label {
				padding-left: 55px;
			}
		}
	}
}
