// main: ../../setup-wizard.scss

.#{$namespace}-wizard-body--yoursite {
	.#{$namespace}-wizard-tutorial {
		margin-bottom: 30px;

		header {
			font-size: 14px;

			padding: 12px 16px;

			border-radius: 3px;
			background: #f0f2f4;

			a {
				color: $primary;
			}
		}
	}

	.#{$namespace}-tabs-navigation {
		padding: 0 16px;

		border-bottom: 1px solid $light_gray;
		background: #e9ecef;

		a {
			font-size: 16px;
			font-weight: 600;

			display: inline-block;

			padding: 22px 16px 16px;

			color: $dark_gray;

			&.active {
				color: $primary;
				border-bottom: 2px solid $primary;
			}

			.rm-icon {
				font-size: 18px;

				margin-right: 10px;

				vertical-align: -3px;
			}
		}
	}

	.#{$namespace}-tabs-content {
		padding: 16px;

		background: #f4f5f6;

		#help-panel-knowledge,
		#help-panel-video {
			border: 0;
			background: transparent;
		}
	}

	.search-form:not(.media-toolbar-primary) {
		label {
			font-size: 14px;

			display: block;

			opacity: .8;
		}

		input {
			font-size: 1.3em;

			margin-right: 15px;
			padding: 0 2% 0 15px;

			border-color: $gray;

			@include size( 77%, 40px );

			&:hover,
			&:focus {
				border-color: $primary;
				box-shadow: 0 0 0 1px $primary;
			}
		}

		a.button {
			width: 20%;

			text-align: center;
			letter-spacing: .05em;
		}
	}
}