// main: ../../setup-wizard.scss

.wizard-content--yoursite {
	.#{$namespace}-wizard-tutorial {
		margin-bottom: 30px;

		header {
			font-size: 14px;

			padding: 12px 16px;
			border-radius: 3px;

			background: $gray-20;

			.rank-math-button.is-link {
				color: $primary;
				
				text-decoration: none;

				&:active, 
				&:hover, 
				&:focus {
					&:not(:disabled) {
						color: $primary;
						background-color: transparent;
					}
				}

				&:focus:not(:disabled) {
					box-shadow: none;
					outline: none;
				}
			}
		}
	}

	.components-tab-panel__tabs {
		padding: 0 16px;

		border-bottom: 1px solid $light_gray;

		background: #e9ecef;

		.components-button {
			display: inline-block;

			height: fit-content;
			padding: 22px 16px 16px;
			box-shadow: none;
			outline: none;

			color: $dark_gray;
			font-size: 16px;
			font-weight: 600;

			&:focus {
				box-shadow: none;
				outline: none;
			}

			&:active {
				color: $dark_gray;
			}

			&::after, 
			&::before {
				display: none;
			}

			&.is-active {
				border-bottom: 2px solid $primary;

				color: $primary;
			}

			.rm-icon {
				margin-right: 10px;				
				
				font-size: 18px;
				vertical-align: -3px;
			}
		}
	}

	.#{$namespace}-tabs-content {
		padding: 16px;

		background: #f4f5f6;

		#help-panel-knowledge,
		#help-panel-video {
			border: 0;

			background: transparent;
		}

		#help-panel-video a {
			border-bottom: 1px dashed;
		}

		#help-panel-knowledge {
			&:hover .rank-math-text-control input {
				border-color: $primary;
				box-shadow: 0 0 0 1px $primary;
			}

			label {
				display: block;
				
				font-size: 14px;

				opacity: 0.8;
			}

			.rank-math-text-control {
				float: left;
				margin-right: 15px;
				margin-bottom: 5px;

				@include size( 77%, 40px );

				input {
					padding: 0 2% 0 15px;
					border-color: $gray;

					font-size: 1.5em;

					&:hover, 
					&:focus {
						border-color: $primary;
					}
				}
			}

			.rank-math-button {
				justify-content: center;

				width: 20%;

				letter-spacing: 0.05em;
			}
		}
	}
}
