.rank-math-status-table {
	margin-top: 20px;

	tr {
		th,
		td {
			padding: 10px;
		}
	}

	thead {
		tr th {
			color: #32373c;

			h2 {
				font-size: 14px;

				margin: 0;
			}
		}
	}

	tbody tr td:first-child {
		width: 33%;
	}

	.update_all_scores {
		display: block;
		font-size: 13px;
		margin-top: 10px;
		line-height: 1.3;
	}

	.update_all_scores input {
		vertical-align: middle;
	}
}

.rank-math-tools-table.widefat {
	padding: 0;

	border-color: $gray;

	tr {
		&:first-of-type {
			th {
				border-radius: 6px 0 0 0;
			}

			td {
				border-radius: 0 6px 0 0;
			}
		}

		&:nth-child(odd) {
			background: #f8f9fa;
		}

		th,
		td {
			font-size: 1.1em;
			font-weight: 400;

			padding: 2em;

			border-bottom: 1px solid $gray;
		}

		&:last-of-type {
			th,
			td {
				border-bottom: 0;
			}
		}
	}

	h4 {
		margin: 0 0 0.825rem;
	}
}
