.rank-math-auto-update-form {
    .rank-math-notice {
        border: none;
    }
}

.rank-math-beta-optin-form,
.rank-math-auto-update-form {
    .rank-math-button {
        justify-content: center;

        width: 145px;
    }
}

