// compileCompressed: $1.css
/*!
 * Plugin:	Rank Math - Status & Tools
 * URL:		https://rankmath.com/wordpress/plugin/seo-suite/
 * Name:	status.css
 */
@import '../../../../../assets/admin/scss/mixins';
@import '../../../../../assets/admin/scss/variables';

@import './version-control';
@import './database-tools';
@import './system-status';
@import './import-export';

@import './skeleton-system-status';

body.rank-math_page_rank-math-status.rank-math-start-update-score {
    overflow: hidden;

    #wpadminbar {
        display: none;
    }
}

.rank-math-tools-wrap {
    width: 100%;
    margin-bottom: -65px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.rank-math-page .rank-math-breadcrumbs .divider {
    margin: 0 8px;
}

.wp-header-end + .notice {
    margin-top: 25px;
    margin-right: 40px;
}
