// main: ../../dashboard.scss
%flex {
	@include flex;
}

%rm-icon {
	font-size: 28px;
	line-height: 50px;

	display: inline-block;

	color: #ccc;
	border-radius: 6px;
	background: #eee;

	@include size(50px);
}

.module-listing {
	.grid {
		flex-flow: row wrap;

		@extend %flex;
		gap: .9375rem;

		&.pro-active {
			.rank-math-pro-badge {
				color: $color-1;
				background: rgba( $color-1, .1 );
			}
		}
	}

	.rank-math-box {
		flex: 0 0 288px;

		box-sizing: border-box;
		margin: 0;
		padding: 1.875rem 1.25rem 80px;

		text-align: center;

		flex: 0 0 288px;

		&.is-pro {
			cursor: pointer;

			&:hover {
				border-color: $primary;
				box-shadow: 0 0 0 3px rgba( $primary, .15 );
			}
		}

		&.rank-math-unlock-pro-box {
			border-color: #161e28;
			background: #253142;

			i {
				background: #161e28;
			}

			a {
				text-decoration: none;

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}

			header h3 {
				color: #f7d070;
			}

			ul {
				line-height: 1;

				margin-bottom: 0;

				text-align: left;

				color: #a2aab5;

				li {
					&:before {
						font-family: dashicons;
						font-size: 20px;

						width: 20px;
						height: 20px;
						margin-right: 10px;

						content: '\f147';
						text-align: center;
						vertical-align: middle;

						color: #161e28;
						border-radius: 10px;
						background: #9ce2b6;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.status {
				text-align: center;

				border-color: #161e28;
				background: #161e28;

				.button {
					font-weight: 600;
					line-height: 30px;

					float: none;

					padding: 0 24px;

					text-transform: uppercase;

					color: #5a4000;
					border-color: #f7d070;
					background: #f7d070;
				}
			}
		}

		@import 'icon-colors';

		header {
			h3 {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 4px;

				font-size: 1.0625rem;

				margin: 1.5rem 0 .75rem;

				.rank-math-pro-badge {
					font-weight: 500;

					&.beta {
						color: #e91e63;
						background: rgba( #e91e63, .1 );
					}
				}
			}

			.is-upgradeable div {
				font-size: 20px;
				line-height: 0;

				display: inline-block;

				height: 10px;

				transform: rotate(90deg);
				vertical-align: 3px;

				color: $gray;

				&:hover,
				&:focus {
					color: $color-1;
				}

				&.upgraded {
					cursor: default;

					color: $color-1;
				}
			}

			p {
				display: -webkit-box;
				overflow: hidden;
				-webkit-box-orient: vertical;

				margin-bottom: 0;

				-webkit-line-clamp: 5;
			}
		}

		.module-settings {
			font-size: 14px;
			line-height: 30px;

			float: left;

			height: 32px;
			padding: 0 12px;
		}

		.status {
			position: absolute;
			bottom: 0;
			left: 0;

			clear: both;

			box-sizing: border-box;
			width: 100%;
			height: 60px;
			margin: 0;
			padding: 15px 20px;

			border-top: 1px solid $gray;
			border-radius: 0 0 6px 6px;
			background: #f8f9fa;

			.toggle-container {
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
			}

			&::after {
				display: none;
			}
		}

		&.saving .cmb2-toggle {
			label {
				display: none;
			}

			.input-loading {
				display: block;

				margin-top: 0;
			}
		}

		input:disabled + label.cmb2-slider.rank-math-tooltip > span:first-child {
			visibility: visible;
		}
	}
}

// Toggle.
@import '../cmb2/toggle';