@import '../../../scss/main';

/* Variables */
$button-destructive: 'is-destructive:not(.is-primary):not(.is-secondary):not(.is-tertiary):not(.is-link)';
$primary-highlight: #08a7f1;
$primary-dark: #135e96;
$green-highlight: #0f9e79;
$green-default: #10ac84;
$secondary: #6b7278;

/*
 * Button component.
 */
.rank-math-button.components-button {
	display: inline-flex !important;

	height: auto;
	min-height: 30px;
	padding: 0 20px;
	border: 1px solid $dark_gray;
	border-radius: 3px;
	
	color: $secondary;
	background: $tertiary;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	transition: 0.05s ease-in-out;

	&:active,
	&.button-secondary:active,
	&.#{$button-destructive}:active {
		&:not(:disabled) {
			border-color: $border-highlight;
			box-shadow: none;

			background: $tertiary-light;
		}
	}

	&:focus,
	&:hover,
	&.button-secondary:hover,
	&.button-secondary:focus,
	&.#{$button-destructive}:hover,
	&.#{$button-destructive}:focus {
		&:not(:disabled) {
			border-color: $primary;

			color: $primary;
			background: $tertiary;
		}
	}

	&:focus:not(:disabled) {
		box-shadow: 0 0 0 1px $primary;
		outline-width: 2px;
		outline-offset: 0;
	}

	&:disabled {
		opacity: 1;
		pointer-events: none;
	}

	&.has-icon {
		@include icon-size(20px);

		&.has-text {
			gap: 5px;
		}
	}

	/* Small button */
	&.is-small {
		min-height: 26px;
		padding: 0 8px;

		font-size: 11px;
		line-height: 2.18;

		&.has-icon.has-text {
			gap: 5px;

			@include icon-size(13px);
		}
	}

	/* Large button */
	&.is-large {
		min-height: 32px;
		padding: 0 12px;

		line-height: 2.30769231;
	}

	/* Extra large button */
	&.is-xlarge {
		height: 46px;

		font-size: 16px;
		line-height: 44px;
	}

	/* Destructive button */
	&.#{$button-destructive} {
		border-color: $error;
		box-shadow: none;

		color: $error;
		background: transparent;

		&:hover, 
		&:focus {
			&:not(:disabled) {
				box-shadow: 0 0 0 1px $error;
			}
		}

		&:active:not(:focus):not(:disabled) {
			color: $error;
		}
	}

	/* Primary and animated buttons */
	&.button-animate,
	&.button-primary {
		border-color: $primary;

		color: $white;
		background: $primary;

		&:hover:not(:disabled) {
			color: $white;
		}

		&:active:not(:disabled) {
			border-color: $primary-dark;

			background: $primary-dark;
		}

		&:hover, 
		&:focus {
			&:not(:disabled) {
				border-color: $primary-highlight;

				background: $primary-highlight;
			}
		}

		&:focus:not(:disabled) {
			color: $white;

			box-shadow: 0 0 0 1px $white, 0 0 0 3px $primary;
		}

		&:disabled {
			border-color: $primary !important;

			color: #9fdffc !important;
			background: $primary !important;
		}
	}

	/* Primary outline button */
	&.button-primary-outline {
		border-color: $primary-light;

		color: $primary-light;
		background: $tertiary-light;

		&:hover:not(:disabled) {
			border-color: $primary-darker;

			background: $gray-30;
		}

		&:active:not(:disabled) {
			border-color: $border-highlight;
		}

		&:disabled {
			border-color: $primary-light !important;

			color: $primary-light !important;
			background: $tertiary-light !important;
		}

		&:hover, 
		&:focus {
			&:not(:disabled) {
				color: $primary-darker;
			}
		}

		&:focus:not(:disabled) {
			border-color: $focus;
			box-shadow: 0 0 0 1px $focus;

			color: $primary-darker;
			background: $tertiary-light;
		}

		&.is-destructive {
			color: $danger;

			&:hover:not(:focus) {
				box-shadow: none;
			}

			&:focus:not(:disabled) {
				background: $tertiary-light;
			}
		}
	}

	/* Secondary and animated buttons */
	&.button-animate,
	&.button-secondary {
		&:disabled {
			@include secondary-button-styles;
		}
	}

	/* Secondary buttons */
	&.button-secondary,
	&.button-secondary:active:not(:focus):not(:disabled) {
		color: $secondary;
	}

	&.button-secondary {
		border-color: $dark_gray;
		box-shadow: none;

		background: $tertiary;

		&:hover,
		&:active {
			&:not(:disabled) {
				box-shadow: none;
			}
		}

		&:focus:not(:disabled) {
			box-shadow: 0 0 0 1px $primary;
		}
	}

	/* Link button */
	&.button-link {
		height: auto;
		min-height: 0;
		padding: 0;
		border: 0;
		border-radius: 0;

		color: $primary-light;
		background: none;

		line-height: 1.3;

		transition: 0.05s ease-in-out;

		&:hover, 
		&:active {
			&:not(:disabled) {
				color: $primary-dark;
				background: none;
			}
		}

		&:focus:not(:disabled) {
			box-shadow: 
				0 0 0 1px #4f94d4, 
				0 0 2px 1px rgba(79, 148, 212, 0.8);
			outline-width: 1px;

			color: #043959;
		}
	}

	/* Green button */
	&.button-green,
	&.button-green:focus:not(:disabled) {
		color: $white;
	}

	&.button-green {
		display: inline-block;

		width: auto;
		max-width: 100%;
		padding: 0 2rem;
		margin: 0 auto;
		border-color: $green-default;

		background: $green-default;
		font-weight: 500;

		&:active:not(:disabled) {
			color: #1e1e1e;
		}

		&:hover, 
		&:focus {
			&:not(:disabled) {
				border-color: $green-highlight;

				color: $white;
				background: $green-highlight;
			}
		}

		&:focus:not(:disabled) {
			box-shadow: 
				0 0 0 1px $white, 
				0 0 0 3px $green-highlight;
		}
	}

	/* Remove-group button */
	&.button-remove-group, 
	&.button-remove-group:active {
		color: #a00;
	}

	&.button-remove-group {
		padding: 0 10px;
		border: 0;
		box-shadow: none;

		background: transparent;

		&:focus,
		&:hover {
			&:not(:disabled) {
				box-shadow: 0 0 0 1px #dc3232;
			}
		}
	}

	/* Animated button */
	&.button-animate {
		gap: 8px;

		position: relative;
		transform: perspective(1px) translateZ(0);
		
		height: auto;
		min-height: 30px;
		padding: 0 40px;
		border-radius: 82px;
		
		font-size: 24px;
		line-height: 82px;
		text-align: center;

		&:disabled {
			opacity: 1;
		}
	
		&:not(:disabled)::before {
			position: absolute;
			top: -6px;
			right: -6px;
			bottom: -6px;
			left: -6px;

			content: '';
			
			border: #bcdbea solid 6px;
			border-radius: 55px;

			animation: ripple-out 1s linear infinite;
		}
	}

	/* Start new chat button style */
	&.button-start-new-chat {
		width: 16.5rem;
		height: 42px;

		line-height: 15px;
		font-weight: 500;
		
		&.has-icon.has-text {
			justify-content: center;
			gap: 12px;

			padding-left: 16px;
			padding-right: 16px;

			i {
				font-size: 14px;
			}
		}
	}
}

@media screen and (max-width: 782px) {
	.rank-math-button.components-button {
		/* Small and Large button */
		&.is-small, 
		&.is-large {
			min-height: 40px;
			padding: 0 14px;
			margin-bottom: 4px;

			font-size: 14px;
			line-height: 2.71428571;
			vertical-align: middle;
		}

		/* Animated button */
		&.button-animate {
			font-size: 15px;
			padding: 0 20px;
		}
	}
}

/*
 * Animation keyframes.
 */
@keyframes ripple-out {
	100% {
		top: -20px;
		right: -20px;
		bottom: -20px;
		left: -20px;
		
		opacity: 0;
	}
}
