@mixin clearfix {
	&:before,
	&:after {
		display: table;

		content: '';
	}
	&:after {
		clear: both;
	}
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin flex {
	display: flex;
	flex-flow: row wrap;
}

@mixin noselect {
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;

	 -khtml-user-select: none;
}

@mixin tooltipicon {
	font-size: 13px;
	line-height: 12px;

	display: inline-block;

	width: 12px;
	height: 12px;
	margin: 0 5px 0 4px;

	text-align: center;

	color: #fff;
	border-radius: 50%;
	background-color: $dark_gray;

	&:hover {
		background-color: $primary;
	}
}

@mixin highlight {
	font-family: monospace;

	color: darken( $color-5, 25 );
	background: lighten( $color-5, 28 );
}

@-webkit-keyframes spin {
	0%   {-webkit-transform: rotate(0deg)}
	100% {-webkit-transform: rotate(-360deg)}
}

@keyframes spin {
	0%   {-webkit-transform: rotate(0deg)}
	100% {-webkit-transform: rotate(-360deg)}
}

@keyframes bounce {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-5px);
	}
}

@-webkit-keyframes bounce {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-5px);
	}
}

@keyframes loading {
	0% {
		background-size: 20% 50% ,20% 50% ,20% 50%;
	}

	20% {
		background-size: 20% 20% ,20% 50% ,20% 50%;
	}

	40% {
		background-size: 20% 100%,20% 20% ,20% 50%;
	}

	60% {
		background-size: 20% 50% ,20% 100%,20% 20%;
	}

	80% {
		background-size: 20% 50% ,20% 50% ,20% 100%;
	}

	100% {
		background-size: 20% 50% ,20% 50% ,20% 50%;
	}
}

@mixin skeleton-background-animation {
	background: rgba(0, 0, 0, 0.11);
	animation: pulse 2s ease-in-out 0.5s infinite;
}