@import "../../shared/scss/variables";

$namespace: 'rank-math';

$container_width: 1020px;
$analytics_container_width: 1200px;

// Primary Pelette
$primary:   #069de3;
$gray:      #b5bfc9;
$light_gray: #dadfe4;
$dark_gray: #7f868d;
$text:      #242628;
$white:     #fff;
$error:     #ee6a5e;
$success:   #58bb58;
$warning:   #f7ca63;

// Text color
$muted: #999;

// Primary Button Colors
$primary-border-color: #069de3;
$primary-hover: #08a7f1;
$primary-hover-border-color: #08a7f1;

// Secondary Button Colors
$border-hover-color: #069de3;

// Focus keyword status
$status-good: #58bb58;
$status-ok: #ffbe5f;
$status-bad: #e93f30;

// Gutenberg & Elementor
$color-blue: #00a0d2;
$color-good: #79c979;
$color-good-dark: #52a652;
$color-ok: #ffbe5f;
$color-ok-dark: #e59901;
$color-ok-dark-alt: #FF9800;
$color-bad: #f29c96;
$color-bad-dark: #f0776f;
$browser: ( "webkit" );
$all-browser: ( "webkit", "moz", "ms" );

// Elementor's Dark Mode
$el-text-color: #E0E1E3;
$el-input-color: #a4afb7;
$el-placeholder-color: #64666A;
$el-dark-bg-color: #26292C;
$el-border-color: #7D7E82;
$el-light-bg-color: #34383C;
$el-light-text-color: #c2cbd2;
$el-btn-secondary-color: #4C4F56;

// Divi's ETBuilder colors
// NOTE: See `divi/variables` for more vars.
$et-builder-blue: #2c87da;
$et-builder-green: #29c4a9;
$et-builder-purple: #7d3bcf;
$et-builder-purple-dark: #6c2eb9;
$et-builder-red: #ef5555;
$et-builder-gray: #f1f5f9;
$et-builder-gray-dark: #a2b0c1;
$et-builder-gray-darker: #818993;
$et-builder-gray-darkest: #4c5866;
$et-builder-modal-tabs-bg: #7e3bd0;
$et-builder-modal-tabs-item-active: #8f42eb;
$et-builder-modal-tabs-item-hover: #7435c1;

// Analytics.
$color-1: #10AC84;
$color-2: #4e8cde;
$color-3: #ed5e5e;
$color-4: #FF9F43;
$color-5: #F368E0;
$color-6: #0bbde3;
$color-7: #00A3A4;
$color-8: #212F3E;

// Positions
$top-3: #3e70b2;
$top-10: #4e8cde;
$top-50: #71a3e5;
$top-100: #83afe8;
