@import "../../shared/scss/variables";

$namespace: 'rank-math';

$container_width: 1020px;
$analytics_container_width: 1200px;

$rm_brand: #6666c3;

// Primary Pelette
$primary:   #069de3;
$gray:      #b5bfc9;
$light_gray: #dadfe4;
$dark_gray: #7f868d;
$text:      #242628;
$white:     #fff;
$error:     #ee6a5e;
$success:   #58bb58;
$warning:   #f7ca63;
$black: #000;

// Text color
$muted: #999;

// Primary Button Colors
$primary-border-color: #069de3;
$primary-hover: #08a7f1;
$primary-hover-border-color: #08a7f1;

// Secondary Button Colors
$border-hover-color: #069de3;

// Focus keyword status
$status-good: #58bb58;
$status-ok: #ffbe5f;
$status-bad: #e93f30;

// Gutenberg & Elementor
$color-blue: #00a0d2;
$color-good: #79c979;
$color-good-dark: #52a652;
$color-ok: #ffbe5f;
$color-ok-dark: #e59901;
$color-ok-dark-alt: #FF9800;
$color-bad: #f29c96;
$color-bad-dark: #f0776f;
$browser: ( "webkit" );
$all-browser: ( "webkit", "moz", "ms" );

// Elementor's Dark Mode
$el-text-color: #E0E1E3;
$el-input-color: #a4afb7;
$el-placeholder-color: #64666A;
$el-dark-bg-color: #26292C;
$el-border-color: #7D7E82;
$el-light-bg-color: #34383C;
$el-light-text-color: #c2cbd2;
$el-btn-secondary-color: #4C4F56;

// Divi's ETBuilder colors
// NOTE: See `divi/variables` for more vars.
$et-builder-blue: #2c87da;
$et-builder-green: #29c4a9;
$et-builder-purple: #7d3bcf;
$et-builder-purple-dark: #6c2eb9;
$et-builder-red: #ef5555;
$et-builder-gray: #f1f5f9;
$et-builder-gray-dark: #a2b0c1;
$et-builder-gray-darker: #818993;
$et-builder-gray-darkest: #4c5866;
$et-builder-modal-tabs-bg: #7e3bd0;
$et-builder-modal-tabs-item-active: #8f42eb;
$et-builder-modal-tabs-item-hover: #7435c1;

// Analytics.
$color-1: #10AC84;
$color-2: #4e8cde;
$color-3: #ed5e5e;
$color-4: #FF9F43;
$color-5: #F368E0;
$color-6: #0bbde3;
$color-7: #00A3A4;
$color-8: #212F3E;

// Positions
$top-3: #3e70b2;
$top-10: #4e8cde;
$top-50: #71a3e5;
$top-100: #83afe8;

// Grayscale
$black-90: #1e1e1e;
$black-70: #383838;
$black-60: #2c3338;
$black-50: #555d66;
$black-45: #50575e;
$black-40: #444;
$black-30: rgba(44, 51, 56, 0.5);
$black-a10: rgba($black, 0.1);
$black-a4: rgba($black, 0.04);
$black-a5: rgba($black, 0.05);
$gray-30: #f0f0f1;
$gray-20: #f0f2f4;
$gray-10: #c3c4c7;

$tertiary: #f8f9fa;
$tertiary-light: #f6f7f7;
$border-highlight: #8c8f94;

$white-a50: rgba($white, 0.5);
$white-a75: rgba($white, 0.75);

// Blue
$focus: #3582c4;
$primary-light: #2271b1;
$primary-darker: #0a4b78;

// Red
$danger: #d63638;
$red-110: #d9655d;
$red-100: #e37a73;
$red-a15: rgba($red-100, 0.15);

// Yellow
$yellow-100: #df962c;
$yellow-a15: rgba($yellow-100, 0.15);

// Green
$green-110: #3d993a;
$green-100: #55a853;
$green-90: #7ac979;
$green-a15: rgba($green-100, 0.15);

// Content AI
$color-content-ai-how-to-fix-btn: #B34A91;
$color-content-ai-approve: #017CBA;
$color-content-ai-reject: #f24f65;
