// compileCompressed: ../css/$1.css
/*!
 * Plugin:	Rank Math
 * URL:		https://rankmath.com/wordpress/plugin/seo-suite/
 * Name:	blocks.css
 */
// Common and Vendors
@import '../../vendor/bourbon/bourbon';
@import 'variables';
@import 'mixins';
@import 'partials/blocks/base';

// Common.
#rank-math-faq,
#rank-math-howto {
    // Repeater.
    ul {
        margin: 0 0 15px;
        padding: 0;

        list-style-type: none;

        li {
            overflow: hidden;

            margin-bottom: 15px;
            padding: 15px 15px 20px;

            border-radius: 5px;
            background: #fff;
            box-shadow: 0 0 10px #d9d9d9, 0 0 40px #fff;

            .question-not-visible,
            .step-not-visible {
                opacity: .5;
            }
        }
    }
}

.rank-math-item {
    &-header,
    &-content {
        display: flex;

        flex-flow: row wrap;
        justify-content: space-between;
    }
}

div.rank-math-block {
    padding: 30px 15px;

    border-radius: 5px;
    background: #f3f4f5;
    color: #000;

    // Actions.
    &-actions {
        position: relative;
        z-index: 1;

        margin-left: 1rem;

        .components-button.has-icon {
            line-height: 40px;

            display: inline-block;

            width: 30px;
            min-width: 30px;
            height: 30px;
            margin-right: 5px;
            padding: 0;

            opacity: .7;
            border-radius: 2px;

            &:last-child {
                margin-right: 0;
            }

            span.dashicon {
                margin: 0;

                vertical-align: 0;
            }

            &.rank-math-item {
                &-move {
                    color: #333;
                    background: darken(#f3f4f5, 5%);

                    > span {
                        margin-left: -2px;
                    }

                    &:hover {
                        color: darken(#333, 5%);
                        background: darken(#f3f4f5, 10%);
                    }

                    &.move-up {
                        margin-right: 1px;

                        border-radius: 2px 0 0 2px;
                    }

                    &.move-down {
                        border-radius: 0 2px 2px 0;
                    }

                    &.rank-math-item-disabled {
                        color: #999;

                        &:hover {
                            color: #999;
                        }
                    }
                }
            }

            &.rank-math-item-visbility {
                color: #2f7a36;
                background: #d0ecd3;

                &:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                    &:active,
                    &:focus,
                    &:hover {
                        opacity: 1;
                        color: darken(#2f7a36, 5%);
                        background: #d0ecd3;
                        box-shadow: none;
                    }
                }
            }

            &.rank-math-item-delete {
                color: #6a1b1a;
                background: #f1dada;

                &:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                    &:active,
                    &:focus,
                    &:hover {
                        opacity: 1;
                        color: darken(#6a1b1a, 5%);
                        background: #f1dada;
                        box-shadow: none;
                    }
                }
            }

            &.rank-math-item-disabled {
                cursor: no-drop;

                opacity: .5;
                color: #333;
                background: #eee;

                &:hover,
                &:focus,
                &:active {
                    opacity: .5;
                    color: #333;
                    background: #eee;
                }
            }
        }
    }

    button.is-primary {
        height: 30px;

        border-color: $primary-border-color;
        background: $primary;
        border-radius: 2px;

        &:hover:not(:disabled) {
            border-color: $primary-hover-border-color;
            background: $primary-hover;
        }
    }

    // FAQ Question Title & Step Title.
    .rank-math-block-title {
        font-weight: 600;
        line-height: 1.4;

        margin: 0 0 .5em;

        flex: 1;
    }

    // Info button.
    a.rank-math-block-info {
        font-size: 14px;
        line-height: 30px;

        float: right;

        padding: 0 5px;

        text-decoration: none;

        color: inherit;
        border-radius: 16px;
        background: #e3e3e3;
        box-shadow: none;

        &:hover {
            span {
                opacity: 1;
            }
        }

        span {
            vertical-align: -5px;

            opacity: .7;
        }
    }
}

// Image.
.rank-math-media-placeholder {
    position: relative;
    z-index: 1;

    margin-left: 20px;

    img {
        display: block;
    }

    // Image buttons.
    .rank-math {
        &-add-image {
            box-sizing: border-box;
            margin: 0 0 5px;
        }

        &-delete-image,
        &-replace-image {
            position: absolute;
            z-index: 1;
            top: 5px;
            right: 5px;

            box-sizing: border-box;
            width: 20px;
            min-width: 20px;
            height: 20px;
            padding: 0;

            color: #fff;
            background: rgba(0, 0, 0, .8);

            span.dashicon {
                margin: 0;
            }
        }

        &-replace-image {
            right: 30px;
        }
    }
}

// Inputs.
.rank-math {
    &-howto-description,
    &-howto-duration,
    &-howto-estimated-cost,
    &-block-textarea {
        margin-bottom: 15px;
        padding: 15px;

        border-radius: 5px;
        background: #fff;
        box-shadow: 0 0 10px #d9d9d9, 0 0 40px #fff;
    }
}

// FAQ Block.
#rank-math-faq {
    .rank-math-faq-answer {
        flex: 1;
    }
}

// HowTo Block.
#rank-math-howto {
    .rank-math-media-placeholder {
        position: relative;

        display: inline-block;
        float: none;

        margin-bottom: 15px;
        margin-left: 0;

        text-align: left;
    }

    .components-base-control {
        &__label {
            font-weight: 600;
        }

        &__field {
            margin-bottom: 0;
        }

        &__help {
            font-style: italic;

            margin: 0;
        }
    }

    .components-text-control__input,
    .components-textarea-control__input {
        font-size: 1rem;

        margin-bottom: 0;

        color: #3a3a3a;
        border-color: $gray;
    }

    .rank-math-howto {
        &-duration {
            &-label {
                // Toggle Control.
                .components-toggle-control {
                    display: inline-block;

                    margin-left: 8px;
                }
            }

            &-fields {
                margin-top: 10px;

                .components-base-control {
                    display: inline-block;

                    width: 75px;
                    margin-right: 5px;

                    + .components-base-control {
                        margin-bottom: 0!important;
                    }

                    > .components-base-control__field {
                        margin: 0;
                    }

                    &:first-child {
                        width: auto;
                    }

                    &.hidden {
                        display: none;
                    }
                }
            }

            &-instructions {
                font-size: 13px;
                font-style: italic;

                margin: 10px 0 5px;

                opacity: .7;
            }
        }

        &-estimated-cost {
            display: flex;

            flex-flow: row wrap;

            > div:last-child {
                margin-left: 10px;

                align-self: flex-end;
            }
        }
    }
}
