// compileCompressed: ../css/$1.css

/*!
 * Plugin:	Rank Math
 * URL:		https://rankmath.com/wordpress/plugin/seo-suite/
 * Name:	dashboard.css
 */

// Common and Vendors
@import '../../vendor/bourbon/bourbon';
@import 'variables';
@import 'mixins';

@import 'partials/dashboard/list-icon';
@import "partials/dashboard/switch";
@import "partials/dashboard/modules";
@import 'partials/dashboard/help';
@import 'partials/dashboard/system-table';
@import 'partials/dashboard/rtl';
