// compileCompressed: ../css/$1.css

/*!
 * Plugin:	Rank Math
 * URL:		https://rankmath.com/wordpress/plugin/seo-suite/
 * Name:	dashboard-widget.css
 */

// Common and Vendors
@import '../../vendor/bourbon/bourbon';
@import 'variables';
@import 'mixins';

%flex {
    @include flex;
}

#screen-options-wrap {
    .#{$namespace}-icon {
        display: none;
    }
}

#rank_math {
    &_dashboard_widget {
        @import '../scss/partials/common/tooltip';

        .hndle {
            display: inline;

            .#{$namespace}-icon {
                display: inline-block;

                height: 20px;
                margin-right: 5px;

                vertical-align: -5px;
            }
        }

        .text-large {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1;

            margin-right: 5px;

            color: $text;
        }

        .rank-math-item-difference {
            color: $dark_gray;
        }

        .up,
        .down {
            font-weight: 500;

            &:before {
                font-family: 'dashicons';
                font-size: 18px;
                font-weight: 900;

                margin-right: 2px;

                vertical-align: -3px;
            }
        }

        .up {
            color: $color-1;

            &:before {
                content: '\f142';
            }
        }

        .down {
            color: $color-3;

            &:before {
                content: '\f140';
            }
        }

        h3 {
            font-size: .9375rem;
            font-weight: 500;

            margin-top: 1rem;

            @extend %flex;
            justify-content: space-between;

            &:first-of-type {
                margin-top: 0;
            }

            a {
                line-height: 18px;

                margin-top: 3px;

                text-decoration: none;

                i {
                    font-size: 24px;
                    line-height: 18px;

                    width: auto;
                    height: 18px;
                    padding: 0 3px;

                    transition: .25s all linear;

                    color: $primary;
                    border-radius: 2px;
                }

                &:hover,
                &:focus {
                    i {
                        color: #fff;
                        background: $primary;
                    }
                }
            }

            span {
                font-size: .825rem;
                font-weight: normal;

                float: right;

                margin: 2px auto 0 10px;

                opacity: .5;
            }
        }

        .#{$namespace} {
            &-dashabord-block {
                @extend %flex;

                > div {
                    box-sizing: border-box;
                    padding: .825rem 1rem;

                    border: 1px solid $light-gray;

                    flex: 0 0 50%;

                    &:first-of-type {
                        border-width: 1px 0 1px 1px;
                        border-radius: 6px 0 0 6px;
                    }

                    &:last-of-type {
                        border-radius: 0 6px 6px 0;
                    }

                    h4 {
                        font-size: 1rem;
                        font-weight: 500;

                        color: #5a5d70;
                    }
                }

                &.items-4 {
                    > div {
                        &:first-of-type {
                            border-width: 1px 1px 0 1px;
                            border-radius: 6px 0 0 0;
                        }

                        &:nth-of-type(2) {
                            border-width: 1px 1px 0 0;
                            border-radius: 0 6px 0 0;
                        }

                        &:nth-of-type(3) {
                            border-radius: 0 0 0 6px;
                        }

                        &:last-of-type {
                            border-width: 1px 1px 1px 0;
                            border-radius: 0 0 6px 0;
                        }
                    }
                }
            }

            &-blog {
                &-list {
                    margin-bottom: 1.5rem;
                    margin-left: 17px;

                    list-style-type: square;

                    li {
                        margin-bottom: .5rem;

                        .#{$namespace}-new-badge {
                            font-size: 10px;
                            line-height: 16px;

                            display: inline-block;

                            padding: 0 5px;

                            vertical-align: 1px;

                            color: #fff;
                            border-radius: 2px;
                            background: #724bb7;
                        }
                    }
                }

                &-title {
                    margin: 1.5rem 0 1rem;
                }

                &-post {
                    h4 {
                        font-weight: 500;

                        margin-bottom: 5px;
                    }

                    a {
                        transition: .25s all linear;
                        text-decoration: none;

                        &:hover,
                        &:focus {
                            color: $primary;
                            border-bottom: 1px dotted;
                        }
                    }

                    p {
                        margin: 0 0 .825rem;
                    }
                }
            }

            &-widget {
                &-footer {
                    margin: 10px -12px -10px;
                    padding: 10px 12px;

                    border-top: 1px solid $light-gray;

                    a {
                        padding: 0 10px;

                        text-decoration: none;

                        border-right: 1px solid $light-gray;

                        &:first-child {
                            padding-left: 0;
                        }

                        span {
                            font-size: 17px;

                            vertical-align: -4px;
                        }
                    }
                }

                &-go-pro {
                    font-weight: 500;

                    color: $color-1;
                }
            }
        }
    }
}