// compileCompressed: ../css/$1.css

@import '../../vendor/bourbon/bourbon';
@import 'mixins';
@import 'variables';

@import "sidebar";

.#{$namespace} {
	// Main RM Tabs
	&-tabs {
		> .components-tab-panel {
			// Tab Titles
			&__tabs {
				background: #f8f9fa;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 1px rgba(0, 0, 0, 0.1);

				button:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
					height: 34px;
					font-size: 11px;
					line-height: 17px;
					text-transform: uppercase;
					box-shadow: none;

					&:not(.is-active):hover i {
						background: #f6e7ee;
						box-shadow: 0 0 0 4px #f6e7ee;
					}

					&.is-active, &:hover {
						color: #d30c5c;
						font-weight: normal;

						&:after {
							display: none;
						}
					}
				}
			}

			// Tab Content
			&__tab-content {
				> div > div:first-child {
					border-top: 0;
					margin-top: 10px;
					border-bottom: 0;
				}

				select, input[type=text] {
					min-height: 30px;
				}

				textarea {
					line-height: 1.42857143;
					font-family: inherit;
				}
			}
		}

		// Main Toggles
		.components-panel__body {
			padding: 15px 10px;
			margin-bottom: 10px;

			&-title {
				margin: -16px;

				button:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
					color: #6d7882;
				}

				&:hover {
					background: transparent!important;
				}
			}

			&-toggle.components-button {
				color: #6d7882;
				padding: 10px 15px;
			}
		}

		.#{$namespace}-datepicker > button {
			color: inherit;
		}
	}

	@at-root .serp-preview {
		padding: 10px;
		border-radius: 5px;
	}

	// General Tab Preview
	@at-root .components-tab-panel__tab-content .rank-math-tab-content-general {
		 > div:first-child {
			background: transparent;
			padding: 0 10px 5px;
		}

		// Preview
		.serp-preview {
			&-title {

				.seo-score {
					display: block;
				}

				&:before {
					font-weight: 500;
				}
			}
		}
	}

	// Tooltip
	&-tooltip {
		label {
			cursor: pointer;

			&:before {
				height: 21px;
				vertical-align: middle;
			}

			&:hover {
				color: #d30c5c;
			}
		}

		input:checked+label {
			color: #d30c5c;
		}
	}

	// Popup
	&-modal {
		max-height: 763px;
		border-radius: 3px;

		.components-modal__header {
			border-bottom: 0;

			&-heading {
				color: #495157;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 1px;
			}
		}

		// Tabs
		.rank-math-tabs > .components-tab-panel {
			&__tabs {
				button:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
					font-size: 13px;
					text-transform: none;
					height: 44px;

					&:hover, &:not(.is-active):hover {
						i {
							background: transparent;
							box-shadow: none;
						}
					}

					&.is-active {
						box-shadow: none;

						&:after {
							display: block;
							background: #d30c5c;
						}
					}
				}
			}
		}

		.serp-preview-title {
			&:before {
				font-weight: 500;
			}
		}

		.rank-math-button-devices .components-button.active, .rank-math-button-devices .components-button:hover {
			background: #f6e7ee!important;
		}
	}
}
