// compileCompressed: ../css/$1.css

@import '../../vendor/bourbon/bourbon';
@import 'mixins';
@import 'variables';

@use 'sidebar';

// Dark Mode
.#{$namespace} {
    &-tabs {
        > .components-tab-panel {
            &__tabs {
                background-color: #26292c;

                button {
                    color: inherit;
                }

                button:not(:disabled):not([aria-disabled=true]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                    &.is-active {
                        color: #70d5f5;
                    }

                    &:not(.is-active):hover i {
                        color: #fff;
                        background: #70d5f5;
                        box-shadow: 0 0 0 4px #70d5f5;
                    }

                    &.is-active,
                    &:hover {
                        font-weight: normal;
                    }
				}
            }

            &__tab-content {
                //background: #404349;

                .serp-preview-title {
                    color: #6d7882;
                }

                select {
                    background: #34383c;;
                }

                input[type=checkbox] {
                    cursor: pointer;

                    border-color: #64666a;
                    background: #34383c;

                    &:checked {
                        border-color: #11a0d2;
                        background: #11a0d2;
                    }
				}
				
				.components-form-toggle {
					&__track {
						border-color: #e0e1e3;
						background: transparent;
					}
				
					&__thumb {
						background: #e0e1e3;
						border-color: #e0e1e3;
					}
				}

                .is-checked span.components-form-toggle {
					&__track {
						border-color: #11a0d2;
						background: #11a0d2;
					}

					&__thumb {
						background: #fff;
						border-color: #fff;
					}
                }

                .components-panel__body {
                    border-color: #34383c;
                    background: #404349;

                    button:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                        color: #e0e1e3;

                        &:hover {
                            background: transparent;
                        }
                    }

                    .#{$namespace}-datepicker > button {
                        opacity: .6;

                        &:not(.is-default):hover,
                        &:focus:not(:disabled) {
                            opacity: .9;
                            color: #fff;
                            background: transparent;
                            box-shadow: none;
                        }
                    }
                }

                .variable-group {
                    .components-button {
                        opacity: .6;

                        &:not(.is-default):hover,
                        &:focus:not(:disabled) {
                            opacity: .9;
                            color: #fff;
                            background: transparent;
                            box-shadow: none;
                        }
                    }
                }
            }
        }

        .components-panel__body-toggle.components-button {
            color: #e0e1e3;

            &:focus:not(:disabled),
            &:focus:not(:disabled) {
                color: #e0e1e3;
                background: transparent;
            }

            .components-panel__arrow {
                color: inherit;
            }
		}

		input[type="text"],
		input[type="number"],
		input[type="url"],
		textarea,
		select {
			color: #e0e1e3;
			border-color: #64666a;
			background: #34383c;

			&:focus {
				background: #34383c;
				color: #e0e1e3;
			}
		}

		::placeholder {
			color: #a4afb7!important;
		}
	}
	
	// Schema Tab.
	&-schema {
		&-in-use {
			color: #e0e1e3;
		}

		&-section-title {
			font-weight: 600!important;
			color: #e0e1e3;
		}

		&-tabs {
			.components-panel__body {
				background: transparent!important;
			}

			.schema-group--children > .schema-group-or-property-container > .schema-group-or-property {
				background: #404349;
				border-color: #404349;
			}
		}
	}

    &-tooltip {
        label {
            color: #a4afb7;

            &:hover {
                color: #70d5f5;
            }

            &:after {
                border-color: transparent transparent #5c5f64;
            }
        }

        input:checked + label {
            color: #70d5f5;
        }

        &-content {
            color: #cacdd1;
            background: #5c5f64;
        }
    }

    // Checklist
    &-checklist {
        .#{$namespace}-group-score {
            &.test {
                &-ok {
                    color: lighten( $color-good-dark, 50% );
                    background: $color-good-dark;
                }

                &-warning {
                    color: lighten( $color-ok-dark, 55% );
                    background: $color-ok-dark;
                }

                &-fail {
                    color: lighten( $color-bad-dark, 40% );
                    background: $color-bad-dark;
                }
            }
        }

        li {
            &:before {
                color: lighten( $color-bad-dark, 40% );
                background: $color-bad-dark;

                @include position( absolute, 0 null null -1px );
            }

            &.test-ok:before {
                color: lighten( $color-good-dark, 50% );
                background: $color-good-dark;
            }

            &.test-warning:before {
                color: lighten( $color-ok-dark, 55% );
                background: $color-ok-dark;
            }

            // Partially passed tests.
            &.test-check-bad:before {
                color: adjust-hue($color-ok-dark, -5);
                background: transparent;
                box-shadow: inset 0 0 0 2px adjust-hue($color-ok-dark, -5);
            }

            &.test-check-ok:before {
                color: $color-ok-dark;
                background: transparent;
                box-shadow: inset 0 0 0 2px $color-ok-dark;
            }

            &.test-check-good:before {
                color: $color-good-dark;
                background: transparent;
                box-shadow: inset 0 0 0 2px $color-good-dark;
            }
        }
    }

    // Modal
    &-modal {
        background: #26292c;

        .components-modal {
            &__header {
                background: #26292c;

                &-heading {
                    color: #e0e1e3;
                }

                button:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                    color: #fff;
                    background: #404349;
                    box-shadow: 0 0 0 1px #555d66;

                    &:hover,
                    &:active,
                    &:focus {
                        box-shadow: 0 0 0 1px $primary;
                    }
                }
            }
        }

        .#{$namespace}-tabs {
            .components-tab-panel__tabs {
                border-bottom: 0;
                background: #404349;

                button:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                    font-weight: 500;

                    color: #e0e1e3;

                    &:hover,
                    &.is-active {
                        color: #70d5f5;

                        i {
                            color: inherit;
                        }
                    }

                    &.is-active:after {
                        background: #70d5f5;
                    }
                }
			}
        }

        .field-group {
            background: #404349;

            .components-base-control__help {
                color: inherit;
            }

            .length-indicator-wrapper {
                .length-indicator {
                    background: linear-gradient(to right, #e33e2b 0%, #f06818 18%, #34383c 19%, #34383c 19%, #f16b17 20%, #f1a104 38%, #34383c 39%, #34383c 39%, #f1a404 40%, #d9b507 58%, #34383c 59%, #34383c 59%, #d4b509 60%, #7bb02c 78%, #34383c 79%, #34383c 79%, #76ae2e 80%, #2da24c 100%);

                    span {
                        background: #34383c;
                    }
                }

                &.invalid .length-indicator {
                    background: linear-gradient(to right, #e33d2a 0%, #e33d2a 18%, #34383c 19%, #34383c 19%, #e33d2a 20%, #e33d2a 38%, #34383c 39%, #34383c 39%, #e33d2a 40%, #e33d2a 58%, #34383c 59%, #34383c 59%, #e33d2a 60%, #e33d2a 78%, #34383c 79%, #34383c 79%, #e33d2a 80%, #e33d2a 100%);
                }
			}
			
			input[type="text"], input[type="url"], textarea, select {
				background: #34383c;
			}
        }

        // Social Preview.
        .rank-math-social-preview {
            &-twitter {
                .rank-math-social-preview {
                    &-meta {
                        .social-name {
                            color: #fff;
                        }

                        .social-time {
                            color: #6e767d;
                        }
                    }

                    &-item-wrapper {
                        border-color: #2f3336;
                        background: #1d2022;

                        &:hover {
                            .rank-math-social-preview-caption {
                                background: #1a1c1e;
                            }
                        }
                    }

                    &-caption {
                        color: #6e767d;
                        background: #1d2022;

                        .rank-math-social-preview-title {
                            color: #d9d9d9;
                        }
                    }
                }
            }
        }

        .rank-math-editor-social {
            button:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                background: #404349;

                &:hover {
                    color: inherit;
                }
            }
        }
    }

    // Variable dropdown.
    &-variables-dropdown {
        border-color: #34383c;
        background: #404349;
        box-shadow: 0 2px 6px rgba(0,0,0,.2);

        li {
            border-color: #34383c;

            &:hover {
                background: #34383c;
            }

            &:after {
                background: #34383c;
            }
        }
    }
}

// Focus Keyword Field.
.tagify {
    border-color: #64666a;
    background: #26292c;

    $self: &;

    &__input::before {
        color: #a4afb7;
    }

    &__tag {
        &.bad-fk {
            color: darken( $color-bad-dark, 30% );
            background: lighten( $color-bad-dark, 18% );

            &.selected {
                color: lighten( $color-bad-dark, 40% );
                background: $color-bad-dark;

                #{ $self }__tag__removebtn {
                    color: lighten( $color-bad-dark, 50% );
                    background: desaturate( darken( $color-bad-dark, 8% ), 12% );

                    &:hover {
                        background: desaturate( darken( $color-bad-dark, 12% ), 15% );
                    }
                }
            }

            #{ $self }__tag__removebtn {
                color: lighten( $color-bad-dark, 50% );
                background: desaturate( lighten( $color-bad-dark, 12% ), 8% );

                &:hover {
                    background: desaturate( lighten( $color-bad-dark, 8% ), 5% );
                }
            }
        }

        &.ok-fk {
            color: darken( $color-ok-dark, 15% );
            background: lighten( $color-ok-dark, 35% );

            &.selected {
                color: lighten( $color-ok-dark, 55% );
                background: $color-ok-dark;

                #{ $self }__tag__removebtn {
                    color: lighten( $color-ok-dark, 50% );
                    background: desaturate( darken( $color-ok-dark, 5% ), 12% );

                    &:hover {
                        background: desaturate( darken( $color-ok-dark, 8% ), 15% );
                    }
                }
            }

            #{ $self }__tag__removebtn {
                color: lighten( $color-ok-dark, 50% );
                background: desaturate( lighten( $color-ok-dark, 12% ), 8% );

                &:hover {
                    background: desaturate( lighten( $color-ok-dark, 7% ), 5% );
                }
            }
        }

        &.good-fk {
            color: darken( $color-good-dark, 5% );
            background: lighten( $color-good-dark, 28% );

            &.selected {
                color: lighten( $color-good-dark, 50% );
                background: $color-good-dark;

                #{ $self }__tag__removebtn {
                    color: lighten( $color-good-dark, 50% );
                    background: desaturate( darken( $color-good-dark, 8% ), 2% );

                    &:hover {
                        background: desaturate( darken( $color-good-dark, 12% ), 15% );
                    }
                }
            }

            #{ $self }__tag__removebtn {
                color: lighten( $color-good-dark, 50% );
                background: desaturate( lighten( $color-good-dark, 15% ), 5% );

                &:hover {
                    background: desaturate( lighten( $color-good-dark, 8% ), 5% );
                }
            }
        }
    }
}

#rank-math-compare-keywords-trigger {
    border-color: #64666a;
    background: #26292c;
}