// compileCompressed: ../css/$1.css
@use '../../../../../assets/admin/scss/sidebar';

@import '../../../../../assets/vendor/bourbon/bourbon';
@import '../../../../../assets/admin/scss/mixins';
@import '../../../../../assets/admin/scss/variables';

// Dark Mode
.#{$namespace} {
    &-tabs {
        > .components-tab-panel {
            &__tabs {
                background-color: #26292c;

                button {
                    color: inherit;
                }

                button:not(:disabled):not([aria-disabled=true]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                    &.is-active {
                        color: #70d5f5;
                    }

                    &:not(.is-active):hover i {
                        color: $white;
                        background: #70d5f5;
                        box-shadow: 0 0 0 4px #70d5f5;
                    }

                    &.is-active,
                    &:hover {
                        font-weight: normal;
                    }
                }
            }

            &__tab-content {
                .serp-preview-title {
                    color: #6d7882;
                }

                select {
                    background: #34383c;;
                }

                input[type=checkbox] {
                    cursor: pointer;
                    border-color: #64666a;
                    background: #34383c;

                    &:checked {
                        border-color: #11a0d2;
                        background: #11a0d2;
                    }
                }

                .components-form-toggle {
                    &__track {
                        border-color: #e0e1e3;
                        background: transparent;
                    }

                    &__thumb {
                        border-color: #e0e1e3;
                        background: #e0e1e3;
                    }
                }

                .is-checked span.components-form-toggle {
                    &__track {
                        border-color: #11a0d2;
                        background: #11a0d2;
                    }

                    &__thumb {
                        border-color: $white;
                        background: $white;
                    }
                }

                .components-panel__body {
                    border-color: #34383c;
                    background: #404349 !important;

                    button:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                        color: #e0e1e3;

                        &:hover {
                            background: transparent;
                        }
                    }

                    .#{$namespace}-datepicker > button {
                        opacity: .6;

                        &:not(.is-default):hover,
                        &:focus:not(:disabled) {
                            opacity: .9;
                            color: $white;
                            background: transparent;
                            box-shadow: none;
                        }
                    }
                }

                .variable-group {
                    .components-button {
                        opacity: .6;

                        &:not(.is-default):hover,
                        &:focus:not(:disabled) {
                            opacity: .9;
                            color: $white;
                            background: transparent;
                            box-shadow: none;
                        }
                    }
                }

                .#{$namespace}-tab-content-advanced,
                .#{$namespace}-tab-content-schema {
                    > .components-panel__body {
                        background: #404349;
                    }
                }

            }
        }

        .components-panel__body-toggle.components-button {
            color: #e0e1e3;

            &:focus:not(:disabled),
            &:focus:not(:disabled) {
                color: #e0e1e3;
                background: transparent;
            }

            .components-panel__arrow {
                color: inherit;
            }
        }

        input[type='text'],
        input[type='number'],
        input[type='url'],
        textarea,
        select {
            color: #e0e1e3;
            border-color: #64666a;
            background: #34383c;

            &:read-only {
                color: #e0e1e3 !important;
                background: #34383c !important;
            }

            &:focus {
                color: #e0e1e3;
                background: #34383c;
            }
        }

        ::placeholder {
            color: #a4afb7!important;
        }
    }

    // Schema Tab.
    &-schema {
        &-in-use {
            color: #e0e1e3;
        }

        &-section-title {
            font-weight: 600!important;
            color: #e0e1e3;
        }

        &-tabs {
            .components-panel__body {
                background: transparent!important;
            }

            .schema-group--children > .schema-group-or-property-container > .schema-group-or-property {
                border-color: #404349;
                background: #404349;
            }
        }
    }

    &-tooltip {
        label {
            color: #a4afb7;

            &:hover {
                color: #70d5f5;
            }

            &:after {
                border-color: transparent transparent #5c5f64;
            }
        }

        input:checked + label {
            color: #70d5f5;
        }

        &-content {
            color: #cacdd1;
            background: #5c5f64;
        }
    }

    // Checklist
    &-checklist {
        .#{$namespace}-group-score {
            &.test {
                &-ok {
                    color: lighten( $color-good-dark, 50% );
                    background: $color-good-dark;
                }

                &-warning {
                    color: lighten( $color-ok-dark, 55% );
                    background: $color-ok-dark;
                }

                &-fail {
                    color: lighten( $color-bad-dark, 40% );
                    background: $color-bad-dark;
                }
            }
        }

        li {
            &:before {
                color: lighten( $color-bad-dark, 40% );
                background: $color-bad-dark;

                @include position( absolute, 0 null null -1px );
            }

            &.test-ok:before {
                color: lighten( $color-good-dark, 50% );
                background: $color-good-dark;
            }

            &.test-warning:before {
                color: lighten( $color-ok-dark, 55% );
                background: $color-ok-dark;
            }

            // Partially passed tests.
            &.test-check-bad:before {
                color: adjust-hue($color-ok-dark, -5);
                background: transparent;
                box-shadow: inset 0 0 0 2px adjust-hue($color-ok-dark, -5);
            }

            &.test-check-ok:before {
                color: $color-ok-dark;
                background: transparent;
                box-shadow: inset 0 0 0 2px $color-ok-dark;
            }

            &.test-check-good:before {
                color: $color-good-dark;
                background: transparent;
                box-shadow: inset 0 0 0 2px $color-good-dark;
            }
        }
    }

    // Modal
    &-modal,
    &-modal.#{$namespace}-modal-trends-tool {
        background: #26292c;

        .trends-tool-frame-sidebar {
            background-color: transparent;
            border-color: #404349;

            .remove-keyword {
                border-color: $dark_gray;
            }

            .keyword-field input {
                color: white;
            }
        }
        
        .components-text-control__input::-webkit-input-placeholder {
            color: white;
        }

        .trends-tool-frame-sidebar .compare-keyword-bar,
        .components-text-control__input,
        .components-select-control__input {
            background: #404349;
            border: none;
            color: white;
        }

        .#{$namespace}-trends-cta-wrapper:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #26292c66;
            z-index: 1;
        }       

        .components-modal__content {
            .components-modal {
                &__header {
                    background-color: #26292C;
                    color: #E0E1E3;
                    -webkit-box-shadow: 0 0 8px #0000004d;
                    box-shadow: 0 0 8px #0000004d;
                    border: none;
    
                    &-heading {
                        color: #e0e1e3;
                    }
    
                    button {
                        color: $white;
                    }
                }
            }
        }

        ##{$namespace}-pro-cta .#{$namespace}-cta-box {
            background-color: #404349;
            z-index: 1;

            h3 {
                color: #e0e1e3;
            }

            ul li {
                color: $white;
            }
        }

        .#{$namespace}-tabs {
            .components-tab-panel__tabs {
                border-bottom: 0;
                background: #404349;

                button:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                    font-weight: 500;

                    color: #e0e1e3;

                    &:hover,
                    &.is-active {
                        color: #70d5f5;

                        i {
                            color: inherit;
                        }
                    }

                    &.is-active:after {
                        background: #70d5f5;
                    }
                }
            }
        }

        .field-group {
            background: #404349;

            .components-base-control__help {
                color: inherit;
            }

            .length-indicator-wrapper {
                .length-indicator {
                    background: linear-gradient(to right, #e33e2b 0%, #f06818 18%, #34383c 19%, #34383c 19%, #f16b17 20%, #f1a104 38%, #34383c 39%, #34383c 39%, #f1a404 40%, #d9b507 58%, #34383c 59%, #34383c 59%, #d4b509 60%, #7bb02c 78%, #34383c 79%, #34383c 79%, #76ae2e 80%, #2da24c 100%);

                    span {
                        background: #34383c;
                    }
                }

                &.invalid .length-indicator {
                    background: linear-gradient(to right, #e33d2a 0%, #e33d2a 18%, #34383c 19%, #34383c 19%, #e33d2a 20%, #e33d2a 38%, #34383c 39%, #34383c 39%, #e33d2a 40%, #e33d2a 58%, #34383c 59%, #34383c 59%, #e33d2a 60%, #e33d2a 78%, #34383c 79%, #34383c 79%, #e33d2a 80%, #e33d2a 100%);
                }
            }

            input[type='text'],
            input[type='url'],
            textarea,
            select {
                background: #34383c;
            }
        }

        // Social Preview.
        .#{$namespace}-social-preview {
            &-twitter,
            &-facebook {
                .#{$namespace}-social-preview {
                    &-meta {
                        .social-name {
                            color: $white;
                        }

                        .social-time {
                            color: #6e767d;
                        }
                    }

                    &-item-wrapper {
                        border-color: #2f3336;
                        background: #1d2022;

                        &:hover {
                            .#{$namespace}-social-preview-caption {
                                background: #1a1c1e;
                            }
                        }
                    }

                    &-caption {
                        color: #6e767d;
                        background: #1d2022;

                        .#{$namespace}-social-preview-title {
                            color: #d9d9d9;
                        }
                    }
                }
            }

            &-facebook {
                .#{$namespace}-social-preview-meta {
                    border-color: #2f3336;
                    background: #1d2022;
                }
            }
        }

        .#{$namespace}-editor-social {
            button:not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
                background: #404349;

                &:hover {
                    color: inherit;
                }
            }
        }
    }

    // Variable dropdown.
    &-variables-dropdown {
        border-color: #34383c;
        background: #404349;
        box-shadow: 0 2px 6px rgba(0,0,0,.2);

        li {
            border-color: #34383c;

            &:hover {
                background: #34383c;
            }

            &:after {
                background: #34383c;
            }
        }
    }
}

// Focus Keyword Field.
.tagify {
    border-color: #64666a;
    background: #26292c;

    $self: &;

    &__input::before {
        color: #a4afb7;
    }

    &__tag {
        &.bad-fk {
            color: darken( $color-bad-dark, 30% );
            background: lighten( $color-bad-dark, 18% );

            &.selected {
                color: lighten( $color-bad-dark, 40% );
                background: $color-bad-dark;

                #{ $self }__tag__removebtn {
                    color: lighten( $color-bad-dark, 50% );
                    background: desaturate( darken( $color-bad-dark, 8% ), 18% );

                    &:hover {
                        background: desaturate( darken( $color-bad-dark, 12% ), 25% );
                    }
                }
            }

            #{ $self }__tag__removebtn {
                color: lighten( $color-bad-dark, 50% );
                background: desaturate( lighten( $color-bad-dark, 12% ), 8% );

                &:hover {
                    background: desaturate( lighten( $color-bad-dark, 8% ), 5% );
                }
            }
        }

        &.ok-fk {
            color: darken( $color-ok-dark, 15% );
            background: lighten( $color-ok-dark, 35% );

            &.selected {
                color: lighten( $color-ok-dark, 55% );
                background: $color-ok-dark;

                #{ $self }__tag__removebtn {
                    color: lighten( $color-ok-dark, 50% );
                    background: desaturate( darken( $color-ok-dark, 5% ), 12% );

                    &:hover {
                        background: desaturate( darken( $color-ok-dark, 8% ), 15% );
                    }
                }
            }

            #{ $self }__tag__removebtn {
                color: lighten( $color-ok-dark, 50% );
                background: desaturate( lighten( $color-ok-dark, 12% ), 8% );

                &:hover {
                    background: desaturate( lighten( $color-ok-dark, 7% ), 5% );
                }
            }
        }

        &.good-fk {
            color: darken( $color-good-dark, 5% );
            background: lighten( $color-good-dark, 28% );

            &.selected {
                color: lighten( $color-good-dark, 50% );
                background: $color-good-dark;

                #{ $self }__tag__removebtn {
                    color: lighten( $color-good-dark, 50% );
                    background: desaturate( darken( $color-good-dark, 8% ), 2% );

                    &:hover {
                        background: desaturate( darken( $color-good-dark, 12% ), 15% );
                    }
                }
            }

            #{ $self }__tag__removebtn {
                color: lighten( $color-good-dark, 50% );
                background: desaturate( lighten( $color-good-dark, 15% ), 5% );

                &:hover {
                    background: desaturate( lighten( $color-good-dark, 8% ), 5% );
                }
            }
        }
    }
}

##{$namespace}-compare-keywords-trigger {
    border-color: #64666a;
    background: #26292c;
}