@import '../../../scss/main';

/*
 * Select With Searchbox component.
 */
.rank-math-select-variable {
	position: relative;

	background-color: $white;

	&[aria-disabled="true"] {
		pointer-events: none;
	}

	.select-input {
		position: relative;
		
		.components-text-control__input {
			padding-right: 50px;
		}

		.rank-math-text-control + .rank-math-button {
			top: 1px;
			right: 0;
			bottom: 1px;

			border-width: 0 0 0 1px;
			border-radius: 0 3px 3px 0;
		}

		.rank-math-textarea-control + .rank-math-button {
			top: auto;
			right: 1px;
			bottom: 1px;

			min-height: 40px;
			border-width: 1px 0 0 1px;
			border-radius: 3px 0 3px 0;
		}
		
		.rank-math-button {
			position: absolute;

			height: auto;
			padding: 0 10px;
			box-shadow: none;
			
			color: #858b90;
			line-height: 40px;
		}
	}

	.select-menu {
		position: absolute;
		top: 48px;
		right: 0;
		z-index: 999;
		overflow: auto;

		width: 80%;
		max-width: 450px;
		height: 220px;
		border: 1px solid $gray;
		border-radius: 6px;

		background: $white;

		&.is-textarea-menu {
			top: 70px;
		}

		.components-search-control .components-base-control__field {
			@include select-menu(10px, calc(100% - 20px));
		}

		ul {
			margin: 0;

			li {
				position: relative;

				margin: 0;
				padding: 10px;

				cursor: pointer;

				&:not(:last-child) {
					border-bottom: 1px solid $gray;
				}

				div:first-of-type {
					@include flex-align;
					justify-content: space-between;

					p,
					strong {
						margin: 0;
					}

					p, 
					strong {
						font-size: 12px;
						line-height: 16px;
					}

					p {
						display: inline-block;

						padding: 0;
						margin: 0;
						border-radius: 0.25rem;

						background-color: $gray-20;
						font-size: 12px;
						line-height: 16px;
					}
				}

				.description {
					display: block;

					color: $dark_gray;
					
					font-style: italic;
				}
				
				&:hover {
					background: $tertiary;
				}
			}
		}
	}
}

body.rtl {
	.rank-math-select-variable .select-input .rank-math-textarea-control + .rank-math-button {
		left: 1px;
		right: auto;

		border-width: 1px 1px 0 0;
		border-radius: 0 3px 0 3px;
	}
}