@import '../../../scss/main';

/**
 * Select Control component.
 */
.components-base-control__field.css-1t5ousf {
	margin-bottom: 0;
}

.rank-math-select-control.rank-math-select-control.rank-math-select-control {
	width: fit-content;
	max-width: 25rem;
	border-radius: 3px;
	gap: 0;

	.components-input-control-suffix-wrapper {
		display: none;
	}
	
	.components-input-control__label {
		@include form-control-label;

		font-weight: 400;
		line-height: 1.4em;
		text-transform: inherit;
	}

	.components-select-control__input {
		min-height: 30px;
		padding: 0 24px 0 8px;
		border-color: $border-highlight;
		border-radius: 3px;

		color: $black-60;
		background: $white url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    	background-size: 16px 16px;

		font-size: 14px;
		line-height: 2;
		vertical-align: middle;

		&:hover {
			color: $primary-light;
		}

		&:focus {
			border-color: $primary-light;
			color: $primary-darker;
		}
	}

	&:focus-within {
		.components-select-control__input,
		.components-input-control__backdrop {
			border-color: $primary-light !important;
		}

		.components-input-control__backdrop {
			box-shadow: 0 0 0 1px $primary-light !important;
		}
	}

	&.is-disabled {
		.components-input-control__container {
			opacity: 0.7;
		}

		.components-select-control__input {
			color: #a7aaad;
			border-color: #dcdcde;
			background-color: $tertiary-light;
			background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23a0a5aa%22%2F%3E%3C%2Fsvg%3E);

			text-shadow: 0 1px 0 $white;
			cursor: default;
		}
	}

	&.is-metabox {
		width: 100%;

		.components-select-control__input {
			min-height: 40px;
			padding: 0px 22px 0px .6em;
		}

		&:hover,
		&:focus-within {
			.components-select-control__input {
				color: $primary-light;
			}

			.components-input-control__backdrop {
				border-color: $primary !important;
			}
		}

		&:focus-within .components-input-control__backdrop {
			box-shadow: 0 0 0 1px $primary !important;
		}
	}

	@media screen and (max-width: 782px) {
		width: 100%;
		max-width: 100%;
		
		.components-select-control__input {
			min-height: 40px;
			padding: 5px 24px 5px 8px;

			font-size: 16px;
			line-height: 1.625;
		}
	}
}
