@import '../../../../../scss/variables';

/*
 * Toggle Group Control component.
 */
.components-base-control .components-base-control__field {
	.rank-math-toggle-group-control.components-toggle-group-control {
		display: inline-block;

		width: fit-content;
		padding: 5px 0 0 5px;
		margin: 0;
		border: 1px solid $gray;
		border-radius: 4px;

		background: $white;

		&:before {
			display: none;
		}

		&:focus-within {
			box-shadow: none;
			outline: none;
		}

		.components-toggle-group-control-option-base {
			min-height: 36px;
			margin-right: 5px;
			margin-bottom: 5px;
			padding: 0 15px;
			border: 1px solid $light_gray;
			border-radius: 4px;
			box-sizing: border-box;

			color: #666d73;
			white-space: wrap;

			transition: none;

			&:hover {
				border-color: $primary;

				color: $primary;
			}
			
			&[aria-checked="true"],
			&[aria-checked="true"]:hover {
				border-color: $primary;
				
				color: $white;
				background-color: $primary;
			}

			> div {
				font-size: 14px;
				font-weight: 500;
			}

			+ div {
				display: none;
			}
		}

		.rank-math-custom-toggle-group-control-option {
			padding-left: 9px;
			padding-right: 9px;
			
			.components-text-control__input {
				width: 40px;
				height: 24px;
				min-height: 24px;
				padding: 0 8px;
				border: 0;
				box-sizing: border-box;

				color: #32373c;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
			}
		}

		&[aria-disabled="true"] {
			opacity: 0.4;
		}
	}

	.css-zjik7 {
		display: none;
	}
}
