// Competitor Analyzer Tab.
.competitor_analyzer {
	.rank-math-box > h2 {
		margin: 0;

		text-align: center;
	}

	.rank-math-box > p {
		color: $dark_gray;
		
		text-align: center;
	}

	#competitor_url {
		width: 400px;
	}

	.url-form {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 0.5rem;

		margin: 0 auto;
	}

	#competitor_url_submit {
		margin-left: .5rem;
	}
}
