// Report Header.
.#{$namespace}-seo-analysis-wrap {
	header {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
		gap: 20px;
	
		margin-bottom: 0;
	
		border-bottom: 0;
		border-radius: 6px 6px 0 0;
	
		background: $white;
	
		h2 {
			display: flex;
			flex-flow: column wrap;
			
			margin: 0;
			
			font-size: 1.5rem;
		}
	
		.analyzer-result-actions {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			flex: 1;
			gap: 20px;
		}
	
		.rank-math-recheck {
			gap: 5px;
	
			font-size: 15px;
			font-weight: 400;
			line-height: 1 !important;
	
			text-decoration: none;
			text-transform: inherit;
	
			.dashicons{
				font-size: 16px;
	
				width: 16px;
				height: 16px;
	
				vertical-align: -3px;
			}
		}
		
		.analyzer-results-header {
			display: inline-flex;
		}
	
		.rank-math-view-issues {
			font-weight: 600;
		}
	
		.rank-math-print-results {
			margin-right: 10px;
	
			font-weight: 600;
	
			.dashicons {
				margin-right: 5px;
				margin-left: -4px;
	
				transition: none;
				vertical-align: middle;
			}
	
			.rank-math-pro-badge {
				vertical-align: 1px;
				line-height: 1.3;
			}
	
			&.disabled {
				cursor: pointer;
				pointer-events: initial;
			}
	
			&.is-inactive,
			&.is-inactive:hover,
			&.is-inactive:focus,
			&.is-inactive:active:not(:focus) {
				&:not(:disabled) {
					color: #a7aaad;
					background-color: $tertiary-light;
					
					border-color: #dcdcde;
					box-shadow: none;
				}
			}
		}
	
		.button:not(.rank-math-recheck){
			text-transform: uppercase;
		}
	}

	.title-prefix,
	.rank-math-analysis-date {
		display: block;

		margin-bottom: 7px;

		color: $dark_gray;

		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
	}

	.rank-math-analysis-date{
		text-transform: initial;
	}

	.changeurl-form {
		display: inline-flex;
		align-items: center;
	
		.rank-math-text-control {
			width: 210px;
		}
	}

	.rank-math-seo-analysis-header {
		border: 1px solid $gray;
		background: $white;

		padding: 30px;

		text-align: center;
		
		h2 {
			font-size: 2em;
		}
	}
}
