// SERP Preivew.
.serp-preview {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	width: 450px;
	padding: 20px;

	border: 4px solid #ebebed;
	border-radius: 6px;

	background: $white;

	// Text
	.serp-description,
	.serp-title,
	.serp-url-wrapper {
		display: block;
		
		position: relative;
		overflow: hidden;
		z-index: 1;
		
		max-width: 630px;
		margin: 0;
		
		font-family: arial, sans-serif;
	}

	.serp-title {
		margin-bottom: 4px;
		
		font-size: 20px;
		font-weight: normal;
		line-height: 1.3;

		color: #1a0dab;
	}

	.serp-favicon {
		display: inline-block;

		margin-right: 5px;

		vertical-align: top;
	}

	.serp-url-wrapper {
		margin: 3px 0 5px;

		font-size: 14px;
		line-height: 1.3;

		color: #202124;
	}

	.serp-description {
		font-size: 14px;
		line-height: 1.58;

		word-wrap: break-word;

		color: #4d5156;
	}
}
