// main: ../sidebar.scss
%rank-math-button {
	height: 34px;
	padding: 0 15px;

	color: #fff;
	border-color: #0092c9;
	border-radius: 3px;
	background-color: #0095cd;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .18);

	&:hover,
	&:focus,
	&:focus:enabled,
	&:active,
	&:active:enabled {
		color: #fff;
		border-color: #0474ab;
		background-color: #0474ab;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
	}
}

.wp-admin .#{$namespace}-button {
	@extend %rank-math-button;
}
