// main: ../sidebar.scss

@import 'tagify';

.#{$namespace}-focus-keyword {
	position: relative;

	.components-panel__body-title {
		margin-bottom: 0;
		padding: 16px;
		padding-bottom: 10px;

		background: transparent !important;
	}

	.components-notice {
		margin: 0 0 10px;
		color: #555d66;
		border-radius: 4px;

		&__content {
			margin: 0;
		}

		a {
			font-weight: 500;
		}
	}
}

.#{$namespace}-modal.#{$namespace}-focus-keywords-cta-modal {
	height: auto;

	##{$namespace}-pro-cta {
		position: relative;

		.#{$namespace}-cta-box {
			box-shadow: none;
			padding: 0 0 1rem 0;
		}
	}

	.components-modal__content::before {
		margin-bottom: 0;
	}
}