// main: ../../common.scss

.#{$namespace} {
	&-tabs {
		input[type="text"], input[type="number"], input[type="url"], textarea, select {
			border-color: $dark-gray;
			border-radius: 4px;

			&:focus,
			&:hover {
				border-color: $border-hover-color;
				outline: none;
			}

			&:focus {
				background: #fff;
				box-shadow: 0 0 0 1px $border-hover-color;
			}
		}

		input[type="radio"]:before {
			box-sizing: inherit;
		}
	}
}

// Temporary fix for Kendence Theme issue (#714)
.components-accessible-toolbar .components-toolbar-group > .components-button.components-button.has-icon svg,
.components-toolbar div > .components-button.components-button.has-icon svg {
    max-width: 24px;
}
