.#{$namespace}-focus-keyword .tagify__tag.has-keyword-intent {
	flex-wrap: wrap;

	position: relative;

	padding: 6px 8px 6px 12px;
	margin-left: 8px;
	margin-right: 2px;
	border-radius: 20px;

	.tagify__tag__removeBtn {
		$size: 12px;

		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: -2px;
		left: -8px;

		width: 16px;
		height: 16px;

		color: rgba($black, 0.4) !important;
		background: $white !important;
		
		box-shadow: 0px 1px 3px rgba($black, 0.15);
		
		transition: all 0.2s ease-in-out;

		&:hover {
			color: $red-110 !important;
		}
	}

	&:first-of-type {
		padding-right: 5px;

		> div {
			margin-right: 6px;
		}

		.#{$namespace}-keyword-intent-container {
			display: flex;
			
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;

			.#{$namespace}-keyword-intent-wrapper {
				display: flex;
				align-items: center;
				gap: 3px;
	
				width: 22px;
				padding-left: 3px;
				border: 0;
				border-radius: 16px;

				color: $white;
				
				font-size: 12px;
				font-weight: 500;
				line-height: 14px;
				
				z-index: 10;
				overflow: hidden;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
		
				&:hover {
					width: max-content;
	
					padding-right: 7px;
					padding-left: 5px;
	
					.intent {
						visibility: visible;
					}
				}
	
				.icon::before {
					font-size: 16px;
				}
	
				.intent {
					font-size: 11px;
					font-weight: 400;
					visibility: hidden;
				}

				&.is-show-intent {
					height: 18px;

					color: rgba($black, 0.4);
					background: transparent !important;

					&:hover {
						color: rgba($black, 0.7);
					}
				}
			}
		}

		&.float-keyword-intent {
			padding-right: 27px;
	
			&:first-of-type .#{$namespace}-keyword-intent-container {
				position: absolute;
				right: 4px;
				top: 50%;
				transform: translateY(-50%);

				height: 100%;
	
				&:not(.is-loading):hover {
					&::after,
					&::before {
						content: '';
						display: block;

					}
					
					&::before {
						width: 30px;
						
						mask-image: linear-gradient(to right, transparent, $black);
		
						z-index: 5;
					}

					&::after {
						position: absolute;
						inset: 0;
						left: 30px;
						z-index: 1;

						border-top-right-radius: 16px;
    					border-bottom-right-radius: 16px;
					}
				}

				.#{$namespace}-keyword-intent-wrapper {
					height: 100%;
				}
			}
		}
	}
}
