// main: ../sidebar.scss
div.#{$namespace}-modal {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;

    overflow-y: scroll;

    width: 665px;
    max-width: 100%;
    height: 94vh;
    max-height: 735px;

    border: 0;
    box-shadow: 0 5px 30px 0 rgba( #000, .2 );

    .components-modal__content {
        padding: 0;
        margin-top: 50px;

        &:before {
            margin: 0;
        }
    }

    .components-panel__body {
        border: 0;
    }

    .components-modal__header {
        height: 51px;
        margin: 0;
        padding: 0 1rem;

        border-bottom: 1px solid $light_gray;

        z-index: 999;

        .components-modal__header-heading {
            font-size: 14px;
        }

        button {
            padding: 0 10px;
        }
    }
}

@media (max-width: 782px) {
    .#{$namespace}-modal {
        width: 100%;
        height: 100%;
        max-height: 100%;
    }
}