// main: ../sidebar.scss

.#{$namespace}-sidebar-panel {
    .components-base-control__label {
        font-weight: 600;

        display: block;

        margin-bottom: 10px;
    }

    .components-toggle-control__label {
        font-weight: 600;
    }

    .components-base-control__help {
        font-weight: normal;

        margin-top: 0;

        &.#{$namespace}-notice {
            margin: 1rem 0;

            border-width: 0 0 0 4px;
            border-radius: 4px;
        }
    }
}

// Common core styling where wer are not using common.min.css file from the core.
.#{$namespace}-sidebar-panel,
.#{$namespace}-modal-overlay {
    line-height: 1.4em;

    .hidden {
        display: none;
    }

    p {
        line-height: 1.5;
    }

    strong {
        font-weight: 600;
    }

    > div {
        outline: 0;
    }

    .notice,
    div.error,
    div.updated {
        margin: 5px 15px 2px;
        padding: 1px 12px;

        color: #444;
        border-left-width: 4px;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.04);

        p {
            margin: .5em 0;
            padding: 2px;
        }
    }

    .notice-info {
        border-left-color: #00a0d2;
    }

    .notice-info.notice-alt {
        background-color: #e5f5fa;
    }

    .notice-warning.notice-alt {
        border-left-color: #ffb900;;
        background-color: #fff8e5;
    }

    .notice-error.notice-alt {
        border-left-color: #dc3232;
        background-color: #fbeaea;
    }

    .notice-success.notice-alt {
        border-left-color: #00a0d2;
        background-color: #e5f5fa;
    }
}

// Schema Tab.
.#{$namespace}-tab-content-schema {
    .variable-group {
        .components-button {
            top: 30px;
        }

        .#{$namespace}-variables-dropdown {
            top: 59px;

            width: 100%;
        }
    }
}

// Social Tab.
.#{$namespace}-tab-content-social {
    p:last-of-type {
        margin-bottom: 0;
    }
}

.#{$namespace}-tab-content-advanced {
    .#{$namespace}-redirect {
        .components-toggle-control.is-close {
            .components-base-control__field {
                margin-bottom: 0;
            }
        }
    }
}

.#{$namespace}-robots-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .components-base-control {
        margin-bottom: 5px;
        flex: 0 0 55%;

        @at-root #side-sortables & {
            flex: 0 0 100%;
        }

        &__field {
            margin-bottom: 0;

            label {
                cursor: pointer;

                @at-root #side-sortables & {
                    display: inline-flex;
                }
            }
        }

        &:nth-child(even) {
            flex: 0 0 44%;

            @at-root #side-sortables & {
                flex: 0 0 100%;
            }

            .rank-math-tooltip-content {
                float: right;
                width: 227%;

                @at-root .block-editor & {
                    max-width: 268px;
                }
            }
        }
    }

    &.advanced-robots {
        .components-base-control {
            margin-top: 6px;

            flex: 0 0 62%;

            &:nth-child(even) {
                margin-top: 0;

                flex: 0 0 33%;
            }
        }

        @at-root .rank-math-sidebar-panel & .rank-math-tooltip-content {
            width: 162%;
        }
    }

    @at-root .rank-math-sidebar-panel & .rank-math-tooltip-content {
        width: 182%;

        @at-root .block-editor & {
            max-width: 268px;
        }
    }
}

.#{$namespace}-primary-term-picker {
    margin: 20px 0 0;
    padding: 16px 0;
    padding-bottom: 24px;
    border-top: 1px solid #e2e4e7;
    border-bottom: 1px solid #e2e4e7;

    .components-base-control {
        width: 100%;
    }

    label {
        font-weight: 600;
        margin-bottom: 8px !important;
        color: #191e23;
    }
}

// Responsive
@media (min-width: 782px) {
    body {
        .edit-post-layout.is-sidebar-opened {
            .edit-post-layout__content {
                margin-right: 300px;
            }

            .edit-post-plugin-sidebar__sidebar-layout,
            .edit-post-sidebar {
                width: 300px;
            }
        }
    }
}

.#{$namespace}-datepicker__dialog {
    .components-popover__content {
        padding: 10px;

        @media (min-width: 782px) {
            width: 270px;
        }
    }
}