// main: ../sidebar.scss
%flex {
    @include flex;
}

.#{$namespace}-post-publish {
    p {
        margin-top: 0;
    }

    .#{$namespace}-social-share-buttons {
        @extend %flex;
    }

    .#{$namespace}-share-button {
        font-size: 22px;
        line-height: 30px;

        margin-right: 5px;
        padding: 0;

        transition: .2s all linear;
        text-align: center;

        color: #fff;
        border-radius: 30px;
        background: #d14836;

        flex-grow: 1;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            opacity: .9;
        }

        a {
            display: block;

            text-decoration: none;

            color: inherit;

            &:focus {
                box-shadow: none;
            }
        }

        .dashicon {
            vertical-align: -2px;
        }

        &.rm-facebook {
            background: #1877f2;
        }

        &.rm-twitter {
            background: #1da1f2;
        }
    }
}