// main: ../sidebar.scss
$title-height: 24px;

.#{$namespace}-button-devices {
	float: right;

	.button.button-small {
		font-size: 14px;
		line-height: 32px;

		display: inline-block;

		height: 30px;
		min-height: 26px;
		padding: 0 8px;

		cursor: pointer;
		transition: .25s all linear;

		color: #7f8292;
		border: 1px solid $gray;
		border-radius: 3px;
		background: #f3f5f6;

		&:first-child {
			margin-right: 5px;
		}

		&:hover {
			color: $primary;
			border-color: $primary;
		}

		&.active {
			color: #fff;
			border-color: $primary;
			background: $primary;
			box-shadow: none;
		}
	}
}

.serp-preview {
	background: #fff;
	color: $text;

	* {
		box-sizing: border-box;
	}
	// Preview section title
	&-title {
		margin-bottom: 5px;

		&:before {
			font-size: 14px;
			font-weight: 600;
			line-height: $title-height;

			content: attr(data-title);
			letter-spacing: .05em;
		}

		.seo-score {
			font-weight: 600;

			display: none;
			float: right;

			padding: 4px 6px;

			color: $white;
			border-radius: 3px;
			background: $color-ok;

			@at-root .show-icon-labels & {
				display: block;
			}

			&.bad-fk {
				background: $color-bad;
			}

			&.good-fk {
				background: $color-good;
			}
		}
	}

	&-wrapper {
		position: relative;

		padding-top: 5px;

		transition: all .6s ease;
	}

	&-body {
		cursor: pointer;
		transition: width .2s ease, padding .2s ease, margin .2s ease;
	}

	// Field Wrapper
	.group {
		position: relative;

		width: 100%;
	}

	// Preview fields
	.serp-description,
	.serp-title,
	.serp-url {
		font-family: arial, sans-serif;
		font-size: 13px;

		position: relative;
		z-index: 1;

		display: block;
		overflow: hidden;

		width: 100%;
		max-width: 600px;
		margin: 0;

		cursor: pointer;
		white-space: nowrap;
		text-overflow: ellipsis;
		pointer-events: none;

		mark {
			font-weight: bold;

			color: inherit;
			background-color: transparent;
		}
	}

	// Title
	.serp-title {
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;

		margin-bottom: 3px;
		padding-bottom: 0;

		color: #1a0dab;

		&.capitalize {
			text-transform: capitalize;
		}
	}

	.serp-preview-body-header {
		display: flex;
		align-items: center;
	}

	.serp-header-info {
		width: 80%;
	}

	// Blog name (site name)
	.serp-blog-name {
		font-size: 14px;
		line-height: 20px;
	}

	// Url parent div
	.serp-url-items {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	// URL
	.serp-url {
		max-width: 315px;
		font-size: 12px;
		line-height: 16px;

		margin: 3px 0 5px;
		padding-right: 5px;

		color: #202124;

		&:after {
			position: absolute;
			top: -2px;

			margin-left: 10px;

			content: url('data:image/svg+xml; utf8, <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>');

			opacity: .4;

			@include size(17px, 17px);
		}
	}

	.serp-url-suffix {
		@include size(17px, 17px);
		line-height: 18px;
		opacity: .8;

	}

	// Description
	.serp-description {
		line-height: 1.4;

		white-space: normal;
		text-overflow: unset;
		word-wrap: break-word;

		color: #555d66;
	}

	// Star Ratings.
	.#{$namespace}-rating-preview {
		margin-bottom: 4px;
		margin-left: -1px;
	}

	.serp {
		&-ratings {
			line-height: 1;

			position: relative;

			display: inline;

			margin-right: 5px;

			vertical-align: -1px;

			color: #ccc;

			span {
				font-size: 14px;

				width: 14px;
				height: 14px;
			}
		}

		&-result {
			position: absolute;
			top: 0;
			left: 0;

			overflow: hidden;

			white-space: nowrap;

			color: #f9b709;

			span {
				margin-top: -1px;
			}
		}

		&-rating-label,
		&-rating-value {
			color: #70757a;
		}
	}
}

// Modal Preivew Title
.#{$namespace}-editor-general .serp-preview-title {
	margin-bottom: 0;

	&:before {
		line-height: 36px;
	}
}

// Google Preview
.serp-preview {
	&-favicon {
		background-color: $light_gray;
		border: 1px solid #3c4043;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 26px;
		width: 26px;
		margin-right: 12px;
	}

	&-bg {
		overflow: hidden;

		box-sizing: border-box;
		max-height: 0;

		transition: .2s max-height ease-in-out;

		@include prefixer(user-select, none, $all-browser);
	}

	// Search Form
	@at-root .#{$namespace}-editor &-input {
		position: relative;

		max-width: 598px;

		pointer-events: none;

		input[disabled] {
			font: 16px arial,sans-serif;

			padding: 5px 16px;

			color: #000;
			border: 1px solid transparent;
			border-radius: 24px;
			background: #fff;
			box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);

			@include size(100%, 46px);
		}

		.serp-icon-mic,
		.serp-icon-search {
			display: inline-block;

			width: 24px;

			@include position(absolute, 0 48px null null);
		}
		// Mic Icon
		.serp-icon-mic {
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC');
			background-repeat: no-repeat;
			background-position: right center;
			background-size: 24px 24px;

			@include size(24px, 48px);
		}
		// Search Icon
		.serp-icon-search {
			right: 16px;

			svg {
				fill: #4285f4;
				@include size(24px, 48px);
			}
		}
	}
	// Google Menu
	&-menus {
		overflow: hidden;

		max-width: 600px;

		ul {
			float: left;
			overflow: hidden;

			margin: 0;
			padding: 0;

			list-style: none;

			li {
				font-family: arial,sans-serif;
				font-size: 13px;
				line-height: 19px;

				float: left;

				margin: 0;
				padding: 27px 12px 12px;

				color: #777;

				&.current {
					color: #1a73e8;
					border-bottom: 3px solid #1a73e8;

					img {
						margin-right: 3px;
					}
				}

				img,
				svg {
					display: inline-block;

					width: 16px;
					margin-right: 1px;

					vertical-align: -3px;

					fill: #5f6368;
				}
			}

			&.menus-right {
				float: right;
			}
		}
	}
	// Result Stats
	&-result-stats {
		font-family: arial,sans-serif;
		font-size: small;
		line-height: 43px;

		color: #808080;
		border-top: 1px solid #ebebeb;
	}
}
// Desktop Preview
.desktop-preview {
	.serp-preview {
		&-title {
			&:before {
				content: attr(data-desktop);
			}
		}
	}
}
// Mobile Preview
.mobile-preview {
	.serp-preview {
		&-title:before {
			content: attr(data-mobile);
		}

		&-bg {
			width: 400px;
			margin: auto;

			border-bottom: 1px solid rgba(60, 64, 67, .08);
		}

		&-input {
			max-width: 399px;

			input[disabled] {
				height: 41px;
				padding-left: 43px;
			}

			.serp {
				&-icon-mic {
					display: none;
				}

				&-icon-search {
					top: 0;
					left: 4px;

					width: 40px;
					height: 41px;
					padding-right: 8px;
					padding-left: 8px;

					text-align: center;

					border-radius: 0 20px 20px 0;

					svg {
						height: 41px;

						fill: #9aa0a6;
					}
				}
			}
		}

		&-menus {
			padding: 0 10px;

			ul {
				width: 100%;

				@include value-prefixer(display, flex, $browser);
				justify-content: space-between;

				li {
					font-family: inherit;
					font-size: 14px;
					font-weight: 500;
					line-height: 34px;

					padding: 6px 0 0;

					text-align: center;

					&.current {
						color: #202124;
						border-bottom: 2px solid #202124;
					}

					img,
					svg {
						display: none;
					}
				}

				&.menus-right {
					display: none;
				}
			}
		}

		&-result-stats {
			display: none;
		}

		&-body {
			box-sizing: border-box;
			width: 400px;
			margin: 10px auto auto;
			padding: 10px;

			word-wrap: break-word;

			background-color: #fff;

			@include value-prefixer(display, flex, $browser);
			@include prefixer(flex-flow, column wrap, $browser);
		}
	}

	.#{$namespace}-rating-preview {
		display: flex;

		margin-top: 10px;

		flex-wrap: wrap;
		order: 2;

		.serp-ratings {
			margin: 2px 0 0 5px;

			order: 3;

			.dashicon {
				font-size: 14px;
			}
		}

		.serp-result {
			color: #f9b709;
		}

		.serp-rating-label {
			width: 100%;
			margin-bottom: 2px;

			color: #202124;

			order: 1;
		}

		.serp-rating-value {
			order: 2;
		}
	}
	@at-root .#{$namespace}-editor & {
		.serp-title {
			color: #1558d6;
		}

		.group:first-child {
			max-width: 250px;

			@include value-prefixer(display, flex, $browser);
		}

		.serp-preview-bg {
			display: none;
		}

		.serp-url {
			font-size: 12px;

			margin-bottom: 12px;

			color: #3c4043;
		}
	}
}

// Expanded
.expanded-preview {
	// Desktop
	&.desktop-preview {
		.serp-preview-bg {
			overflow: visible;
		}

		@media (min-width: 768px) {
			.serp-preview-bg {
				max-height: 168px;
			}
		}
	}

	// Mobile
	&.mobile-preview {
		.serp-preview-bg {
			display: block;
			overflow: visible;

			max-height: 99px;
		}

		.serp-title {
			margin-bottom: 10px;
		}

		.serp-description {
			color: #3c4041;
		}
	}
}

// RTL
body.rtl {
	.#{$namespace}-button-devices {
		float: left;

		.button.button-small:first-child {
			margin-right: 0;
			margin-left: 5px;
		}
	}

	.serp-preview-bg {
		.serp-preview {
			&-input {
				.serp-icon {
					&-search {
						right: auto;
						left: 15px;
					}

					&-mic {
						right: auto;
						left: 50px;

						padding-right: 8px;
						padding-left: 2px;
					}
				}
			}

			&-menus {
				li,
				ul {
					float: right;

					&.menus-right {
						float: left;
					}
				}
			}
		}
	}

	// Reset direction of trimmed text.
	.serp-preview-body {
		.group {
			.serp-url ,
			.serp-title {
				direction: ltr;
				text-align: end;
			}
		}
	}

	.mobile-preview {
		.serp-preview-bg .serp-preview-input .serp-icon-search {
			left: 0;

			border-radius: 20px 0 0 20px;
		}
	}

	.serp-preview .serp-description:focus:before,
	.serp-preview .serp-description:hover:before,
	.serp-preview .serp-title:focus:before,
	.serp-preview .serp-title:hover:before,
	.serp-preview .serp-url:focus:before,
	.serp-preview .serp-url:hover:before {
		text-align: left;
	}
}