// main: ../sidebar.scss

%rank-math-tabs {
    > .components-tab-panel__tabs {
        display: flex;

        background: #f8f9fa;

        flex-flow: row wrap;
        justify-content: space-between;

        &.contentAI {
            display: none;
        }

        .#{$namespace}-extra-menu {
            @extend %flex;
        }

        button {
            font-weight: normal;

            position: relative;

            display: block;
            overflow: visible;

            padding: 3px 7px;

            color: darken($dark_gray, 15);
            border-radius: 0;
            background: none;
            box-shadow: none;

            @include size( 48px, 50px );

            &:hover {
                color: inherit;
                background: transparent;
                box-shadow: none;
                
                i {
                    border-radius: 20em;
                    background: #d9e9ed;
                    box-shadow: 0 0 0 8px #d9e9ed;
                }
            }

            &:focus {
                font-weight: normal;

                outline: none;
                background: transparent;
                box-shadow: none;
            }

            i {
                font-size: 17px;

                vertical-align: -4px;

                @include margin( null 7px null 0 );

                &.rm-icon-schema {
                    font-size: 18px;

                    vertical-align: -4px;
                }
            }

            span {
                display: none;
            }

            &.is-active {
                width: auto;
                margin-bottom: -1px;

                color: $text;

                &:not(:disabled):not([aria-disabled=true]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover {
                    i {
                        background: transparent;
                        box-shadow: none;
                    }
                }

                i {
                    box-shadow: none;

                    @include margin( null 7px null 0 );
                }

                span {
                    display: inline-block;
                }

                &:after {
                    visibility: visible;

                    width: 100%;
                    height: 3px;

                    content: '';

                    background: $color-blue;
                    box-shadow: none;

                    @include position( absolute, null null -1px 0 );
                }
            }

            &.hidden {
                display: none !important;
            }
        }
    }

    .cmb2-metabox-description {
        font-style: normal;
    }

    // Date Control
    .rank-math-datepicker {
        position: relative;

        > button {
            position: absolute;
            top: 31px;
            right: 2px;

            height: 24px;
            padding: 0 3px;

            &:not(.is-default):hover {
                background: transparent;
                box-shadow: none;
            }
        }
    }

    // SEO Score Toggle Control
    .rank-math-frontend-score {
        .components-base-control__field {
            margin-bottom: 0;
        }
        .components-toggle-control__label {
            margin-bottom: 0;
        }
    }
}

.#{$namespace}-sidebar-panel,
.#{$namespace}-modal {
    .components-panel__body,
    .components-modal__content {
        margin-bottom: 0;

        border-bottom: 0;

        @import '../partials/common/button';
    }

    // Edit Snippet Button.
    .rank-math-edit-snippet {
        height: 30px;
        margin: 1rem 0;

        border-color: $primary-border-color;
        background: $primary;

        &:hover {
            border-color: $primary-hover-border-color;
            background: $primary-hover;
        }
    }
}

.#{$namespace}-tabs {
    @extend %rank-math-tabs;

    @media (min-width: 600px) {
        .components-checkbox-control {
            &__input-container {
                width: 16px;
                height: 16px;
                margin-right: 8px;

                svg {
                    width: 20px;
                    height: 18px;
                }
            }

            &__input[type=checkbox] {
                width: 16px;
                height: 16px;

                &:checked, &:checked:focus {
                    border-color: $primary;
                    background: $primary;
                }
            }
        }
    }
}

body.rtl {
    .rank-math-tabs > .components-tab-panel__tabs {
        button {
            &.is-active i,
            i {
                margin-right: 0;
                margin-left: 5px;
            }

            &[id='1-review'] {
                margin-right: auto;
                margin-left: 0;
            }
        }
    }
}