// main: ./sidebar.scss

$bad-score  : #e12925;
$ok-score   : #b36f0e;
$good-score : #439f40;

.edit-post-layout:not(.show-icon-labels) {
	.interface-pinned-items {
		button.components-button[aria-label='Rank Math'],
		button.components-button[aria-label='Content AI'] {
			padding: 0;

			background: transparent;

			width: auto;

			&:hover {
				background: transparent;
			}

			&:focus:not(:disabled) {
				box-shadow: none;

				> div {
					box-shadow: inset 0 0 0 1px #fff,0 0 0 0.5px $gray;

					&.bad-fk {
						box-shadow: inset 0 0 0 1px #fff,0 0 0 0.5px $bad-score;
					}

					&.ok-fk {
						box-shadow: inset 0 0 0 1px #fff,0 0 0 0.5px $ok-score;
					}

					&.good-fk {
						box-shadow: inset 0 0 0 1px #fff,0 0 0 0.5px $good-score;
					}
				}
			}

			.#{$namespace}-toolbar-score.content-ai-score {
				font-weight: 600;
				position: relative;
			}

			&:not(.is-pressed) .#{$namespace}-toolbar-score.content-ai-score {
				&.bad-fk {
					color: darken( #f296b6, 25% );
					border-color: darken( #f296b6, 25% );
					background: lighten( #f296b6, 18% );
				}

				&.ok-fk {
					color: darken( #f1ae50, 25% );
					border-color: darken( #f1ae50, 25% );
					background: lighten( #f1ae50, 30% );
				}

				&.good-fk {
					color: darken( #29ab87, 5% );
					border-color: darken( #29ab87, 5% );
					background: lighten( #29ab87, 50% );
				}
			}

			.#{$namespace}-toolbar-score {
				padding: 10px 9px 8px;

				color: $color-8;
				border: 1px solid darken( $gray, 5% );
				border-radius: 2px;
				background: $light_gray;

				.rm-icon {
					font-size: 17px;

					float: left;

					height: 17px;
					margin-right: 4px;

					&-target {
						font-size: 15px;
						font-weight: 600;
					}
				}

				.seo-score {
					font-weight: 600;

					display: inline-block;
				}

				&.loading {
					pointer-events: none;
				}

				&.bad-fk {
					color: $bad-score;
					border-color: $bad-score;
					background: #fce5e2;
				}

				&.ok-fk {
					color: $ok-score;
					border-color: $ok-score;
					background: lighten( #ffa500, 38% );;
				}

				&.good-fk {
					color: $good-score;
					border-color: $good-score;
					background: #e3f4e3;
				}
			}

			&.is-toggled,
			&.is-pressed {
				.#{$namespace}-toolbar-score {
					color: #fff;
					background: $gray;

					&.bad-fk {
						background: lighten($bad-score, 20%);
					}

					&.ok-fk {
						background: lighten( #ffa500, 0% );
					}

					&.good-fk {
						border-color: darken( #4ab147, 5% );
						background: lighten( #4ab147, 10% );
					}
				}
			}
		}
	}
}


.components-menu-group .rank-math-toolbar-score {
	.seo-score, .content-ai-score {
		display: none;
	}

	i {
		font-size: 1.25rem;
	}
}