// main: ../sidebar.scss

.edit-post-pinned-plugins .components-button, .interface-pinned-items .components-button {
	.#{$namespace}-toolbar-score {
		margin: -7px;
		padding: 9px 9px 8px;

		color: #fff;
		fill: #fff;
		border-radius: 2px;
		background: #d9e9ed;

		.rank-math-icon {
			float: left;
			height: 17px;
			margin-right: 5px;

			&,
			*,
			&:hover,
			&:hover * {
				fill: inherit !important;
				stroke: inherit !important;
			}
		}

		.seo-score {
			font-weight: 600;

			display: inline-block;
		}

		&.loading {
			pointer-events: none;
		}

		&.bad-fk {
			color: darken( $color-bad, 5% );
			fill: darken( $color-bad, 5% );
			background: lighten( $color-bad, 18% );
		}

		&.ok-fk {
			color: darken( $color-ok, 15% );
			fill: darken( $color-ok, 15% );
			background: lighten( $color-ok, 22% );
		}

		&.good-fk {
			color: darken( $color-good, 5% );
			fill: darken( $color-good, 5% );
			background: lighten( $color-good, 28% );
		}
	}

	&.is-toggled, &.is-pressed, &.is-pressed:focus, &.is-pressed:hover {
		height: 36px;
		padding: 8px;
	}

	&.components-button {
		.#{$namespace}-toolbar-score {
			border-radius: 3px;
		}
	}

	&.is-toggled, &.is-pressed {
		.#{$namespace}-toolbar-score {
			background: transparent;

			&.bad-fk {
				color: lighten( $color-bad, 40% );
				fill: lighten( $color-bad, 40% );
				background: $color-bad;
			}

			&.ok-fk {
				color: lighten( $color-ok, 40% );
				fill: lighten( $color-ok, 40% );
				background: $color-ok;
			}

			&.good-fk {
				color: lighten( $color-good, 40% );
				fill: lighten( $color-good, 40% );
				background: $color-good;
			}
		}
	}
}

.components-menu-group .rank-math-toolbar-score {
	.seo-score {
		display: none;
	}

	.rank-math-icon {
		color: inherit;

		g {
			fill: inherit!important;
		}

		path {
			fill: inherit;
			stroke: inherit;
		}
	}
}
