// main: ../sidebar.scss

.variable-group {
	position: relative;

	.components-button {
		color: inherit;
		padding: 3px;
		height: 26px;

		@include position( absolute, 2px 2px null null );

		&:not(.is-default):hover {
			background: transparent;
			box-shadow: none;
		}
	}

	input,
	textarea {
		padding-right: 40px !important;
		margin: 0;
	}
}

.#{$namespace}-variables-dropdown {
	z-index: 999;

	display: none;
	overflow: auto;

	box-sizing: border-box;
	width: 80%;
	max-width: 450px;
	max-height: 290px;

	border: 1px solid $gray;
	border-radius: 4px;
	background: #fff;

	@include position( absolute, 38px 0 null null );

	@at-root body.rtl {
		right: auto;
		left: 38px;
	}

	.components-base-control {
		padding: 10px 10px 0;
	}

	input[type='text'].components-text-control__input {
		border-color: $gray;
		box-shadow: none !important;

		@include size( 100%, 34px );
	}

	ul {
		margin: 0;
	}

	li {
		font-size: 12px;

		position: relative;

		margin: 0;
		padding: 10px;

		cursor: pointer;

		border-bottom: 1px solid $gray;

		span {
			line-height: 1.3;
			font-style: italic;
			display: block;

			padding-top: .5em;

			opacity: 0.6;
		}

		&:hover {
			background: #f8f9fa;
		}

		&:after {
			display: inline-block;

			margin-top: 5px;
			padding: .25em .4em;

			content: attr(data-var);
			white-space: nowrap;

			border-radius: .25rem;
			background-color: #f0f2f4;
		}
	}
}
