// compileCompressed: ../css/$1.css

/*!
 * Plugin:	Rank Math
 * URL:	https://rankmath.com/wordpress/plugin/seo-suite/
 * Name:	rank-math-contact-info.css
 */

// Common and Vendors
@import "../../vendor/bourbon/bourbon";
@import "variables";
@import "mixins";

/**
 * Styling for Rank Math [contact-info] shortcode
 */
.rank-math-contact-section {
	clear: left;
	margin: 1rem 0;

	label {
		font-weight: bold;
	}
}

.rank-math-contact-hours {

	&-details {

		.rank-math-opening-hours {
			margin-bottom: 6px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.rank-math-opening-days,
	.rank-math-opening-time {
		display: block;
	}
}

.rank-math-phone-number {
	margin: 6px 0;
}

.rank-math-contact-map {
	iframe {
		width: 100%;
		height: 300px;
		border: 0;
	}
}

.clear {
	clear: both;
}
