// compileCompressed: ../css/$1.css

/*!
 * Plugin:	Rank Math
 * URL:	https://rankmath.com/wordpress/plugin/seo-suite/
 * Name:	rank-math-seo-score.css
 */
// Common and Vendors
@import '../../vendor/bourbon/bourbon';
@import 'variables';
@import 'mixins';

/**
 * Styling for Rank Math front end SEO Score
 */
.#{$namespace}-seo-score {
	font-family: sans-serif;

	position: relative;

	display: inline-block;

	@include size(96px);
	margin: 20px 20px 30px;

	text-align: center;

	color: #fff;
	border: none;
	border-radius: 50%;
	background: #eee;
	box-shadow: 1px 1px 1px #bbb;

	&.before-content {
		margin: 0 0 30px 20px;
		float: right;
	}

	&.after-content {
		margin: 20px 0 30px 20px;
	}

	&.as-shortcode {
		display: inline-block;
	}

	.label {
		font-size: 12px;

		@include position( absolute, 100px null null 0 );

		display: block;

		width: 100%;

		color: #979ea5;
	}

	.score {
		font-size: 42px;
		font-weight: bold;
		line-height: 42px;

		display: block;

	}

	.outof {
		font-size: 12px;
		font-weight: normal;
		line-height: 12px;

		display: block;

		color: rgba(255, 255, 255, .7);
	}

	.backlink {
		font-size: 12px;

		@include position( absolute, -94px null null -12px );

		display: block;
		visibility: hidden;

		width: 120px;
		padding: 8px 10px;
		transition: .25s all ease;
		transition-delay: .25s;

		opacity: 0;
		color: #a8a8a8;
		border: none;
		border-radius: 8px;
		background: #fff;
		box-shadow: 0 4px 12px rgba(60, 60, 90, .15);

		&:after {
			position: absolute;
			bottom: -8px;
			left: calc(50% - 7px);

			width: 0;
			height: 0;

			content: '';

			border-width: 8px 7.5px 0 7.5px;
			border-style: solid;
			border-color: #fff transparent transparent transparent;
		}
	}

	&:hover .backlink {
		top: -74px;

		visibility: visible;

		opacity: 1;
	}

	.poweredby {
		font-size: 13px;

		color: #a8a8a8;

		a {
			display: block;
			font-weight: normal;

			text-decoration: none;

			color: #6372b6;
			border: none;
		}
	}

	&.unknown-seo {
		background: #eee;
		background: linear-gradient(135deg, #b9b9b9 0%, #989898 100%);
		box-shadow: 1px 1px 1px #bbb;
	}

	&.bad-seo {
		background: #f8b0a2;
		background: linear-gradient(135deg, #f8b0a2 0%,#f1938c 100%);
		box-shadow: 1px 1px 1px #e48982;

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b0a2', endColorstr='#f1938c',GradientType=1 );
	}

	&.good-seo {
		background: #fdd07a;
		background: linear-gradient(135deg, #fdd07a 0%,#fcbe6c 100%);
		box-shadow: 1px 1px 1px #efb463;

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd07a', endColorstr='#fcbe6c',GradientType=1 );
	}

	&.great-seo {
		background: #99d484;
		background: linear-gradient(135deg, #99d484 0%,#83c97f 100%);
		box-shadow: 1px 1px 1px #5ba857;

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d484', endColorstr='#83c97f',GradientType=1 );
	}

	&.template-circle .score {
		margin-top: 22px !important;
	}

	&.template-square {
		@include size( 110px, 80px );

		border-radius: 12px;

		.score {
			margin: 10px 12px;

			text-align: left;
		}

		.outof {
			display: inline-block;

			margin-left: -8px;
		}

		.label {
			font-size: 13px;

			top: 52px;
			left: 14px;

			text-align: left;

			color: rgba(255, 255, 255, .8);
		}

		.backlink {
			left: -5px;
		}

		&.before-content {
			margin-bottom: 20px;
		}

		&.after-content {
			margin-bottom: 0;
		}
	}
}

// Twenty-Twenty Theme
.theme-twentytwenty {

	.#{$namespace}-seo-score {
	    width: 96px!important;

			&.template-square {
				width: 110px !important;
			}

			&.before-content {
			   margin: 0 auto 30px auto;
			   display: inherit;
			   float: none;
			}
			&.template-circle .score,
			&.template-square .score {
			    transform: translateY(22px);
			}
	}
}
