// main: ../../cmb2.scss

[id^='cmb2-metabox-rank'] input[type=checkbox] {
	margin: 0 5px 0 0;

	&:checked,
	&:checked:focus {
		border-color: $primary;
		background: $primary;
		box-shadow: none !important;

		&:before {
			font-family: 'dashicons';
			font-size: 20px;
			line-height: 20px;

			content: '\f147';

			color: #fff;
		}

		@media screen and (max-width: 782px) {
			&:before {
				width: 1.875rem;
				height: 1.875rem;
				margin: -.1875rem -.3125rem;
			}
		}
	}
}