// main: ../../cmb2.scss

[id^='cmb2-metabox-rank'] input[type=checkbox] {
	margin: 0 5px 0 0;

	&:checked, &:checked:focus {
		border-color: $primary;
		background: $primary;
		box-shadow: none !important;

		&:before {
			content: url("data:image/svg+xml; utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23fff%27/%3E%3C/svg%3E%0A");
			font-size: 20px;

			color: #fff;
			height: 1.3125rem;
			width: 1.3125rem;
		}

		@media screen and (max-width: 782px) {
			&:before {
				width: 1.875rem;
				height: 1.875rem;
				margin: -.1875rem -.3125rem;
			}
		}
	}
}
