#rank_math_metabox_content_ai {
	.rank-math-ca-credits {
		top: -37px;
		right: 90px;

		> span {
			display: none;
		}

		.update-credits.rank-math-tooltip span {
			left: -50px;

			height: auto;

			&:after {
				left: 75%;
			}
		}
	}

	.inside {
		margin: 0;
		padding: 0;

		.error.inline {
			display: none;
		}

		.rank-math-ca-top-section .components-button {
			visibility: hidden;
		}

		.components-panel__body {
			border-top: none;

			.rank-math-ca-top-section,
			.rank-math-ca-keywords-wrapper,
			.rank-math-content-ai-data h3.rank-math-ca-section-title,
			.rank-math-ca-score,
			.rank-math-ca-recommendations > div,
			.rank-math-contentai-tabs .components-tab-panel__tabs,
			.components-panel__body {
				padding-right: 12px;
				padding-left: 12px;
			}

			.rank-math-tab-content-ai-tools {
				overflow: auto;

				max-height: 500px;
			}

			.rank-math-contentai-tabs {
				.components-tab-panel__tab-content {
					overflow-y: scroll;

					max-height: 500px;
				}

				.rank-math-section-heading h2 {
					margin: 0 !important;
					padding: 0;
				}
			}

			.rank-math-ca-force-update {
				top: 56.5px;
			}
		}
	}
}

.block-editor__container #rank_math_metabox_content_ai {
	display: none !important;
}
