#wpwrap,
#elementor-editor-wrapper,
#rank-math-rm-app-root {
	button.rank-math-content-ai {
		font-size: 12px;
		line-height: 1;

		position: absolute;
		top: 15px;
		right: 42px;

		display: flex;

		min-height: 22px;
		padding: 0 5px;

		&.is-new {
			border-color: $color-3;
			box-shadow: 0 0 2px $color-3;

			&:before {
				font-size: 9px;
				font-weight: 600;
				line-height: 1;

				position: absolute;
				top: -23px;
				right: 7px;

				padding: 3px 4px;

				content: 'New!';
				animation: bounce 0.8s infinite alternate;

				color: #fff;
				border-radius: 2px 2px 0 2px;
				background: $color-3;
			}

			&:after {
				position: absolute;
				top: -9px;
				right: 7px;

				width: 0;
				height: 0;

				content: '';
				animation: bounce 0.8s infinite alternate;

				border: 0 solid transparent;
				border-top: 4px solid $color-3;
				border-right-width: 0;
				border-left-width: 11px;
			}
		}

		i {
			width: 13px;
			font-size: 13px;
			line-height: 14px;

			margin-right: 5px;

			background: linear-gradient(-135deg, #ff4492, #434e8f);
			background-clip: text;

			-webkit-text-fill-color: transparent;
		}
	}
}

.editor-post-publish-panel__prepublish .rank-math-content-ai-box {
	background-color: #fff8e5;

	.components-panel__body-title {
		button .dashicon {
			width: 17px;
			height: 17px;
			font-size: 12px;
			background: linear-gradient(-135deg, #ff4492, #434e8f);
			background-clip: text;
			-webkit-text-fill-color: transparent;

			&:before {
				vertical-align: -2px;
			}
		}
	}

	p {
		margin-top: 4px;

		&:before {
			content: '\f348';
			font-family: 'dashicons';
			color: $color-ok-dark;
			font-size: 2rem;
			opacity: 0.7;
			float: left;
			margin-right: 10px;
			line-height: 1;
		}
	}

	> button {
		margin-left: 42px;
	}
}

@keyframes loader {
	0% {
		transform: translate3d( 0, 50px, 0 );

		opacity: 0;
	}

	40% {
		transform: translate3d( 0, 0, 0 );

		opacity: 1;
	}

	100% {
		transform: translate3d( 0, -30px, 0 );

		opacity: 0;
	}
}

@keyframes loader2 {
	0% {
		transform: translate3d( 0, 50px, 0 );

		opacity: 0;
	}

	40% {
		transform: translate3d( 0, 0, 0 );

		opacity: 1;
	}

	100% {
		transform: translate3d( 0, 0, 0 );

		opacity: 1;
	}
}
