// Common and Vendors
@import '../../../../../assets/vendor/bourbon/bourbon';

@import '../../../../../assets/admin/scss/variables';

@import '../../../../../assets/admin/scss/mixins';

@import 'tabs';

@import 'focus_keywords';

@import 'score';

@import 'recommendations';

@import 'keywords';

@import 'questions';

@import 'links';

@import 'metabox';

@import 'rtl';

// Editor.
div.rank-math-content-ai-wrapper {
	.rank-math-ca-credits {
		position: absolute;
		top: 15px;
		z-index: 99;
		right: 85px;

		.update-credits {
			position: absolute;
			z-index: inherit;
			left: -22px;

			display: inline;

			margin: 0;
			padding: 0;

			box-shadow: none;

			i {
				font-size: 12px;

				display: flex;

				transform: scaleX(-1);

				align-items: center;

				&:before {
					margin-bottom: 2px;
					margin-left: 3px;
				}
			}

			&.loading i:before {
				animation: spin 1s infinite linear;
			}

			&.rank-math-tooltip {
				span {
					top: 100%;
					bottom: auto;

					&:after {
						top: -8px;
						transform: rotate(180deg);
						left: 47%;
					}
				}

				&:hover span {
					top: 130%;
					bottom: auto;
					height: 49px;
				}
			}
		}
	}

	.rank-math-tabs .components-tab-panel__tab {
		&s {
			flex-wrap: nowrap;
			justify-content: space-between;

			button {
				width: auto;
				padding: 0 .5rem;
			}
		}

		&-content {
			border-top: 1px solid $light-gray;
		}
	}

	&.is-opened {
		padding: 0 !important;

		background: #fff;
	}

	.components-panel__body {
		padding: 20px 16px 16px;

		border-top: 0;
	}

	// No Credits.
	.rank-math-ca-warning {
		padding: 25px 16px;

		text-align: center;

		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		background-color: #fff8e5;

		h3 {
			font-size: 18px;

			margin-bottom: 8px;
		}

		p {
			font-size: 15px;

			margin-bottom: 10px;

			color: #606060;
		}

		a {
			font-size: 14px;

			height: 32px;
		}
	}

	// Content AI Output.
	.rank-math-content-ai-data {
		// Loading.
		.loader-text {
			font-size: 18px;

			position: absolute;
			z-index: -1;
			top: 50px;
			right: 0;
			left: 0;

			box-sizing: border-box;
			width: 100%;
			padding: 25px;

			text-align: center;

			span {
				line-height: 1.3;

				position: absolute;
				top: 100%;
				right: 0;
				bottom: 0;
				left: 0;

				margin-top: 50px;

				opacity: 0;
			}
		}

		&.loading {
			position: relative;

			min-height: 200px;

			&:after {
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				content: '';

				background-color: rgba( 255, 255, 255, .85 );
			}

			.loader-text {
				z-index: 99;

				span {
					padding: 16px;

					animation-name: loader;
					animation-duration: 6s;

					animation-fill-mode: both;

					&:first-child {
						animation-delay: 0s;
					}

					&:nth-child( 2 ) {
						animation-delay: 4s;
					}

					&:nth-child( 3 ) {
						animation-delay: 8s;
					}

					&:nth-child( 4 ) {
						animation-delay: 12s;
					}

					&:nth-child( 5 ) {
						animation-name: loader2;
						animation-delay: 16s;
					}
				}
			}
		}

		h3.rank-math-ca-section-title {
			font-size: 15px;
			font-weight: 500;

			margin-bottom: 0;
			padding: 18px 16px;

			border-bottom: 1px solid #ddd;

			span {
				font-size: 12px;
				line-height: 18px;

				display: inline-block;

				margin: 0 2px 0 5px;
				padding: 0 5px;

				vertical-align: 2px;
				text-transform: uppercase;

				color: #e91e63;
				border-radius: 3px;
				background: rgba( #e91e63, .1 );
			}
		}

		h3 {
			text-transform: initial;

			&.no-data {
				font-size: 15px;
				line-height: 1.5;

				margin-top: 20px;
				padding: 12px;

				text-transform: initial;

				background-color: transparent;
			}
		}
	}

	.rank-math-contentai-tabs {
		.components-tab-panel__tabs {
			justify-content: space-between;

			padding: 0 16px;

			border-bottom: 1px solid #ddd;
		}

		.rank-math-section-heading {
			display: flex;
			align-items: center;
			justify-content: space-between;

			margin-bottom: 15px;

			h2 {
				font-size: 15px;
				font-weight: 600;

				margin: 0;
				padding: 0;
			}
		}

		button:not(:disabled) {
			font-size: 14px;
			line-height: 1;

			margin-bottom: -1px;
			padding: 0 10px;

			box-shadow: none;

			&.is-active {
				&:before {
					bottom: 0;

					border-bottom: 2px solid $primary;
				}
			}

			&:focus {
				color: $primary;
				box-shadow: none;
			}

			i {
				vertical-align: -5px;
			}
		}
	}

	#rank-math-help-icon {
		@include tooltipicon;
	}
}

.rank-math-sidebar-content-ai-panel {
	&.components-panel {
		position: static;

		.rank-math-content-ai-wrapper {
			.rank-math-ca-top-section button {
				display: none;
			}

			.rank-math-tabs {
				position: relative;
				z-index: 0;
			}
		}

		&:hover .update-credits {
			display: inline !important;
		}
	}
}
