@import '../../../scss/variables';

/*
 * Modes component.
 */
.rank-math-modes {
	gap: 16px;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;

	li {
		position: relative;
		margin: 0;

		input[type="radio"] {
			position: absolute;
			left: 20px;
			top: 23px;
		}

		label {
			gap: 10px;
			display: flex;
			flex-direction: column;
			padding: 20px 20px 20px 50px;
			transition: .25s all linear;
			white-space: normal;
			border: 1px solid $light_gray;
			border-radius: 6px;
			background: $tertiary;
			cursor: pointer;

			&:hover {
				border-color: $dark_gray;
			}
			
			.rank-math-mode-title {
				font-size: 17px;
				font-weight: 600;
				line-height: 1;
				white-space: normal;
				color: $charcoal-gray-10;
			}

			p {
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				line-height: 1.5;
				display: block;
				clear: both;
				margin: 0;
				padding: 0;
				color: $dark_gray;
			}

			.children {
				padding-top: 8px;
				padding-bottom: 8px;
			}

			&.is-checked {
				border-color: $primary;
				box-shadow: 0 0 0 1px $primary;
			}

			&.is-disabled {
				.rank-math-mode-title {
					color: rgba(36,38,40,0.5);
				}
			}
		}
	}
}
