// main: ../../common.scss

.import_export .no-borders {
	margin-top: 2rem;
}

.#{$namespace}-import-export {

    > div {
        margin-bottom: 3rem;

        > h2 {
            font-size: 1.375rem;
            margin-top: 0;
            margin-bottom: 0.825rem;
        }

        > p.description {
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
    }

    .#{$namespace}-box {
        &-content {
            padding: 0.875rem;

            p:first-child {
                margin-top: 0;
            }

            input[type=checkbox] {
                margin-top: -1px;
            }

            footer {
                margin: 0.875rem -0.875rem -0.875rem;
                padding: 0.875rem;
            }
        }
    }

    .#{$namespace}-export-form {
        .form-table {
            margin-top: 0;

            ul {
                margin: 0;
            }
        }

        ul {
            margin-top: 0;
        }

        th, td {
            padding: 0
        }

        .empty-notice {
            padding: 0 1rem;
        }
    }

    .#{$namespace}-settings-backup-form {
        .list-table.with-action {
            background: $white;

            td,
            th {
                border: 0;
            }

            tr:not(:last-child) {
                border-bottom: 1px solid $gray;
            }

            @media screen and (max-width: 782px) {
                td {
                    text-align: left;
                }
            }
        }
    }
}

.rank-math-box {
    &-inner {
        & > * {
            display: none;
        }

        & > .active-tab {
            display: block;
        }
    }

    &-tabs {
        border-bottom: 1px solid $gray;
        background: #f8f9fa;
        border-radius: 6px 6px 0 0;

        > a {
            color: #5b6065;
            font-size: 0.825rem;
            font-weight: 500;
            line-height: 46px;
            position: relative;
            float: left;
            padding: 0 15px;
            text-decoration: none;
            box-shadow: none;
            border-right: 1px solid $gray;

            &:first-child {
                border-radius: 6px 0 0 0;
            }

            &:hover {
                color: $primary;
            }

            &.active-tab {
                color: $primary;
                background: #fff;

                &:after {
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    content: '';
                    background: #fff;
                }
            }

            .rm-icon {
                vertical-align: -4px;
                margin-right: 3px;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}