// main: ../../common.scss

.#{$namespace} {
	&-header {
		display: flex;

		margin-bottom: 20px;
		margin-left: -20px;
		padding: 13px 15px;

		border-bottom: 1px solid $gray;
		background: #fff;

		flex-flow: row wrap;

		.#{$namespace}-logo {
			position: relative;

			margin-right: 15px;
			padding-right: 15px;

			&:after {
				position: absolute;
				top: 0;
				right: 0;

				width: 1px;
				height: 66px;
				margin: -12px 0;

				content: '';

				background: $gray;
			}

			a {
				text-decoration: none;

				&:focus {
					box-shadow: none;
				}
			}

			i {
				font-size: 28px;
				line-height: 40px;

				position: relative;

				display: block;

				width: 40px;
				height: 40px;

				text-align: center;

				color: #fff;
				border-radius: 5px;
				background: linear-gradient(-135deg, #f080f3, #202687);
				text-shadow: 0 1px 3px rgba(0, 0, 0, .1);
			}

			@supports (-moz-appearance:none) {
				i {
					line-height: 40px;
				}
			}

			&-text {
				font-size: 22px;
				font-weight: 500;

				margin: 11px auto 0 0;

				span {
					vertical-align: 4px;
				}

				.emoji {
					animation: beat .25s infinite alternate;
					transform-origin: center;
				}

				@keyframes beat{
					to { transform: scale(0.9); }
				}

				.rank-math-tooltip span {
					width: 100px;
				}
			}
		}

		a.#{$namespace}-help {
			font-size: 24px;

			display: flex;

			margin-left: 5px;
			padding: 0 3px;

			color: #858b90;
			border: 0;
			background: transparent;

			flex-flow: column wrap;
			justify-content: space-around;

			&:focus,
			&:hover {
				background: transparent;
			}

			i {
				font-size: 2rem;
				width: auto;
				height: auto;
				margin: 0!important;
				@supports (-moz-appearance:none) {
					&:before {
						vertical-align: initial;
					}
				}
			}
		}
	}
}