// main: ../../common.scss

.#{$namespace} {
	&-header {
		display: flex;
		margin-bottom: 20px;
		margin-left: -20px;
		padding: 13px 15px;
		border-bottom: 1px solid $gray;
		background: #fff;
		flex-flow: row wrap;

		.#{$namespace}-logo {
			position: relative;
			margin-right: 15px;
			padding-right: 15px;

			&:after {
				position: absolute;
				top: 0;
				right: 0;
				width: 1px;
				height: 66px;
				margin: -12px 0;
				content: '';
				background: $gray;
			}

			a {
				text-decoration: none;

				&:focus {
					box-shadow: none;
				}
			}

			i {
				font-size: 28px;
				line-height: 48px;
				display: block;
				width: 40px;
				height: 40px;
				text-align: center;
				color: #fff;
				border-radius: 5px;
				background: linear-gradient(-135deg,#ff4492,#434e8f);
				text-shadow: 0 1px 3px rgba(0, 0, 0, .1);
				position: relative;
			}

			@supports (-moz-appearance:none) {
				i {
					line-height: 40px;
				}
			}

			&-text {
				font-size: 22px;
				font-weight: 500;
				margin: 11px auto 0 0;
			}
		}

		a.#{$namespace}-help {
			font-size: 18px;
			line-height: 36px;
			display: flex;
			margin-left: 5px;
			padding: 0 10px;
			color: #858b90;
			flex-flow: column wrap;
			justify-content: space-around;

			&:focus,
			&:hover {
				color: $primary;
				border-color: $primary;
			}

			&:focus {
				box-shadow: 0 0 0 1px $primary;
			}

			i {
				height: 24px;

				&:before {
					vertical-align: -3px;
				}

				@supports (-moz-appearance:none) {
					&:before {
						vertical-align: initial;
					}
				}
			}
		}
	}
}
