// main: ../../common.scss

.invalid,
.widefat.invalid,
.wp-admin .invalid,
.wp-admin .widefat.invalid {
	border-color: #dd2c00 !important;
	background: pink;

	& ~ .validation-message {
		display: inline-block;
	}
}

.validation-message {
	font-size: 12px;
	font-style: italic;

	display: none;
	overflow: hidden;

	margin-top: 5px;
	margin-left: 2px;
	padding: 4px 8px;

	transition: .28s;
	vertical-align: middle;

	color: #fff;
	border-radius: 3px;
	background: #dd2c00;
}

span.input-loading {
	display: inline-block;

	margin: 0 0 0 16px;

	background: url('../img/loader.svg') no-repeat center 4px;
	background-size: contain;

	@include size(16px, 24px);
}

body .cmb2-wrap {
	.cmb2-id-console-profile,
	.cmb2-id-console-authorization-code {
		.regular-text,
		select {
			display: inline-block;

			max-width: 60%;
			margin-right: 10px;
		}
	}

	.cmb2-id-console-authorization-code .button-secondary {
		margin-top: 5px;
	}
}

.wizard-share {
	vertical-align: 3px;

	a {
		font-size: 12px;
		font-weight: 700;
		line-height: 24px;

		display: inline-block;

		margin-left: 5px;
		padding: 0 15px 0 10px;

		text-decoration: none;

		color: #fff;
		border-radius: 3px;
		background: #3b5998;

		&.share-twitter {
			background: #55acee;
		}
	}

	.dashicons {
		font-size: 14px;
		line-height: 24px;

		height: auto;
		margin-right: -2px;
	}
}

#gsc-dp-info {
	font-weight: bold;
}

// Code Box.
textarea.#{$namespace}-code-box,
textarea.#{$namespace}-code-box:focus,
div.#{$namespace}-code-box textarea,
div.#{$namespace}-code-box textarea:focus {
	width: 100%;

	color: #bbbec5;
	border-color: #32344b;
	background: #32344b;

	&:disabled {
		color: darken(#bbbec5,3);
	}
}

.#{$namespace}-code-box div.cmb-td {
	width: 100%!important;
}

// Notices.
#new_post_type {
	box-sizing: border-box;
	width: $container_width;
	max-width: 100%;
}

.#{$namespace}-notice {
	border-radius: 4px;

	.rm-icon {
		font-size: 18px;

		display: inline-block;

		height: 16px;
		margin-right: 8px;

		vertical-align: -6px;

		opacity: .8;
	}

	.notice-info,
	.notice-warning,
	.notice-error {
		border-radius: 4px;
	}
}

.update-message p.#{$namespace}-beta-update-notice {
	font-weight: bold;

	&:before {
		content: '\f534';
	}
}

.updating-message p.#{$namespace}-beta-update-notice,
.updated-message p.#{$namespace}-beta-update-notice {
	display: none;
}

.#{$namespace}-mode-basic {
	.#{$namespace}-advanced-option {
		display: none !important;
	}
}

#footer-thankyou {
	font-style: normal;
}

.text-center {
	text-align: center;
}

.#{$namespace}-gray-box {
	margin-top: 2rem!important;
	padding: 25px 35px;

	border-radius: 5px;
	background: #f5f5f5;
}

.notice-connect-disabled {
	font-size: 14px !important;

	display: block !important;

	margin-top: 1em !important;
	padding: .8em 1.2em;
}