// main: ../../common.scss

.#{$namespace}-page {
	background: #e1e1e1;
	overflow-x: hidden;

	div[class*="notice"]:not(.rank-math-notice):not(.settings-error):not(.cmb-type-notice) {
		display: none;
	}

	.#{$namespace}-breadcrumbs {
		color: #7f868d;
		font-size: 13px;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;

		&-wrap {
			width: $container_width;
			max-width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}

		.active {
			color: $text;
		}

		.divider {
			margin: 0 5px;
		}
	}

	.#{$namespace}-mode-selector {
		font-size: 14px;
		margin: 5px 10px 0 0;

		a {
			display: inline-block;
			color: $dark_gray;
			padding: 5px 0 1px;
			text-decoration: none;

			&:hover, &.active {
				color: $text;
				border-bottom: 1px solid;
			}

			&:first-child {
				margin-right: 7px;
			}
		}
	}

	h2.nav-tab-wrapper {
		padding-top: 0;
		border: 0;
		width: 894px;
	}

	.rank-math-tools-wrap h2.nav-tab-wrapper {
		width: $container_width;
	}

	.nav-tab {
		font-size: 15px;
		font-weight: 500;
		line-height: 39px;
		position: relative;
		margin-left: 0;
		padding: 0 15px;
		color: #5b646c;
		border: 1px solid $gray;
		border-right: 0;
		border-bottom: 0;
		background: #f0f2f4;

		&:hover, &:focus, &.nav-tab-active {
			color: #1a1e22;
			background: #f8f9fa;
			box-shadow: none;
			outline: none;
		}

		&.nav-tab-active:after {
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 100%;
			height: 1px;
			content: '';
			background: #fafafb;
			z-index: 1;
		}

		&:first-child {
			border-radius: 4px 0 0 0;
		}

		&:last-of-type {
			border-right: 1px solid $gray;
			border-radius: 0 4px 0 0;
		}
	}

	#wpwrap {
		background: #f0f2f4;
	}

	.dashboard-wrapper {
		background: #f8f9fa;
		padding: 30px 0;
		border-radius: 0 6px 6px 6px;
		margin-bottom: 0.5rem;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: -180px;
			top: 0;
			background: #f8f9fa;
			border-top: 1px solid $gray;
			border-bottom: 1px solid $gray;
			width: 100vw;
			height: 100%;
			padding-bottom: 50px;
			overflow: hidden;
		}

		> div {
			position: relative;

			> h2 {
				color: $text;
				margin-top: 0;
			}

			> .description {
				font-size: 1rem;
				margin-bottom: 1.5rem;
			}
		}

		@at-root {
			.rank-math-page.folded .dashboard-wrapper:before {
				left: -56px;
			}

			@media screen and (max-width: 782px) {
				.rank-math-page.auto-fold .dashboard-wrapper:before {
					left: 0;
				}
			}
		}
	}

	#wpfooter {
		background: #fff;
		border-top: 1px solid $gray;
		padding: 15px 20px;
	}
}

.#{$namespace}-wrap {
	color: $text;
	font-size: 15px;
	position: relative;
	box-sizing: border-box;
	margin: 20px 40px 0 0;

	.container {
		width: $container_width;
		max-width: 100%;
	}

	p, .description {
		font-size: 14px;
		font-style: normal;
		line-height: 1.5;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $text;
	}

	.page-title, h1 {
		font-size: 2.8em;
		font-weight: 400;
		line-height: 1.2em;
		margin: 0.2em 200px 0 0;
		padding: 0;
		color: $text;
	}

	> h2 {
		font-size: 2.7em;
		font-weight: 300;
		line-height: 1.3;
		margin: 40px 0 0.6em;
		text-align: center;
	}

	.page-title {
		font-size: 2em;
		font-weight: 400;
		line-height: 1;
		margin: 35px 0 20px;
	}

	h3 {
		font-size: 1.375rem;
		line-height: 1.5;
		margin: 1.25em 0 0.6em;

		&.health-check-accordion-heading {
			background: #f8f9fa;
			font-size: inherit;
			line-height: inherit;
			margin: 0;

			> button {
				background: transparent;
			}
		}
	}

	ol li p {
		font-size: 14px;
		font-weight: 400;
	}

	.#{$namespace}-text {
		font-size: 19px;
		font-weight: 400;
		line-height: 1.6em;
		min-height: 40px;
		margin: 1.4em 200px 1em 0;
		color: #555d66;
	}
	@media only screen and (max-width: 500px) {
		.#{$namespace}-text,
		h1 {
			margin-right: 0;
		}

		.#{$namespace}-text {
			margin-bottom: 0.25em;
		}
	}
}

// Structure
.two-col {
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	flex-wrap: wrap;
	justify-content: space-between;

	.col {
		width: 495px;
		max-width: 48.53%;
		box-sizing: border-box;
	}
}

@media only screen and (max-width: 500px) {
	.two-col .col {
		min-width: 100%;
		flex: 0 0 100%;
	}
}
