// main: ../../common.scss

.#{$namespace}-pro-badge {
	vertical-align: middle;
	color: #fff;
	background: #00af80;
	background: linear-gradient(335deg, #00af80, #1cb076, #2db06c, #3cb061, #49b156, #56b04a, #63b03d, #6faf2e);
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 4px 10px;
	border-radius: 3px;
	margin-left: 5px;

	&.pro {
		background: linear-gradient(335deg, #008360, #108a5d, #209158, #2f9752, #3f9e4c, #4ea443, #5eaa3a, #6faf2e);
		color: #fff;
	}

	&.business {
		background: linear-gradient(335deg, #854cff, #765fff, #696eff, #5f7cff, #5887ff, #5892ff, #5c9cff, #66a5fa);
		color: #fff;
	}

	&.agency {
		background: linear-gradient(335deg, #253142, #26364c, #263a56, #263f61, #27446b, #274976, #274d81, #28528c);
		color: #F7D070;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

.#{$namespace}-free-badge {
	padding: 0 5px;
	line-height: 14px;
	font-size: 10px;
	color: #fff;
	background: #d63638;
	position: absolute;
	top: -5px;
	right: -5px;
	border-radius: 10px;
}