// main: ../../common.scss

.#{$namespace}-pro-badge {
	vertical-align: middle;
	color: #fff;
	background: #4CAF50;
	background: linear-gradient(100deg, #4CAF50 0%, #8baf4c 100%);
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 4px 10px;
	border-radius: 3px;
	margin-left: 5px;

	a {
		color: inherit;
		text-decoration: none;
	}
}
