// main: ../../common.scss
.blurred {
    filter: blur(2px);

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        background: rgba(248, 249, 250, .1);
    }
}

##{$namespace}-pro-cta {
    position: relative;
    z-index: 100;
    margin-top: 2rem;

    &.center {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: grid;
        margin-top: 0;
    }

    &.analytics {
        width: 560px;
        max-width: 100%;
        margin: 2rem auto 0;
    }

    &.no-margin {
        margin: 0;
    }

    .#{$namespace}-cta {
        &-box {
            box-sizing: border-box;
            width: 100%;
            max-width: 90%;
            padding: 2rem 1.5rem;

            border-radius: 4px;
            background: #fff;
            box-shadow: 0 4px 14px 0 rgba(34, 36, 55, .28);

            align-self: center;
            justify-self: center;

            // No Box Shadow.
            &.no-shadow {
                box-shadow: none;
            }

            &.no-padding {
                padding: 0;
            }

            &.less-padding {
                padding: 1.5rem;

                h3 {
                    margin-bottom: 1rem;
                }
            }

            // Box Position.
            &.top-20 {
                margin-top: 10%;

                align-self: flex-start;
            }

            h3 {
                font-size: 1.25rem;
                font-weight: 600;

                margin-top: 0;
                margin-bottom: 1.5rem;
            }

            // Widths.
            &.width-100 {
                width: 100%;
                max-width: 100%;
            }

            &.width-80 {
                max-width: 80%;
            }

            &.width-70 {
                max-width: 70%;
            }

            &.width-60 {
                max-width: 60%;

                h3 {
                    margin-bottom: 1rem;
                }
            }

            &.width-50 {
                max-width: 50%;
            }

            // Blue ticks.
            &.blue-ticks {
                ul li:before {
                    background: $primary;
                }
            }
        }

        // Table CTA.
        &-table {
            margin-bottom: 2rem;

            border: 1px solid #dadfe4;
            border-radius: 6px;
            background: #fff;

            .less-padding {
                padding: 1.5rem;

                h3 {
                    margin-bottom: 1rem;
                }
            }
        }

        &-header {
            padding: 1.25rem .825rem;

            border-bottom: 1px solid #dadfe4;

            @extend %flex;
            justify-content: space-between;

            h2 {
                font-size: 1.125rem;
                font-weight: 500;

                margin: 0;
            }
        }

        &-body {
            padding: 1.25rem 1.5rem 1.25rem .825rem;

            align-items: center;
            @extend %flex;
            flex-flow: row wrap;
            justify-content: space-between;

            svg {
                margin-right: 1.25rem;

                fill: $color-3;
            }

            p {
                font-size: 1rem;

                flex: 1;
            }

            .button {
                line-height: 40px;

                margin-left: 1.25rem;
            }
        }

        // Text CTA.
        &-text {
            display: block;

            color: $dark-gray;

            span {
                margin-right: 3px;
            }
        }
    }

    ul {
        font-size: 15px;

        margin-bottom: 1.5rem;

        li {
            font-size: 1rem;
            color: $dark_gray;
            margin-bottom: 1rem;
            padding: 0;

            border: 0;

            &:before {
                font-family: 'dashicons';
                font-size: 16px;
                line-height: 18px;

                display: inline-block;

                width: 18px;
                margin-right: 8px;

                content: '\f15e';
                text-align: center;
                vertical-align: -2px;

                color: #fff;
                border-radius: 50%;
                background: $color-1;
            }
        }
    }

    .button {
        font-weight: 500;

        width: auto;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 3rem;

        text-align: center;
    }
}