// main: ../../common.scss

%inputs {
	display: block;

	margin: 0 5px 0 0;
	padding: 10px 15px;

	border-color: $gray;
	border-radius: 3px;

	@include size(150px, 40px);
}

.#{$namespace}-search-options {
	position: relative;

	.search-field {
		position: relative;

		float: right;

		input {
			width: 275px;
			padding-right: 42px;

			color: #858b90;

			@extend %inputs;

			&:hover {
				border-color: $primary;
			}

			&:focus {
				border-color: $primary;
				box-shadow: 0 0 0 1px $primary;
			}
		}

		i {
			font-size: 17px;
			font-weight: bold;

			transform: translateY(-50%);

			color: #858b90;

			@include position(absolute, 50% 18px null null);
		}

		em {
			right: 8px;
			left: auto;

			display: none;

			.searching & {
				display: block;
			}
		}
	}

	select {
		line-height: 38px;

		padding: 0 15px;

		color: #858b90;
		border: 1px solid $gray;
		background: #f6f8f7;

		&:hover {
			color: $primary;
			border-color: $primary;
		}

		&:focus {
			border-color: $primary;
			box-shadow: 0 0 0 1px $primary;
		}
	}
}

.#{$namespace}-wrap-settings {
	&.search-no-results .#{$namespace}-setting-search-empty {
		font-size: 2em;
		font-weight: 400;

		display: block;

		padding: 25px 0;

		text-align: center;
	}
}

.#{$namespace}-search-dropdown {
	z-index: 10;

	display: none;
	overflow: auto;

	max-width: 450px;

	border: 1px solid $gray;
	border-radius: 3px;
	background: #fff;

	@include size(100%, 260px);
	@include position(absolute, 48px 0 null null);

	.cmb-row {
		padding: 10px;

		cursor: pointer;

		border-bottom: 1px solid $gray;

		.cmb2-metabox-description {
			font-size: 12px;
		}

		&:hover {
			background: #f6f6f6;
		}
	}

	&.empty {
		&:before {
			font-size: 1.2em;
			font-style: italic;

			display: block;

			padding: 20px;

			content: 'Nothing found.';
		}
	}
}