// main: ../../common.scss

.#{$namespace}-tooltip {
	position: relative;

	cursor: pointer;

	color: $gray;

	display: inline-block;
	line-height: 20px;
	height: 20px;

	em {
		line-height: 20px;
	}

	> span {
		font-size: 11px;
		font-weight: 400;
		line-height: 1.5;
		white-space: normal;

		width: 200px;
		padding: 8px 10px;
		transition: all .3s ease-in-out;
		transform: translate3d(-50%, 0, 0);
		text-align: center;
		pointer-events: none;

		opacity: 0;
		color: #fff;
		border-radius: 3px;
		background: #555d66;

		@include position(absolute, null null 100% 50%);

		&:after {
			content: '';
			transform: translate3d(-50%, 0, 0);

			@include position(absolute, 100% null null 50%);
			@include triangle(down, 14px, 8px, #555d66);
		}
	}

	&.bottom {
		span {
			top: 130%;
			bottom: auto;
			display: table;

			&:after {
				@include position(absolute, auto null 100% 50%);
				transform: rotate(180deg) translate3d(50%, 0, 0);
			}
		}
	}

	&:hover {
		color: $primary;

		span {
			bottom: 130%;

			opacity: 1;

			z-index: 1;
		}
	}
}
