// main: ../../common.scss

.rank-math-validate-field label.invalid {
	font-size: 12px;
	font-style: italic;
	margin-top: 5px;
	margin-left: 2px;
	padding: 4px 8px;
	vertical-align: middle;
	color: #fff;
	border-radius: 3px;
	background: #dd2c00;
	position: absolute;
	overflow: visible;

	&:after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 4px 6px 4px;
		border-color: transparent transparent #dd2c00 transparent;
		position: absolute;
		top: -6px;
		left: 6px;
	}
}
