// main: ../../common.scss

%var-preview {
	font-family: arial, sans-serif;

	max-width: 600px;
	margin-top: 15px;

	color: #1a0dab;
	border-radius: 4px;

	&:empty {
		display: none;
	}

	&:before {
		font-size: 10px;
		font-weight: 600;

		display: block;

		margin: 0 0 8px;

		content: attr(data-title);
		letter-spacing: .15em;
		text-transform: uppercase;

		color: #aaa;
	}
}

.#{$namespace}-variables {
	&-wrap {
		position: relative;

		input,
		textarea {
			padding-right: 50px !important;
		}
	}

	@at-root .cmb2-wrap {
		.cmb-type-textarea,
		.cmb-type-textarea-small {
			.button.button-secondary {
				top: auto;
				right: 1px;
				bottom: 1px;

				border-width: 1px 0 0 1px;
				border-radius: 3px 0 3px 0;

				& + .rank-math-variables-dropdown {
					top: 70px;
					right: 0;
				}
			}

			textarea {
				display: block;

				resize: none;
			}
		}
	}

	@at-root a.#{$namespace}-variables-button.button-secondary {
		color: #858b90;
		line-height: 40px;

		height: auto;
		padding: 0 10px;

		border-width: 0 0 0 1px;
		border-radius: 0 3px 3px 0;
		box-shadow: none;

		@include position( absolute, 1px 0 1px null );

		.dashicons {
			font-size: 20px;
			line-height: 40px;

			height: auto;
			margin-right: 0;
		}

		&:hover {
			background: #f8f9fa;
			border-color: $gray;
		}
	}

	&-dropdown {
		z-index: 999;

		display: none;
		overflow: auto;

		max-width: 450px;

		border: 1px solid $gray;
		background: #fff;
		border-radius: 6px;

		@include position( absolute, 48px 0 null null );
		@include size( 80%, 220px );

		input[type='text'] {
			background: #fff;
			margin: 10px;
			border-color: $gray;

			@include size( calc(100% - 20px), 34px );

			&:focus {
				box-shadow: 0 0 0 1px $primary;
				border-color: $primary;
			}
		}

		ul {
			margin: 0;
		}

		li {
			font-size: 12px;

			position: relative;

			margin: 0;
			padding: 10px;

			cursor: pointer;

			border-bottom: 1px solid $gray;

			&:last-of-type {
				border-bottom: 0;
			}

			span {
				font-style: italic;

				display: block;

				padding-top: .2em;

				color: #888;
			}

			&:hover {
				background: #f8f9fa;
			}

			&:after {
				display: inline-block;

				margin-top: 3px;
				padding: .25em .4em;

				content: attr(data-var);
				white-space: nowrap;

				border-radius: .25rem;
				background-color: #f0f2f4;

				@include position( absolute, 4px 10px null null );
			}
		}

		@at-root .dropdown-up & {
			top: auto;
			bottom: 100%;
		}
	}

	&-preview {
		@extend %var-preview;
	}
}

.#{$namespace}-preview-title {
	@extend %var-preview;

	> div {
		display: inline-block;

		min-width: 400px;
	}

	h5 {
		color: #1a0dab;
		font-size: 18px;
		font-weight: normal;
		line-height: 22px;

		margin: 0;
	}

	span {
		line-height: 16px;

		height: 17px;

		color: #006621;
	}
}
