@mixin anchor-tag-status-style(
	$normal: (
		$color,
		$background
	),
	$hover-focus: (
		$color,
		$background,
	),
	$active: (
		$background
	)
) {
	color: nth($normal, 1);
	background-color: nth($normal, 2);

	&:hover:not(:disabled), 
	&:focus {
		color: nth($hover-focus, 1);
		background-color: nth($hover-focus, 2);
	}

	&:active {
		color: $white;
		background-color: nth($active, 1);
	}
}

.anchor-tag-status {
	&.components-button {
		&.is-secondary {
			padding: 5px 10px;
			height: fit-content;
			font-size: 11px;
			box-shadow: none;
			outline: none;

			@include remove-box-shadow();
		
			&.good {
				@include anchor-tag-status-style(
					$normal:($success, $success-extralight),
					$hover-focus:($success-dark, $success-lightest),
					$active:($success-lighter),
				);
			}
			
			&.warning {
				@include anchor-tag-status-style(
					$normal:(#E29E3C, #FFF0DA),
					$hover-focus:(#D99124, #FFEACC),
					$active:(#FFBE5F),
				);
			}
			
			&.error {
				@include anchor-tag-status-style(
					$normal: ($error-secondary-dark, $error-secondary-light),
					$hover-focus:($error-secondary-darker, lighten($error-secondary, 18%)),
					$active:($error-secondary),
				);
			}

			&.grey {
				@include anchor-tag-status-style(
					$normal:($gray-light, $gray-extralight),
					$hover-focus:($black-light, $gray-lightest),
					$active:($black-light),
				);
			}
		}
	}
}
