@mixin anchor-tag-status-style(
	$normal: (
		$color,
		$background
	),
	$hover-focus: (
		$color,
		$background,
	),
	$active: (
		$background
	)
) {
	color: nth($normal, 1);
	background-color: nth($normal, 2);

	&:hover:not(:disabled), 
	&:focus {
		color: nth($hover-focus, 1);
		background-color: nth($hover-focus, 2);
	}

	&:active {
		color: $white;
		background-color: nth($active, 1);
	}
}

.anchor-tag-status {
	&.components-button {
		&.is-secondary {
			padding: 5px 10px;
			height: fit-content;
			font-size: 11px;
			box-shadow: none;
			outline: none;

			@include remove-box-shadow();
		
			&.good {
				@include anchor-tag-status-style(
					$normal:(#62AE60, #E4F4E4),
					$hover-focus:(#489F46, #D7EFD7),
					$active:(#7AC979),
				);
			}
			
			&.warning {
				@include anchor-tag-status-style(
					$normal:(#E29E3C, #FFF0DA),
					$hover-focus:(#D99124, #FFEACC),
					$active:(#FFBE5F),
				);
			}
			
			&.error {
				@include anchor-tag-status-style(
					$normal:(#E47E78, #FCEBEA),
					$hover-focus:(#DA6961, #FBE1DF),
					$active:(#F29C96),
				);
			}
			
			&.grey {
				@include anchor-tag-status-style(
					$normal:(#787878, #F2F2F2),
					$hover-focus:(#383838, #E9E9E9),
					$active:(#383838),
				);
			}
		}
	}
}
