
@mixin secondary-button-style(
	$normal: (
		$color,
		$box-shadow-color
	),
	
	$hover: (
		$color,
		$background,
		$box-shadow-color
	),
	
	$focus-active: (
		$color,
		$background,
		$box-shadow-color
		$background--active,
	),
	
	$disabled: (
		$color,
		$background,
		$box-shadow-color
	)
) {
	$color: nth($normal, 1);
	$color-box-shadow: nth($normal, 2);

	color: $color;
	box-shadow: inset 0 0 0 1px $color-box-shadow;

	&:hover:not(:disabled) {
		color: nth($hover, 1);
		background-color: nth($hover, 2);
		box-shadow: inset 0 0 0 1px nth($hover, 3);
	}

	&:focus,
	&:focus:hover:not(:disabled),
	&:active:not(:disabled) {
		box-shadow: inset 0 0 0 1.5px nth($focus-active, 3);
		outline: none;
	}

	&:focus,
	&:focus:hover:not(:disabled) {
		color: nth($focus-active, 1);
		background-color: nth($focus-active, 2);
	}

	&:active:not(:disabled) {
		color: $color;
		background-color: nth($focus-active, 4);
	}

	&:disabled,
	&[aria-disabled="true"],
	&:disabled:hover,
	&[aria-disabled="true"]:hover {
		opacity: 0.3;
		outline: 1px solid transparent;
		transform: inherit;
		box-shadow: inset 0 0 0 1px nth($disabled, 3);
		color: nth($disabled, 1);
		background-color: nth($disabled, 2);
	}
}

@mixin button-has-icon-style(
	$min-width,
	$height,
	$font-size,
	$padding-vertical,
	$padding-horizontal,
	$gap,
	$icon-font-size
) {
	&.has-icon{
		&:not(.has-text) {
			min-width: $min-width;
			height: $height;
			font-size: $font-size;
		}

		&.has-text{
			@include align-button-text();
			padding: $padding-vertical $padding-horizontal;
			gap: $gap;

			i {
				font-size: $icon-font-size;
			}
		}
	}
}

// Secondary Variant Variables
$secondary-btn-color: lighten($black, 35%);
$secondary-btn-box-shadow: $gray;
$secondary-btn-color--hover-focus: lighten($black, 20%);
$secondary-btn-bg--hover-focus: lighten($black, 97%);

// Tertiary-Outline Variables
$tertiary-outline-btn-box-shadow--disabled-hover: lighten($black, 45%);
$tertiary-outline-btn-color--hover-focus: lighten($black, 40%);
$tertiary-outline-btn-bg--hover-focus:lighten($black, 98%);

// Tertiary Variables
$tertiary-btn-color: $gray;


.components-button {
	height: 32px;
	padding: 6px 14px;

	&.is-primary {
		&:disabled,
		&[aria-disabled="true"] {
			opacity: 0.3;
			color: rgba($white, 0.8);
		}

		&.is-destructive {
			&:active, &:focus {
				outline-color: $destructive;
				color: $white;

				&:hover {
					background-color: $destructive-hover;
					box-shadow: inset 0 0 0 1px $white, 0 0 0 $border-width--focus $blue;
				}
			}
		}
	}

	&.is-secondary {
		@include secondary-button-style(
			$normal: (
				$secondary-btn-color, 
				lighten($black, 75%),
			),
			$hover: (
				$secondary-btn-color--hover-focus,
				$secondary-btn-bg--hover-focus,
				$secondary-btn-box-shadow,
			),
			$focus-active: (
				$secondary-btn-color--hover-focus,
				$secondary-btn-bg--hover-focus, 
				$secondary-btn-box-shadow,
				lighten($black, 87%),
			),
			$disabled: (
				inherit,
				darken($white, 20%),
				$secondary-btn-box-shadow
			)
		);

		&.is-destructive {
			@include secondary-button-style(
				$normal: (
					$destructive,
					$destructive
				),
				$hover: (
					$destructive-hover,
					inherit,
					$destructive-hover,
				),
				$focus-active: (
					$destructive,
					$gray-thin,
					$destructive,
					darken($white, 5%),
				),
				$disabled: (
					inherit,
					inherit,
					$destructive
				)
			);
		}
	}

	&.is-primary-outline {
		@include secondary-button-style(
			$normal: (
				$blue,
				$blue
			),
			$hover: (
				$blue,
				$blue-lightest,
				$blue
			),
			$focus-active: (
				$blue,
				$blue-lightest,
				$blue,
				$blue-dark,
			),
			$disabled: (
				$blue,
				$blue-dark,
				$blue
			)
		);

		&.is-destructive {
			&:hover:not(:disabled) {
				background-color: transparent;
			}
		}
	}

	&.is-secondary-grey {
		background-color: $gray-thin;

		&:hover, &:focus {
			background-color: lighten($black, 95%);
		}

		&.is-pressed {
			color: $secondary-btn-color;
			background-color: $black;
		}
	}

	&.is-tertiary-outline {
		@include secondary-button-style(
			$normal: (
				lighten($black, 55%),
				lighten($black, 85%)
			),
			$hover: (
				$tertiary-outline-btn-color--hover-focus,
				$tertiary-outline-btn-bg--hover-focus,
				$tertiary-outline-btn-box-shadow--disabled-hover
			),
			$focus-active: (
				$tertiary-outline-btn-color--hover-focus,
				$tertiary-outline-btn-bg--hover-focus,
				lighten($black, 60%),
				inherit,
			),
			$disabled: (
				inherit,
				darken($white, 15%),
				$tertiary-outline-btn-box-shadow--disabled-hover
			)
		);
	}

	&.is-tertiary {
		color: $tertiary-btn-color;

		&:hover:not(:disabled) {
			color: $tertiary-btn-color;
			background-color: darken($white, 3%);
			box-shadow: none;
		}

		&:active:not(:disabled), 
		&:focus:not(:disabled), 
		&:focus:hover:not(:disabled) {
			box-shadow: inset 0 0 0 1.5px $tertiary-btn-color;
		}

		&:disabled,
		&[aria-disabled="true"],
		&:disabled:hover,
		&[aria-disabled="true"]:hover {
			background-color: transparent;
			opacity: 0.3;
		}
	}

	//Button Has Icon
	@include button-has-icon-style (
		32px,
		28px,
		16px,
		6px,
		10px,
		5px,
		15px
	);

	&.is-small {
		@include button-has-icon-style (
			24px,
			24px,
			13px,
			6px,
			6px,
			3px,
			13px
		);
	}

	&.is-large {
		height: 36px;
		line-height: 22px;
		padding: 12px 20px;

		@include button-has-icon-style (
			24px,
			32px,
			18px,
			12px,
			12px,
			5px,
			17px
		);
				
		&.has-icon{
			&:not(.has-text) {
				padding: 12px 10px;
			}
		}
	}
}
