@mixin secondary-button-style(
	$normal: (
		$color,
		$box-shadow-color
	),
	$hover: (
		$color,
		$background,
		$box-shadow-color
	),
	$focus-active: (
		$color,
		$background,
		$box-shadow-color
		$background--active,
	),
	$disabled: (
		$color,
		$background,
		$box-shadow-color
	)
) {
	$color: nth($normal, 1);
	$color-box-shadow: nth($normal, 2);

	
	color: $color;
	box-shadow: 0 0 0 1px $color-box-shadow;
  font-size: 11px;

	&:hover:not(:disabled) {
		color: nth($hover, 1);
		background-color: nth($hover, 2);
		box-shadow: 0 0 0 1px nth($hover, 3);
	}

	&:focus,
	&:focus:hover:not(:disabled),
	&:active:not(:disabled) {
		box-shadow: 0 0 0 1.5px nth($focus-active, 3);
		outline: none;
	}

	&:focus,
	&:focus:hover:not(:disabled) {
		color: nth($focus-active, 1);
		background-color: nth($focus-active, 2);
	}

	&:active:not(:disabled) {
		color: $color;
		background-color: nth($focus-active, 4);
	}

	&:disabled,
	&[aria-disabled="true"],
	&:disabled:hover,
	&[aria-disabled="true"]:hover {
		opacity: 0.3;
		outline: 1px solid transparent;
		transform: inherit;
		box-shadow: 0 0 0 1px nth($disabled, 3);
		color: nth($disabled, 1);
		background-color: nth($disabled, 2);
	}
}

@mixin has-icon-style(
	$icon-only: (
		$min-width,
		$height,
		$font-size,
	),
	$icon-and-text: (
		$padding-vertical,
		$padding-horizontal,
		$icon-font-size,
		$gap
	)
) {
	&.has-icon{
		&:not(.has-text) {
			min-width: nth($icon-only, 1);
			height: nth($icon-only, 2);
			font-size: nth($icon-only, 3);
		}

		&.has-text{
			@include align-button-text();
			padding: nth($icon-and-text, 1) nth($icon-and-text, 2);
			gap: nth($icon-and-text, 4) !important;

			i {
				font-size: nth($icon-and-text, 3);
			}
		}
	}
}

// Secondary Variant Variables
$secondary-btn-box-shadow: $gray;

// Tertiary Variables
$tertiary-btn-color: $gray;

.components-button {
	height: 30px;
  padding: 6px 16px;
	border-radius: 1px;

	@include has-icon-style(
		$icon-only: (29px, 27px, 13px),
		$icon-and-text: (6px, 10px, 14px, 5px)
	);

	&.is-small {
		padding: 0 10px;
		font-size: 10px;

		@include has-icon-style(
			$icon-only: (24px, 22px, 12px),
			$icon-and-text: (6px, 6px, 13px, 3px)
		);
	}

	&.is-large {
		height: 33px;
		line-height: 22px;
		padding: 12px 22px;

		@include has-icon-style(
			$icon-only: (26px, 30px, 14px),
			$icon-and-text: (12px, 12px, 15px, 5px)
		);

		&.has-icon{
			&:not(.has-text) {
				padding: 12px 9px;
			}
		}
	}

	&.is-primary {
  	font-size: 11px;
		border-radius: 2px;

		&:focus:not(:disabled) {
			@include box-shadow-primary();
		}

		&:disabled,
		&[aria-disabled="true"] {
			opacity: 0.3;
			color: rgba($white, 0.8);
		}

		&.is-destructive {
			&:active, 
			&:focus {
				outline-color: $destructive;
				color: $white;

				&:hover {
					@include box-shadow-primary();
					background-color: $destructive-hover;
				}
			}
		}
	}

	&.is-secondary {
		@include secondary-button-style(
			$normal: (
				$gray-dark,
				$gray-lighter,
			),
			$hover: (
				$gray-darkest,
				$gray-extralight,
				$secondary-btn-box-shadow,
			),
			$focus-active: (
				$gray-darkest,
				$gray-extralight, 
				$secondary-btn-box-shadow,
				$gray-lightest,
			),
			$disabled: (
				inherit,
				$gray-lighter,
				$black-light
			)
		);

		&.is-destructive {
			@include secondary-button-style(
				$normal: (
					$destructive,
					$destructive
				),
				$hover: (
					$destructive-hover,
					inherit,
					$destructive-hover,
				),
				$focus-active: (
					$destructive,
					$gray-thin,
					$destructive,
					$gray-medium,
				),
				$disabled: (
					inherit,
					inherit,
					$destructive
				)
			);
		}
	}

	&.is-primary-outline {
		@include secondary-button-style(
			$normal: (
				$blue,
				$blue
			),
			$hover: (
				$blue,
				$blue-lightest,
				$blue
			),
			$focus-active: (
				$blue,
				$blue-lightest,
				$blue,
				$blue-dark,
			),
			$disabled: (
				$blue,
				rgba($blue, 30%),
				$blue
			)
		);

		&.is-destructive {
			&:hover:not(:disabled) {
				background-color: transparent;
			}
		}
	}

	&.is-secondary-grey {
		background-color: $gray-thin;

		&:hover,
		&:focus {
			background-color: $gray-extralight;
		}

		&.is-pressed {
			color: $gray-dark;
			background-color: $black;
		}
	}

	&.is-tertiary-outline {
		@include secondary-button-style(
			$normal: (
				$gray-light,
				$gray-medium
			),
			$hover: (
				$gray-dark,
				$gray-mono,
				$gray-light
			),
			$focus-active: (
				$gray-dark,
				$gray-mono,
				$gray,
				inherit,
			),
			$disabled: (
				inherit,
				lighten($gray, 22%),
				inherit
			)
		);
	}

	&.is-tertiary {
		color: $tertiary-btn-color;

		&:hover:not(:disabled) {
			color: $tertiary-btn-color;
			background-color: $gray-extralight;
			box-shadow: none;
		}

		&:active:not(:disabled), 
		&:focus:not(:disabled), 
		&:focus:hover:not(:disabled) {
			box-shadow: 0 0 0 1.5px $tertiary-btn-color;
			background-color: transparent;
		}

		&:disabled,
		&[aria-disabled="true"],
		&:disabled:hover,
		&[aria-disabled="true"]:hover {
			background-color: transparent;
			opacity: 0.3;
		}
	}
}
