.components-checkbox-control {
	.components-checkbox-control__input-container {
		margin-right: $controls-margin;
		
		.components-checkbox-control__input {
			@include checkbox-radio-style();
		}
	}

	&.is-disabled {
		.components-checkbox-control__input-container {
			.components-checkbox-control__input {
				@include checkbox-radio-style--disabled();
			}
		}

		.components-checkbox-control__label {
			@include disabled-opacity();
		}
	}

	&.is-indeterminate,
	&.is-indeterminate ~ .components-checkbox-control {
		.components-checkbox-control__input {
			@include border-blue();

			&:focus {
				box-shadow: 0 0 0 1px $white, 0 0 0 $border-width--focus $blue;
			}

			&:disabled {
				background-color: mix($blue, $gray-lighter, 20%);

				&:checked {
					background-color: $blue;
				}
			}
		}
	}
}
