.components-checkbox-control {
	.components-checkbox-control__input-container {
		margin-right: $controls-margin;
		
		.components-checkbox-control__input {
			@include checkbox-radio-style();
		}
	}

	&.is-disabled {
		.components-checkbox-control__input-container {
			.components-checkbox-control__input {
				@include checkbox-radio-style--disabled();
			}
		}

		.components-checkbox-control__label {
			@include disabled-opacity-default();
		}
	}

	&.is-indeterminate,
	&.is-indeterminate ~ .components-checkbox-control {
		.components-checkbox-control__input {
			@include border-blue();

			&:focus {
				@include box-shadow-primary();
			}

			&:disabled {
				background-color: mix($blue, $gray-lighter, 20%);

				&:checked {
					background-color: $blue;
				}
			}
		}
	}
}
