@mixin connection-button-style(
	$normal: (
		$color,
		$box-shadow-color
	),
	$hover-active: (
		$color,
		$background,
		$box-shadow-color
	),
) {
	color: nth($normal, 1);
	box-shadow: inset 0 0 0 1px nth($normal, 2);

	&:active,
	&:focus,
	&:hover:not(:disabled) {
		color: nth($hover-active, 1);
		background-color: nth($hover-active, 2);
		box-shadow: inset 0 0 0 1px nth($hover-active, 3);
	}
}

.connection-button {
	&.components-button {
		padding: 8px 12px;
		height: fit-content;
		font-size: 12px;
		@include remove-box-shadow();
	
		&.connect {
			@include connection-button-style(
				$normal: (#2D9A52, #5CC47F),
				$hover-active: (#379A58, #F2FBF5, #42B268),
			);
		}
		
		&.connected {
			background-color: #4AB866;
			@include connection-button-style(
				$normal: ($white, #4AB866),
				$hover-active: ($white, #4AB866, #4AB866),
			);
		}

		&.disconnect {
			@include connection-button-style(
				$normal: (#757575, #BFBFBF),
				$hover-active: (#F3576C, #FEF1F3, #F66276),
			);
		}

		&.disconnected {
			background-color: #F3808F;
			@include connection-button-style(
				$normal: ($white, #F3808F),
				$hover-active: ($white, #F3808F, #F3808F),
			);
		}
		
		&.reconnect {
			@include connection-button-style(
				$normal: (#D49517, #F3BA49),
				$hover-active: (#C5870C, #FEFAF1, #E8A623),
			);
		}

		&.has-icon{
			&.has-text{
				@include align-button-text();
			}

			i {
				font-size: 9px;
			}
		}
	}
}
