@mixin connection-button-style(
	$normal: (
		$color,
		$box-shadow-color
	),
	$hover-active: (
		$color,
		$background,
		$box-shadow-color
	),
) {
	color: nth($normal, 1);
	box-shadow: inset 0 0 0 1px nth($normal, 2);

	&:active,
	&:focus,
	&:hover:not(:disabled) {
		color: nth($hover-active, 1);
		background-color: nth($hover-active, 2);
		box-shadow: inset 0 0 0 1px nth($hover-active, 3);
	}
}

@mixin connection-button-style-validation(
	$color,
) {
	color: $white;
	box-shadow: inset 0 0 0 1px $color;
	background-color: $color;

	&:active,
	&:focus,
	&:hover:not(:disabled) {
		color: $white;
		background-color: $color;
		box-shadow: inset 0 0 0 1px $color;
	}
}

.connection-button {
	&.components-button {
		padding: 8px 12px;
		height: fit-content;
		font-size: 12px;
		@include remove-box-shadow();
	
		&.connect {
			@include connection-button-style(
				$normal: ($success, $success-lighter),
				$hover-active: ($success-dark, $success-thin, $success)
			);
		}

		&.connected {
			@include connection-button-style-validation($success);
		}

		&.disconnect {
			@include connection-button-style(
				$normal: ($gray-light, $gray-medium),
				$hover-active: ($error-dark, $error-lightest, $error-dark)
			);
		}

		&.disconnected {
			@include connection-button-style-validation($error);
		}
		
		&.reconnect {
			@include connection-button-style(
				$normal: ($warning, $warning),
				$hover-active: ($warning-dark, lighten($warning-secondary, 30%), $warning-dark)
			);
		}

		&.has-icon{
			&.has-text{
				@include align-button-text();
			}

			i {
				font-size: 9px;
			}
		}
	}
}
