.file-uploader {
	@include uploader-style();

	.uploader__content {
		padding: 1.8rem 2.5rem;

		.uploader__uploaded-title {
			display: flex;
			align-items: center;
			color: #383838;
			gap: 5px;

			.icon {
				color: #4AB866;
				font-size: 1rem;
			}
		}
	}
}
