@mixin filter-switch-tab-style() {
	@include gap-small();
	border: none;
	width: fit-content;
	
	&-item {
		@include border-radius-small();
		@include remove-box-shadow();
		color: $gray;
		padding: 6px 12px;
		height: fit-content;
		font-weight: normal;

		&.is-active{
			@include remove-box-shadow();
			color: $white;
			box-shadow: none;
		}
	}
}

@mixin filter-menu-color-style(
	$hover: (
		$color,
		$background,
	),

	$active: (
		$color,
		$background,
	)
) {
	.components-tab-panel__tabs {
		&-item { 
			&:hover {
				color: nth($hover, 1);
				background-color: nth($hover, 2);
			}

			&.is-active{
				background-color: nth($active, 2);

				&:hover {
					color: nth($active, 1);
				}
			}
		}
	}
}


.filter-menus{
	.components-tab-panel__tabs {
		@include filter-switch-tab-style();

		&-item {
			background-color: $gray-extralight;
		}
	}

	&.is-black {
		@include filter-menu-color-style(
			$hover: (
				$black-tab-color--hover,
				$black-tab-bg--hover-2
			),
			$active: (
				$black-tab-color--active,
				$black-tab-bg--active
			)
		)
	}

	&.is-blue {
		@include filter-menu-color-style(
			$hover: (
				$blue-tab-color--hover,
				$blue-tab-bg--hover
			),
			$active: (
				$blue-tab-color--active,
				$blue-tab-bg--active
			)
		)
	}
}
