
@mixin filter-menu-color-style(
	$hover: (
		$tab-color--hover,
		$tab-bg--hover,
	),

	$active: (
		$tab-color--active,
		$tab-bg--active,
	),
) {
	.components-tab-panel__tabs {
		&-item { 
			&:hover {
				color: nth($hover, 1);
				background-color: nth($hover, 2);
			}

			&.is-active{
				background-color: nth($active, 2);

				&:hover {
					color: nth($active, 1);
				}
			}
		}
	}
}


.filter-menus{
	.components-tab-panel__tabs {
		@include filter-switch-tab-style();

		&-item {
			background-color: $white-darker;
		}
	}

	&.is-black {
		@include filter-menu-color-style(
			$hover: (
				$black-tab-color--hover,
				$black-tab-bg--hover-2
			),
			$active: (
				$black-tab-color--active,
				$black-tab-bg--active
			)
		)
	}

	&.is-blue {
		@include filter-menu-color-style(
			$hover: (
				$blue-tab-color--hover,
				$blue-tab-bg--hover
			),
			$active: (
				$blue-tab-color--active,
				$blue-tab-bg--active
			)
		)
	}
}
