.file-uploader {
	@include uploader-style();

	.uploader__content {
		padding: 1.8rem 2.5rem;

		.uploader__uploaded-title {
			@include gap-small();
			@include flex-align();
			color: $color-black-light;

			.icon {
				color: $color-green-light;
				font-size: 1rem;
			}
		}
	}
}
