.image-uploader {
	@include uploader-style();
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 16px;

	.uploader__content {
		grid-column: span 3 / span 3;
		padding: 1.8rem;
	}

	.uploader__preview {
		background-color: darken($white, 7%);
		height: 8rem;

		&-title {
			@include flex-center();
			color: $gray;
			font-size: 0.83rem;
			text-transform: uppercase;
			height: 100%;
			line-height: 1.5rem;
			padding: 0 16px;
		}

		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
