.light-indicator {
	@include flex-align();
	@include gap-medium();
	width: 4.4rem;
	background-color: $gray-mono;
	padding: 0.6rem 1rem;
	border-radius: 5px;

	.is-off {
		color: $gray-light;
	}

	.is-green {
		color: $success;
	}

	.is-red {
		color: $error-dark;
	}
	
	.is-yellow {
		color: $warning-dark;
	}

	.light-indicator__label {
		font-size: 12px;
	}
}