.light-indicator {
	background-color: $gray-mono;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 0.6rem 1rem;
	border-radius: 5px;
	padding-right: 2.2rem;

	.is-off {
		color: $gray-light;
	}
	.is-green {
		color: $success;
	}
	.is-red {
		color: $error-dark;
	}
	.is-yellow {
		color: $warning-dark;
	}

	.light-indicator__label {
		font-size: 12px;
	}
}