@mixin notice-dismiss-style($background) {
	.components-notice__dismiss {
		&:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):hover {
			svg {
				background-color: $background;
				padding: 1px;
			}
		}
	}
}

@mixin notice-style($icon-color, $background, $border-left-color, $close-icon-bg) {
	background-color: $background;
	border-left-color: $border-left-color;

	.components-notice__icon {
		color: $icon-color;
	}

	@include notice-dismiss-style($close-icon-bg);
}

.components-notice {
	width: 35rem;
	margin: 0px;

	&.is-info {
		@include notice-style($blue, $blue-lightest, $blue, $blue-lighter);
	}

	&.is-error {
		@include notice-style($error-dark, $error-lightest, $error-dark, $error-medium);
	}

	&.is-info-grey {
		@include notice-style($gray, $gray-extralight, $gray-extralight, $gray-lightest);
	}

	&.is-warning {
		@include notice-dismiss-style($warning-lighter);

		.components-notice__icon {
			color: $warning;
		}
	}

	&.is-success {
		@include notice-dismiss-style($success-lightest);

		.components-notice__icon {
			color: $success;
		}
	}

	&.is-dismissible {
		padding-right: 12px;
	}

	&.has-icon {
		.components-notice__content {
			padding-left: 2.3rem;

			.components-notice__icon {
				@include center-float-vertically();
				font-size: 1.7rem;
				left: 0;
			}
		}
	}

	.components-notice__content {
		margin-right: 0px;
		position: relative;

		.components-notice__text {
			display: inline;
			margin-right: 3px;

			.components-notice__title {
				margin-right: 3px;
			}
		}

		.components-notice__actions {
			display: inline;

			.components-notice__action {
				margin: 0px;
			}

			.is-link {
				text-decoration: none;
			}
		}
	}

	.components-button{
		@include remove-box-shadow();
		margin: auto;
		
		&.components-notice__dismiss {
			color: $gray-lighter;

			&:hover {
				color: $gray-light;
			}

			svg {
				width: 1.2rem;
				height: 1.2rem;
			}
		}
	}
}
