@mixin score-button-style(
	$normal: (
		$color,
		$border-color
	),
	$hover: (
		$color,
		$background,
		$border-color,
	),
	$focus: (
		$background
	)
) {
	color: nth($normal, 1);
	border: 1px solid nth($normal, 2);

	&:hover:not(:disabled) {
		color: nth($hover, 1);
		background-color: nth($hover, 2);
		border-color: nth($hover, 3);
	}

	&:focus,
	&:focus:hover:not(:disabled) {
		color: $white;
		background-color: nth($focus, 1);
		border-color: nth($focus, 1);
	}
}

.score-button {
	&.components-button {
		&.is-secondary {
			@include remove-box-shadow();
			height: fit-content;
			box-shadow: none;
			padding: 8px 12px;
			font-size: 12px;
			gap: 8px;

			&.rank-math {
				&.good {
					@include score-button-style(
						$normal: ($success, $success-lighter),
						$hover: ($success-dark, lighten($success, 45%), $success),
						$focus: ($success-light)
					);
				}

				&.neutral {
					@include score-button-style(
						$normal: ($warning-darker, $warning-secondary),
						$hover: ($warning-darkest, $warning-lightest, $warning-darker),
						$focus: ($warning-secondary)
					);
				}

				&.bad {
					@include score-button-style(
						$normal: ($error-secondary-dark, $error-secondary),
						$hover: (darken($error-secondary, 15%), $error-secondary-light, $error-secondary-dark),
						$focus: ($error-secondary)
					);
				}
			}

			&.content-ai {
				&.good {
					@include score-button-style(
						$normal: (#46A378,	#88CEAE),
						$hover: (#4FA77E,#F1F8F5, #9CCDB6),
						$focus: (#6BC288)
					);
				}

				&.neutral {
					@include score-button-style(
						$normal: ($warning-darker, lighten($warning, 10%)),
						$hover: ($warning-darkest, $warning-lightest, $warning-darker),
						$focus: ($warning)
					);
				}

				&.bad {
					@include score-button-style(
						$normal: ($error,	lighten($error, 10%)),
						$hover: ($error-dark, $error-lightest, lighten($error, 5%)),
						$focus: ($error)
					);
				}
			}

			&.has-icon{
				@include align-button-text();

				i {
					font-size: 20px;
				}
			}
		}
	}
}
