@mixin score-bar-style($starting-color, $ending-color) {
	.components-range-control__track {
		background-image: linear-gradient(to right, $starting-color, $ending-color);
	}
}

@mixin popover-direction() {
	top: 90%;
	border-right: 20px solid transparent;
	border-top: 13px solid $white;
}

.components-range-control {
	width: 25rem;

	.components-range-control__slider {
		cursor: default;
	}

	.components-range-control__track { 
		height: 8px;
	}

	.css-1tw038v {
		height: 8px;
	}
}

// Editor Score Bar
.editor-score-bar {
	&.components-range-control {
		.components-base-control__field {
			@include flex-align();
			margin: 0px;
		}

		.components-base-control__label {
			min-width: 3.25rem;
			margin: 0px;
			margin-top: 2px;
			cursor: default;
		}

		.components-range-control__thumb-wrapper {
			display: none;
		}

		.css-1tw038v {
			background-color: $gray-lightest;
		}

		&.bad-score {
			@include score-bar-style($error-tertiary-light, $error-tertiary);
		}

		&.average-score {
			@include score-bar-style($warning-secondary, $warning-tertiary);
		}

		&.good-score {
			@include score-bar-style($success-lighter, $success);
		}
	}
}


// Content AI Score Bar
.content-ai-score-bar {
	position: relative;

	&.components-range-control {
		.components-range-control__thumb-wrapper {
			@include box-shadow-small();
			margin-top: 11px;
			background-color: transparent;
			border: 5px solid $white;

			.css-1oxlee5 {
				display: none;
			}

			.css-cp5s75 {
				display: none;
			}
		}

		.css-1tw038v {
			background-image: linear-gradient(to right, $error-dark, $warning, $success-light);
		}

		.components-range-control__track {
			background-color: transparent;
		}
	}

	.popover {
		@include flex-center();
		width: 5.2rem;
  	height: 2.8rem;
		border-radius: 5px;
		gap: 1px;
		position: absolute;
		bottom: 100%;
		left: 0;
		z-index: 1000000;
		background-color: $white;
		padding-bottom: 0.3rem;
		box-shadow: lighten($gray, 35%) 0 4px 8px 1px;

		&-title {
			margin: 0;
			font-size: 12px;
			font-weight: normal;
			color: $gray;
		}

		&-value {
			margin: 0;
			font-size: 17px;
			font-weight: 700;
		}

		&-pointer {
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid $white;
			position: absolute;
			top: 100%;

			&.is-left {
				@include popover-direction();
				left: 0;
				border-left: none;
				border-right: 20px solid transparent;
			}

			&.is-right {
				@include popover-direction();
				right: 0;
				border-right: none;
				border-left: 20px solid transparent;
			}
		}
	}
}
