@mixin score-button-style(
	$normal: (
		$color,
		$border-color
	),
	$hover: (
		$color,
		$background,
		$border-color,
	),
	$focus: (
		$background
	)
) {
	color: nth($normal, 1);
	border: 1px solid nth($normal, 2);

	&:hover:not(:disabled) {
		color: nth($hover, 1);
		background-color: nth($hover, 2);
		border-color: nth($hover, 3);
	}

	&:focus,
	&:focus:hover:not(:disabled) {
		color: $white;
		background-color: nth($focus, 1);
		border-color: nth($focus, 1);
	}
}

.score-button {
	&.components-button {
		&.is-secondary {
			height: fit-content;
			box-shadow: none;
			padding: 8px 12px;
			font-size: 12px;
			gap: 8px;

			@include remove-box-shadow();
		
			&.rank-math {
				&.good {
					@include score-button-style(
						$normal: (#7AC979,	#7AC979),
						$hover: (#3D993A,#F2F8F2, #7AC979),
						$focus: (#7AC979)
					);
				}

				&.neutral {
					@include score-button-style(
						$normal: (#E3A347,	#FFBE5F),
						$hover: (#DA9329,#FDF7EF, #E8B265),
						$focus: (#FFBE5F)
					);
				}

				&.bad {
					@include score-button-style(
						$normal: (#E37A73,	#F29C96),
						$hover: (#DB6F67,#FDF5F4, #E68781),
						$focus: (#F29C96)
					);
				}
			}

			&.content-ai {
				&.good {
					@include score-button-style(
						$normal: (#46A378,	#88CEAE),
						$hover: (#4FA77E,#F1F8F5, #9CCDB6),
						$focus: (#6BC288)
					);
				}

				&.neutral {
					@include score-button-style(
						$normal: (#D49517,	#F5C66A),
						$hover: (#C5880E,#FEFAF1, #ECB548),
						$focus: (#F3BA49)
					);
				}

				&.bad {
					@include score-button-style(
						$normal: (#FB7184,	#F0909D),
						$hover: (#F76A7D,#FFF4F6, #E6819A),
						$focus: (#F3808F)
					);
				}
			}

			&.has-icon{
				@include align-button-text();

				i {
					font-size: 20px;
				}
			}
		}
	}
}
