@mixin option-separator() {
	border-bottom: 1px solid $gray-lightest;
}

.components-custom-select-control {
	.css-f0d2mi.css-f0d2mi.css-f0d2mi {
		@include input-min-height();
		@include input-min-width();
		@include font-size-small();
	}

	.components-custom-select-control__button {
		&[aria-expanded="true"] {
			+ .components-input-control__suffix {
				svg {
					transform: rotate(180deg);
				}
			}
		}
	}

	.components-custom-select-control__menu {
		@include box-shadow-default();
		border-color: $blue;
		margin: 0;
		border-top: 0;
		min-width: 99%;

		.components-custom-select-control__item {
			&-icon {
				display: none;
			}

			&.is-highlighted {
				background-color: $blue-lightest;
				color: $blue;
				cursor: pointer;
			}
		}
	}

	.components-custom-select-control__label {
		@include center-float-vertically();
		@include font-size-small();
		left: 15px;
		z-index: 50;
		text-transform: inherit;
		margin-bottom: 0;
		font-weight: normal;
	}

	&.with-label {
		.components-custom-select-control__button {
			text-align: right;
		}
		
		.components-custom-select-control__item {
			justify-content: end;
		}
	}

	&.is-disabled {
		.components-input-control__container {
			@include disabled-style();
		}

		.components-custom-select-control__label {
			opacity: 0.5;
		}
	}

	// Select Control with Search
	&.search-select-control {
		width: 30rem;

		.components-custom-select-control__button {
			&[aria-expanded="true"] {
				+ .components-input-control__suffix {
					.components-input-control-suffix-wrapper {
						background-color: $blue-light;
					}
				}
			}
		}

		.components-input-control__suffix {
			.components-input-control-suffix-wrapper {
				right: 4px;
				padding-right: 4px;
				background-color: $gray-lightest;

				.css-18q9qlf {
					padding: 5px;
				}
			}
		}

		.components-custom-select-control__menu {
			.components-search-control {
				.components-base-control__field {
					@include option-separator();
					background-color: $white;
					padding: 8px 16px;

					.components-search-control__input {
						@include border-default();
						background-color: $white;

						&:focus {
							box-shadow: none;
							outline: none;
						}
					}

					.components-search-control__icon {
						svg {
							transform: rotate(-90deg);
							opacity: 0.5;
						}
					}
				}
			}
			
			.components-custom-select-control__item {
				@include option-separator();
				margin-bottom: 0px;

				.option__container {
					.option__heading {
						display: flex;
						align-items: center;
						justify-content: space-between;

						&-title {
							@include font-size-small();
							font-weight: normal;
							margin: 0px;
						}

						&-subtitle {
							@include font-size-small();
							background-color: $gray-mono;
							font-weight: 600;
							margin: 0px;
						}
					}

					.option__description {
						color: $gray;
					}
				}

				&.is-highlighted {
					.option__heading {
						&-title {
							color: $blue; 
						}
						&-subtitle {
							background-color: $blue-lightest;
							color: $blue; 
						}
					}

					.option__description {
						color: $gray-darkest;
					}
				}
			}
		}

		&.is-disabled {
			.components-input-control__suffix {
				.components-input-control-suffix-wrapper {	
					background-color: rgba($gray, 0.2);
					
					svg {
						opacity: 0.4;
					}
				}
			}
		}
	}
}
