
.single-section-tab-panel {
	&.components-menu-group {
		width: 13rem;
		border: 1px solid gray;
		padding: 1rem;

		.components-menu-group__label {
			margin-bottom: 16px;
		}

		div[role="group"]  {
			row-gap: 0.2rem;
			display: flex;
			flex-direction: column;

			.components-menu-item__button {
				border-radius: 0.25rem;

				&:hover {
					background-color: #F8F8F8;
					color: inherit;
				}

				&:focus {
					color: var(--wp-admin-theme-color);
					background-color: $color-blue--hover;
				}

				&.components-button {
					&:focus {
						box-shadow: none;
						outline: none;
					}
				}

				.components-menu-item__item {
					column-gap: 0.5rem;
					min-width: fit-content;
					margin-right: 0px;
					white-space: break-spaces;
					text-align: left;

					.components-menu-item__icon {
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}