@mixin switch-tap-color-style(
	$hover: (
		$color,
		$background,
	),

	$active: (
		$color,
		$background,
	)
) {
	.components-tab-panel__tabs {
		&:hover {
			border: 1px solid nth($hover, 1);
		}

		&-item {
			&:hover {
				color: nth($hover, 1);
				background-color: nth($hover, 2);

				.panel-has-icon {
					.title,
					i {
						color: nth($hover, 1);
					}
				}
			}

			&.is-active{
				background-color: nth($active, 2);

				.title,
				i {
					color: nth($active, 1);
				}

				&:hover {
					.title,
					i {
						color: nth($active, 1);
					}
				}

				.panel-has-icon {
					.title {
						color: nth($active, 1);
					}
				}
			}
		}
	}
}

.switch-taps {
	.components-tab-panel__tabs {
		@include filter-switch-tab-style();
		@include border-radius-small();
		border: 1px solid $gray-lighter;
		padding: 4px;

		&-item {
			padding: 0px 10px;

			.panel-has-icon {
				@include tab-item-has-icon-style();

				.title,
				i {
					color: $black-light;
				}

				.title {
					display: block;
				}
			}
		}   
	}

	&.is-black {
		@include switch-tap-color-style(
			$hover: (
				$black-tab-color--hover,
				$black-tab-bg--hover
			),
			$active: (
				$black-tab-color--active,
				$black-tab-bg--active
			)
		)
	}

	&.is-blue {
		@include switch-tap-color-style(
			$hover: (
				$blue-tab-color--hover,
				$blue-tab-bg--hover
			),
			$active: (
				$blue-tab-color--active,
				$blue-tab-bg--active
			)
		)
	}

	&.icon-only {
		.components-tab-panel__tabs {
			&-item {
				padding: 6px;
				
				.panel-has-icon {
					.title {
						display: none;
					}
				}
			}
		}
	}
}
