.single-section-tab-panel {
	&.components-menu-group {
		@include vertical-menu-style();

		.components-menu-group__label {
			display: block;
		}

		div[role="group"] {
			.components-menu-item__button {
				border-radius: 0.25rem;

				&:hover {
					background-color: $gray-mono;
					color: $black;
				}

				&:focus {
					color: $blue;
					background-color: $blue-lightest;
				}

				&.components-button {
					height: fit-content;
					@include remove-box-shadow();
				}
			}
		}
	}
}


.multi-section-tab-panel {
	@include border-lighter();
	width: 13rem;
	padding: 1rem;

	.components-menu-group {
		width: 100%;
		border: none;
		padding: 0px;

		& + .components-menu-group {
			border-top: 1px solid $gray-lightest;
			margin-top: 1rem;
			padding-top: 1rem;
		}
	}
}
