.single-section-tab-panel {
	&.components-menu-group {
		@include border-lighter();
		width: 13rem;
		padding: 1rem;

		.components-menu-group__label {
			margin-bottom: 16px;
		}

		div[role="group"]  {
			display: flex;
			flex-direction: column;
			row-gap: 3px;

			.components-menu-item__button {
				border-radius: 0.25rem;
				padding: 10px 14px;

				&:hover {
					background-color: $gray-mono;
					color: $black;
				}

				&:focus {
					color: $blue;
					background-color: $blue-lightest;
				}

				&.components-button {
					height: fit-content;
					@include remove-box-shadow();
				}

				.components-menu-item__item {
					min-width: fit-content;
					text-align: left;
					white-space: break-spaces;
					column-gap: 0.5rem;
					margin-right: 0px;

					.components-menu-item__icon {
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}


.multi-section-tab-panel {
	@include border-lighter();
	width: 13rem;
	padding: 1rem;

	.components-menu-group {
		width: 100%;
		border: none;
		padding: 0px;

		& + .components-menu-group {
			border-top: 1px solid $gray-lightest;
			margin-top: 1rem;
			padding-top: 1rem;
		}
	}
}
