
.text-control-container {
	position: relative;

	.hide-default-number-controls {
		input {
			-webkit-appearance: none;
			-moz-appearance: textfield;
			appearance: textfield;
			margin: 0;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				appearance: none;
				margin: 0;
			}
		}
	}

	.components-base-control {
		&.is-success {
			@include text-control-validation(
				$success-color, 
				$success-bg
			);
		}

		&.is-error {
			@include text-control-validation(
				$error-color,
				$error-bg
			);
		}

		.components-base-control__field {
			margin-bottom: 0px;

			.components-textarea-control__input,
			.components-text-control__input {
				@include input-style();
			}
		}
	}

	.text-control-icon {
		@include center-float-vertically();
		right: 0.5rem;

		.text-control-icon__validation {
			@include font-size-small();

			&.is-error {
				color: $error-color;
			}

			&.is-success {
				color: $success-color;
			}
		}

		&.custom-number-control {
			display: flex;
			align-items: center;
			font-size: 0.55rem;
			color: $blue;
			
			.custom-number-control__icon {
				padding: 0.5rem;

				&:hover {
					background-color: $blue-lightest;
				}

				&.is-disabled {
					@include disabled-style();
					background-color: transparent;
				}
			}
		}
	}
}
