@mixin uploader-style() {
	background-color: $gray-thin;
	border: 1px solid $gray-medium;
	width: 35rem;
	padding: 16px;

	.uploader__content {
		@include flex-center();
		@include gap-large();
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23C7C7C7FF' stroke-width='2' stroke-dasharray='3%2c 4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		background-color: $gray-extralight;
		color: $gray-light;
		height: fit-content;
		height: auto;

		.uploader__is-uploading {
			color: $black-light;
		}

		.uploader__actions {
			@include flex-align();
			@include gap-medium();

			.components-button {
				@include border-default();
				background-color: $white;
				color: $gray;
				padding: 6px 12px;
				gap: 8px;

				&:focus:not(:disabled) {
					box-shadow: none;
					outline: none;
				}
			}
		}

		.components-range-control {
			width: 100%;

			.components-base-control__field {
				margin-bottom: 0px;
			}

			.components-range-control__slider {
				cursor: default;
			}

			.components-range-control__thumb-wrapper {
				display: none;
			}

			.components-range-control__track {
				color: $blue;
				height: 5px;
			}

			.css-1tw038v {
				height: 5px;
			}
		}
	}
}

// File Uploader
.file-uploader {
	@include uploader-style();

	.uploader__content {
		padding: 1.8rem 2.5rem;

		.uploader__uploaded-title {
			@include gap-small();
			@include flex-align();
			color: $black-light;

			.icon {
				color: $success;
				font-size: 1rem;
			}
		}
	}
}


// Image Uploader
.image-uploader {
	@include uploader-style();
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 16px;

	.uploader__content {
		grid-column: span 3 / span 3;
		padding: 1.8rem;
	}

	.uploader__preview {
		background-color: darken($white, 7%);
		height: 8rem;

		&-title {
			@include flex-center();
			color: $gray;
			font-size: 0.83rem;
			text-transform: uppercase;
			height: 100%;
			line-height: 1.5rem;
			padding: 0 16px;
		}

		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
