@import '../../../../../scss/variables';

/*
 * Checkbox List
 */
.field-big-labels .rank-math-checkbox-list {
	padding: 0;
	margin: 0;

	&::before {
		display: table;
		content: '';
	}

	li {
		float: left;

		padding: 0 8px;
		margin: 0 0 15px;
		width: 50%;
		box-sizing: border-box;
		
		.rank-math-checkbox-control {
			width: 100% !important;
			margin: 0 !important;

			.components-base-control__field {
				position: relative;

				.components-checkbox-control {
					&__label {
						display: block;

						width: 100%;
						padding: 10px 12px 10px 38px;
						border: 1px solid $gray-10;
						border-radius: 3px;

						background: $tertiary;

						cursor: pointer;

						&:hover {
							border-color: $dark_gray;
						}

						@media screen and (max-width: 782px) {
							padding-left: 50px;
						}
					}

					&__input-container {
						position: absolute;
						top: 50%;
						left: 13px;
						transform: translateY(-50%);

						width: fit-content;
						height: fit-content;
					}
				}
			}

			&.is-disabled .components-checkbox-control__label {
				opacity: 0.7;
			}
		}
	}
}
