@import '../../../scss/variables';
@import '../../../scss/mixins/formcontrol';

/*
 * Checkbox Control component.
 */
.rank-math-checkbox-control {
	.components-base-control__field {
		margin: 0;

		.components-checkbox-control {
			&__input-container {
				margin-right: 4px;

				.components-checkbox-control {
					&__input {
						@include checkbox-radio-style;

						&:disabled {
							@include checkbox-radio-disabled;
						}

						&:hover:not(:disabled), &:focus {
							box-shadow: 0 0 0 1px $primary-light;
						}

						&:focus {
							border-color: $primary-light;
							outline: 2px solid transparent;
						}

						&:checked::before {
							content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E");
							margin: -.1875rem 0 0 -.25rem;
							height: 1.3125rem;
							width: 1.3125rem;
							float: left;
						}
					}

					&__indeterminate {
						display: none;
					}

					&__checked {
						display: none;
					}
				}
			}

			&__label {
				@include control-label-style;
			}
		}
	}

	&.metabox {
		&.is-indeterminate {
			display: inline-block;
			width: 49%;
			margin: 1px 0 5px 0;
		}

		.components-base-control__field .components-checkbox-control {
			&__input {
				&:hover:not(:focus) {
					box-shadow: inset 0 1px 2px $black-a10;
				}

				&:checked {
					border-color: $primary;
					background: $primary;
					box-shadow: none;

					&::before {
						font-family: 'dashicons';
						font-size: 20px;
						line-height: 20px;
						content: '\f147';
						color: $white;
					}

					&:hover {
						box-shadow: none;
					}
				}

				@media screen and (max-width: 782px) {
					margin-top: -3px;

					&:checked::before {
						width: 1.875rem;
						height: 1.875rem;
						margin: 2px -.3125rem;
						font-size: 30px;
					}
				}
			}
		}
	}

	&.is-disabled .components-base-control__field label {
		pointer-events: none;
	}
}
