@import '../../../scss/main';

/** 
 * Radio Control component.
 */
.rank-math-radio-control {
	.components-radio-control__input[type="radio"] {
		@include checkbox-radio-style;

		margin-right: 9px;
		border-radius: 50%;

		line-height: 0.71428571;

		&:checked::before {
			position: unset;
			transform: none;

			width: 0.5rem;
			height: 0.5rem;
			margin: 0.1875rem;
			border: none;

			background-color: $focus;
		}

		&:disabled {
			@include checkbox-radio-disabled;
		}
	}

	label {
		@include form-control-label;
	}

	&.metabox {
		.components-radio-control__input[type="radio"],
		.components-radio-control__input[type="radio"]:disabled {
			border-color: $dark_gray;
			box-shadow: 0 0 0 1px $dark_gray;
		}

		.components-radio-control__input[type="radio"]:checked {
			border-color: $primary;
			box-shadow: 0 0 0 1px $primary;

			&::before {
				background: $primary;
			}
		}
	}

	@media screen and (max-width: 782px) {
		.components-radio-control__input[type="radio"] {
			&:checked::before {
				transform: translate(5px, 5px);
			}
		}
	}
}
