@import '../../../scss/variables';
@import '../../../scss/mixins/formcontrol';
@import '../../../scss/mixins/layout';

/* 
 * Radio Control component.
 */
.rank-math-radio-control {
	.components-radio-control__input[type=radio] {
		@include checkbox-radio-style;
		border-radius: 50%;
		margin-right: 9px;
		line-height: .71428571;

		&:checked {
			&::before {
				float: left;
				content: "";
				border-radius: 50%;
				width: .5rem;
				height: .5rem;
				margin: .1875rem;
				background-color: $focus;
				line-height: 1.14285714;
				border: none;
			}
		}

		&:disabled {
			@include checkbox-radio-disabled;
		}

		@include tablet {
			&:checked::before{
				transform: none;
			}
		}
	}

	label {
		@include control-label-style;
	}

	&.metabox {
		.components-radio-control__input[type=radio],
		.components-radio-control__input[type=radio]:disabled {
			border-color: $dark_gray;
			box-shadow: 0 0 0 1px $dark_gray;
		}

		.components-radio-control__input[type=radio] {
			&:checked {
				border-color: $primary;
				box-shadow: 0 0 0 1px $primary;

				&::before {
					background: $primary;
				}
			}
		}
	}
}
