@import '../../../scss/main';

/* Variables */
$slate-gray: #6c7781;

/*
 * Toggle Control component.
 */
.rank-math-toggle-control {
	.components-base-control__field {
		margin-bottom: 0;
	
		.components-flex {
			gap: 8px;
	
			.components-form-toggle {
				height: unset;
				margin-right: 0;
	
				&__input:focus + .components-form-toggle__track {
					@include remove-box-shadow;
				}
	
				&__track {
					width: 50px;
					height: 24px;
					border: 2px solid $slate-gray;
					border-radius: 34px;
				}
	
				&__thumb {
					top: 50%;
					left: 5px;
					transform: translateY(-50%);
	
					width: 14px;
					height: 14px;
					border: none;
	
					background-color: $slate-gray;
				}
	
				&::after {
					content: "";
	
					position: absolute;
					top: 50%;
					right: 6px;
					transform: translateY(-50%);
	
					width: 8px;
					height: 8px;
					border: 3px solid $slate-gray;
					border-radius: 50%;
					box-sizing: border-box;
				}
	
				&.is-checked {
					.components-form-toggle {
						&__track {
							border-color: $primary;
	
							background-color: $primary;
						}
	
						&__thumb {
							right: 5px;
							left: auto;
							
							background-color: $white;
						}
					}
	
					&::after {
						right: auto;
						left: 11px;
	
						width: 3px;
						height: 8px;
						border: none;
						border-radius: 1px;
	
						background: $white;
					}
				}
				
				&.is-disabled {
					opacity: 1;
					pointer-events: none;
	
					&.is-checked::after {
						background: $gray;
					}
	
					.components-form-toggle {
						&__track {
							border-color: $gray;
	
							background: transparent;
						}
	
						&__thumb {
							background: $gray;
						}
					}
	
					&::after {
						border-color: $gray;
					}
	
					+ label {
						pointer-events: none;
					}
				}
			}
	
			.components-toggle-control__label {
				@include form-control-label;
			}
		}
	}

	&.hide-label .components-toggle-control__label {
		display: none;
	}
}

body.rtl {
	.rank-math-toggle-control .components-base-control__field .components-flex .components-form-toggle__thumb {
		right: auto;
	}
}
