// compileCompressed: $1.css
/*!
 * Plugin:	Rank Math - SEO Analyzer
 * URL:		https://rankmath.com/wordpress/plugin/seo-suite/
 * Name:	seo-analysis.css
 */
@import '../../../../../assets/vendor/bourbon/bourbon';

@import '../../../../../assets/admin/scss/mixins';

@import '../../../../../assets/admin/scss/variables';

@import '../../../../../assets/admin/scss/partials/common/pro-cta';

@import './partials/result-header';
@import './partials/result-graphs';
@import './partials/serp-preview';

@import './partials/bar-chart';
@import './partials/circle-chart';
@import './partials/progress-bar';

@import './partials/result-table-layout';
@import './partials/result-table-filters';
@import './partials/result-table-misc';

@import './partials/competitor_analyzer';

.#{$namespace} {
	// Main Wrapper.
	&-seo-analysis-wrap {
		width: 100%;
		max-width: 100%;
		margin-top: 20px;
		margin-bottom: -65px;
		box-sizing: border-box;

		// Tab Content
		.components-tab-panel__tab-content > div {
			position: relative;

			width: 1100px;
			max-width: 100%;
		}
		
		// Breadcrumbs
		.rank-math-breadcrumbs-wrap {
			margin-bottom: 20px;
		
			.divider {
				margin: 0 8px;
			}
		}
	}

	// Result Wrapper.
	&-analyzer-result {
		padding: 0;
		border: 0;
		border-radius: 0 0 6px 6px;

		background: transparent;
	}
}

// Responsive.
.#{$namespace}-seo-analysis-wrap {
	@media screen and (max-width: 782px) {
		.graphs-main,
		.graphs-side {
			flex: 0 0 100%;

			margin: 0;
		}

		.chart li {
			height: 170px;
		}

		.info-list {
			overflow: scroll;
		}
	}

	@media screen and (max-width: 595px) {
		header {
			flex-direction: column; 
			align-items: start;

			.analyzer-results-actions {
				flex-wrap: wrap;
			}
		}

		.#{$namespace}-result-table {
			.row-title,
			.row-description {
				display: block;

				box-sizing: border-box;
				width: 100%;
			}
		}
	}
}
