// Base Colors
$red: #ff0000;
$green: #008000;
$yellow: #ffff00;
$black: #000000;
$white: #ffffff;
$gray: #808080;
$blue: #007cba;

// Base Color Variations
// Blue Variants
$blue-light: rgba($blue, 12%);
$blue-lighter: rgba($blue, 10%);
$blue-lightest: rgba($blue, 5%);
$blue-dark: rgba($blue, 25%);


// White Variants
$white-dark: darken($white, 1%);
$white-darker: darken($white, 5%);
$white-darkest: darken($white, 10%);
$white-heavy: darken($white, 20%);
$white-medium: darken($white, 3%);


// Gray Variants
$gray-light: lighten($gray, 10%);
$gray-lighter: lighten($gray, 20%);
$gray-lightest: lighten($gray, 40%);
$gray-dark: darken($gray, 10%);
$gray-darker: darken($gray, 20%);
$gray-darkest: darken($gray, 30%);


// Black Variants
$black-light: lighten($black, 18%);


// Validation Colors
$success: lighten($green, 10%);
$success-light: rgba($green, 70%);
$success-lightest: rgba($green, 7%);
$success-extralight: lighten($green, 74%);

$error: lighten($red, 10%);
$error-light: #F24F65;
$error-lighter: rgba($red, 10%);
$error-lightest: rgba($red, 7%);
$error-extralight: lighten($red, 49%);

$warning: #F0B849;
$warning-lighter: lighten($warning, 30%);

$destructive: mix($red, $black, 80%);
$destructive-hover: mix($red, $black, 61%);
