// Base Colors
$red: #ff0000;
$green: #008000;
$orange: #FFA500;
$black: #000000;
$white: #ffffff;
$gray: #808080;
$blue: #007cba;

// Base Color Variations
// Black Variants
$black-light: lighten($black, 18%);


// Blue Variants
$blue-light: rgba($blue, 12%);
$blue-lighter: rgba($blue, 10%);
$blue-lightest: rgba($blue, 5%);
$blue-dark: rgba($blue, 25%);


// Gray Variants
$gray-light: lighten($gray, 10%);
$gray-lighter: lighten($gray, 20%);
$gray-medium: lighten($gray, 30%);
$gray-lightest: lighten($gray, 40%);
$gray-extralight: lighten($gray, 45%);
$gray-mono: lighten($gray, 47%);
$gray-thin: lighten($gray, 48.5%);
$gray-dark: darken($gray, 10%);
$gray-darker: darken($gray, 20%);
$gray-darkest: darken($gray, 30%);


// Validation Colors
// Success
$success: #4AB866;
$success-light: lighten($success, 5%);
$success-lighter: lighten($success, 12%);
$success-lightest: lighten($success, 39%);
$success-extralight: lighten($success, 42%);
$success-thin: lighten($success, 47%);
$success-dark: darken($success, 10%);


// Error
$error: #F3808F;
$error-light: lighten($error, 18%);
$error-lighter: lighten($error, 23%);
$error-lightest:  lighten($error, 25.5%);
$error-dark: darken($error, 10%);

$error-secondary: #F29C96;
$error-secondary-light: lighten($error-secondary, 20%);
$error-secondary-dark: darken($error-secondary, 10%);
$error-secondary-darker: darken($error-secondary, 20%);

$error-tertiary: #FF6055;
$error-tertiary-light: #FF938B;


// Warning
$warning: #F0B849;
$warning-lighter: lighten($warning, 30%);


// Destructive
$destructive: mix($red, $black, 80%);
$destructive-hover: mix($red, $black, 61%);
