@mixin button-secondary-style(
	$color, 
	$color-box-shadow,
	$color--hover,
	$color-bg--hover,
	$color-box-shadow--hover,
	$color-bg-focus, 
	$color--focus,
	$color-bg-active,
	$color-box-shadow--focus-active,
	$color--disabled,
	$color-bg--disabled,
	$color-box-shadow--disabled
) {
	color: $color;
	box-shadow: inset 0 0 0 1px $color-box-shadow;

	&:hover:not(:disabled) {
		color: $color--hover;
		background-color: $color-bg--hover;
		box-shadow: inset 0 0 0 1px $color-box-shadow--hover;
	}

	&:focus, 
	&:focus:hover:not(:disabled),
	&:active:not(:disabled) {
		box-shadow: inset 0 0 0 1.5px $color-box-shadow--focus-active;
		outline: none;
	}

	&:focus, 
	&:focus:hover:not(:disabled) {
		color: $color--focus;
		background-color: $color-bg-focus;
	}

	&:active:not(:disabled) {
		color: $color;
		background-color: $color-bg-active;
	}

	&:disabled,
	&[aria-disabled="true"],
	&:disabled:hover,
	&[aria-disabled="true"]:hover {
		opacity: 0.3;
		outline: 1px solid transparent;
		transform: inherit;
		box-shadow: inset 0 0 0 1px $color-box-shadow--disabled;
		color: $color--disabled;
		background-color: $color-bg--disabled;
	}
}
