@mixin button-style(
		$color-bg--hover, 
		$color, 
		$color-box-shadow, 
		$color-bg-focus, 
		$color-bg-active,
		$color--disabled, 
		$color-bg--disabled,
		$color-box-shadow--hover,
		$color--hover--focus,
		$color-box-shadow--focus-active
	) {
	color: $color;
	box-shadow: inset 0 0 0 1px $color-box-shadow;

	&:hover:not(:disabled) {
		color: $color--hover--focus;
		background-color: $color-bg--hover;
		box-shadow: inset 0 0 0 1px $color-box-shadow--hover;
	}

	&:focus, 
	&:focus:hover:not(:disabled),
	&:active:not(:disabled) {
		box-shadow: inset 0 0 0 1.5px $color-box-shadow--focus-active;
		outline: none;
	}

	&:focus, 
	&:focus:hover:not(:disabled) {
		color: $color--hover--focus;
		background-color: $color-bg-focus;
	}

	&:active:not(:disabled) {
		color: $color;
		background-color: $color-bg-active;
	}

	&:disabled,
	&[aria-disabled="true"],
	&:disabled:hover,
	&[aria-disabled="true"]:hover {
		opacity: 0.3;
		outline: 1px solid transparent;
		transform: inherit;
		box-shadow: inset 0 0 0 1px $color-box-shadow;
		color: $color--disabled;
		background-color: $color-bg--disabled;
	}
}
