@import './colors';

$color-border--gray-primary: #E0E0E0;
$color-border--gray-secondary: #C7C7C7;
$color-bg--hover-secondary: #E6F2F9;

// Radio/Checkbox/Toggle Controls
$color-border--controls-disabled: #656565;
$color-bg--controls-disabled: #e2e1e1;
$color-border--controls: #A9A9A9;
$gap--controls: 8px;

//Switch & Filter Tabs
$color--tab-is-black--hover: #393939;
$color-bg--tab-is-black--hover: #E4E4E4;
$color--tab-is-black--active: #fff;
$color-bg--tab-is-black--active: #2F2F2F;
