// Radio, Checkbox & Toggle Control
$controls-bg-disabled: $gray-lighter;
$controls-margin: 8px;

//Switch & Filter Tabs
$black-tab-color-hover: $black-light;
$black-tab-color-active: $white;
$black-tab-bg-active: $black-light;

$blue-tab-color-hover: $blue;
$blue-tab-color-active: $white;
$blue-tab-bg-hover: $blue-lighter;
$blue-tab-bg-active: $blue;
