@import '../../../scss/main';

/*
 * Textarea Control component.
 */
.rank-math-textarea-control.components-base-control {
	.components-base-control__field {
		margin: 0;
	}

	.components-textarea-control__input {
		padding: 2px 6px;

		font-size: 14px;
		line-height: 1.42857143;

		overflow: auto;
		resize: vertical;
		
		&:read-only {
			background-color: $gray-30;
		}
		
		@include input-style;
	}

	&.metabox,
	&.code-box {
		.components-textarea-control__input {
			display: block;
			
			@include metabox;
			height: auto;

			resize: none;
		}
	}

	&.code-box {
		.components-textarea-control__input, 
		.components-textarea-control__input:focus:not(:disabled) {
			display: block;

			width: 100%;
			border-color: #32344b;
			
			color: #bbbec5;
			background: #32344b;

			resize: none;

			&::placeholder {
				color: #63686f;
			}
		}
	}

	&.code .components-textarea-control__input {
		font-family: 'Consolas', 'Monaco', monospace;
	}
}
