@import '../../../scss/main';

/*
 * Rating component.
 */
.rank-math-rating {
	@include flex-align;
	justify-content: space-between;

	width: 316px;
	height: 60px;
	border: 1px solid #e2e4e7;
	border-radius: 6px;

	background: $white;

	&__stars {
		margin: auto;

		.components-button {
			height: fit-content;
			@include remove-box-shadow;

			color: #aaa;

			&.has-icon {
				min-width: fit-content;
				padding: 0;
			}

			.dashicons {
				width: 40px !important;
				height: 40px !important;
				margin: 0;

				font-size: 40px !important;
			}

			&:hover,
			&.highlighted {
				color: #f9cb12;
			}
		}
	}

	&__face {
		@include flex-center;

		width: 70px;
		height: 100%;
		border-left: 1px solid #e2e4e7;

		background: $gray-20;

		.smiley {
			position: relative;

			width: 40px;
			height: 40px;
			padding: 5px;
			border-radius: 100%;
			box-sizing: border-box;

			background: linear-gradient(135deg,#ffe919 0%,#fbc000 100%);

			.eyes {
				width: 100%;
				padding: 0 5px;
				margin-top: 15%;
				box-sizing: border-box;

				transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

				.eye {
					position: relative;
					float: left;

					width: 8px;
					height: 8px;
					border-radius: 100%;

					background: #b57700;

					&:nth-of-type(2) {
						float: right;
					}

					&::after {
						display: block;
						content: "";

						position: absolute;
						top: -15px;
						left: 5px;
						transform: rotate(0deg);

						height: 0;
						width: 0;

						background: #fed800;

						transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
					}

					&:first-of-type::after {
						right: 5px;
						left: auto;
						transform: rotate(0deg);
					}
				}
			}

			.mouth {
				position: absolute;
				bottom: 18%;
				left: 50%;

				width: 60%;
				height: 30%;
				margin-left: -30%;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 40px;
				border-bottom-left-radius: 40px;
				box-sizing: border-box;

				background: #b57700;

				transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
			}

			&.angry {
				.eyes {
					margin-top: 35%;
				}

				.eye {
					&::after {
						top: -3px;
						left: -5px;
						transform: rotate(-35deg);

						width: 120%;
						height: 50%;
						border-radius: 0;
					}

					&:first-of-type::after {
						right: -5px;
						left: auto;
						transform: rotate(35deg);
					}
				}

				.mouth {
					bottom: 18%;
					left: 50%;

					width: 40%;
					height: 20%;
					margin-left: -20%;
					border-bottom: 0;
					border-top-left-radius: 100%;
					border-top-right-radius: 100%;
					border-bottom-right-radius: 8px;
					border-bottom-left-radius: 8px;
				}

				.eyes,
				.mouth {
					animation: move-angry-head 0.6s;
				}
			}

			&.normal {
				.eyes {
					margin-top: 30%;
				}

				.eye {
					height: 8px;
					margin-top: 0;

					animation: blink 0.6s;
				}

				.mouth {
					bottom: 25%;

					width: 40%;
					height: 10%;
					margin-left: -20%;
					border-top-left-radius: 40px;
					border-top-right-radius: 40px;
					border-bottom-right-radius: 40px;
					border-bottom-left-radius: 40px;
				}
			}

			&.happy {
				.eyes {
					animation: move-eyes-down 0.8s;
				}

				.eye:nth-of-type(2) {
					height: 8px;
					margin-top: 0;
					
					animation: wink 0.8s;
				}
			}
		}
	}
}

/*
 * Animation keyframes.
 */
@keyframes wink {
	0% {
		height: 8px;
		margin-top: 0;
	}
	30% {
		height: 4px;
		margin-top: 4px;
	}
	70% {
		height: 4px;
		margin-top: 4px;
	}
	100% {
		height: 8px;
		margin-top: 0;
	}
}

@keyframes move-eyes-down {
	0% {
		margin-top: 15%;
	}
	35% {
		margin-top: 19%;
	}
	65% {
		margin-top: 19%;
	}
	100% {
		margin-top: 15%;
	}
}

@keyframes move-angry-head {
	0% {
		transform: translateX(0%);
	}
	20% {
		transform: translateX(-20%);
	}
	40% {
		transform: translateX(15%);
	}
	60% {
		transform: translateX(-10%);
	}
	80% {
		transform: translateX(5%);
	}
	100% {
		transform: translateX(0%);
	}
}
