@import '../../../../../scss/variables';

$initial-offset: 10px;

/*
 * Tooltip component.
 */
.rank-math-tooltip-container {
	display: inline;
	vertical-align: middle;

	&.is-block {
		display: block;
	}

	.dashicons-editor-help {
		color: $gray;
		height: 20px;
		line-height: 18px;
	}

	&:hover .dashicons-editor-help {
		color: $primary;
	}
}

.rank-math-tooltip-popover {
	transition: all 0.3s ease-in-out;
	z-index: -1;
	opacity: 0 !important;
	pointer-events: none;

	&.is-visible {
		margin: 0 !important;

		z-index: 1000000;
		opacity: 1 !important;
	}

	&.top,
	&.top-end,
	&.top-start,
	&.bottom,
	&.bottom-end
	&.bottom-start {
		margin-top: $initial-offset;
	}

	&.left,
	&.left-end,
	&.left-start,
	&.right,
	&.right-end,
	&.right-start {
		margin-left: $initial-offset;
	}
	
	.components-popover {
		&__content {
			width: 200px;
			padding: 8px 10px;
			border-radius: 3px;
			box-shadow: none;
			outline: none;

			color: $white;
			background: $black-50;
			font-size: 11px;
			font-weight: 400;
			line-height: 1.5;
			text-align: center;
			white-space: normal;
		}

		&__arrow {
			.components-popover__triangle {
				&-bg {
					fill: $black-50;
				}

				&-border {
					stroke: transparent;
				}
			}

			&::before {
				background: $black-50;
			}
		}
	}
}
