@import '../../../scss/variables';

$initial-offset: 10px;

/*
 * Tooltip component.
 */
.rank-math-tooltip-container {
	display: inline-block;

	&.is-block {
		display: block;
	}

	.dashicons-editor-help {
		color: $gray-10;
		height: 20px;
		line-height: 18px;
	}

	&:hover {
		.dashicons-editor-help {
			color: $primary;
		}
	}
}

.rank-math-tooltip-popover {
	transition: all 0.3s ease-in-out;
	z-index: -1;
	opacity: 0 !important;
	pointer-events: none;

	&.is-visible {
		z-index: 1000000;
		opacity: 1 !important;
		margin: 0 !important;
	}

	&.bottom,
	&.bottom-end
	&.bottom-start,
	&.top,
	&.top-end,
	&.top-start {
		margin-top: $initial-offset;
	}

	&.right,
	&.right-end,
	&.right-start,
	&.left,
	&.left-end,
	&.left-start {
		margin-left: $initial-offset;
	}
	
	.components-popover {
		&__content {
			font-size: 11px;
			font-weight: 400;
			line-height: 1.5;
			white-space: normal;
			width: 200px;
			padding: 8px 10px;
			box-shadow: none;
			outline: none;
			background-color: $black-50;
			color: $white;
			border-radius: 3px;
			text-align: center;
		}

		&__arrow {
			.components-popover__triangle {
				&-bg {
					fill: $black-50;
				}

				&-border {
					stroke: transparent;
				}
			}

			&::before {
				background: $black-50;
			}
		}
	}
}
