@import '../../../scss/variables';

// Color
$danger-color: #fc948b;

/**
 * File component
 */
.media-status {
	.img-status {
		position: relative;

		clear: none;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		width: auto;

		&:hover {
			img {
				border-color: $danger-color;
				box-shadow: 0 0 0 1px $danger-color;
			}

			.remove-file-button {
				opacity: 1;
			}
		}

		img {
			max-width: 350px;
			height: auto;

			background: #eee;
			border: 5px solid $white;
			outline: 1px solid #e9e9e9;
  			box-shadow: inset 0 0 15px rgba(0,0,0,.3),inset 0 0 0 1px $black-a5;
			background-image: linear-gradient(45deg,#d0d0d0 25%,transparent 25%,transparent 75%,#d0d0d0 75%,#d0d0d0),linear-gradient(45deg,#d0d0d0 25%,transparent 25%,transparent 75%,#d0d0d0 75%,#d0d0d0);
			background-position: 0 0,10px 10px;
			background-size: 20px 20px;
			border-radius: 2px;
			margin: 15px 0 0 0;

			cursor: pointer;
		}

		.remove-file-button,
		.remove-file-button:hover:not(:disabled) {
			background-color: $danger-color;
		}

		.remove-file-button {
			top: 16px;
			line-height: 38px;
			right: 1px;
			left: auto;
			height: 38px;
			width: 38px;
			position: absolute;
			border: 0;

			display: flex;
			align-items: center;
			justify-content: center;

			opacity: 0;
			border-radius: 0;

			&:hover:not(:disabled) {
				border: 0;
			}

			&:focus {
				box-shadow: none;
  				outline: none;
			}

			&::before {
				font-family: 'dashicons';
				font-size: 20px;
				font-weight: normal;
				font-style: normal;
				display: inline-block;
				content: '\f335';
				text-align: center;
				vertical-align: top;
				text-decoration: none;
				color: $white;
			}
		}
	}
}