@import '../../../../../scss/variables';

// Color
$danger-color: #fc948b;
$gray-40: #d0d0d0;

/**
 * File component
 */
.media-status .img-status {
	display: inline-block;

	position: relative;

	width: auto;
	margin-right: 10px;

	vertical-align: middle;

	clear: none;

	&:hover {
		img {
			border-color: $danger-color;
			box-shadow: 0 0 0 1px $danger-color;
		}

		.remove-file-button {
			opacity: 1;
		}
	}

	img {
		max-width: 350px;
		height: auto;
		margin: 15px 0 0 0;
		border: 5px solid $white;
		border-radius: 2px;
		box-shadow:
			inset 0 0 15px rgba(0, 0, 0, 0.3), 
			inset 0 0 0 1px $black-a5;
		outline: 1px solid #e9e9e9;

		background: #eee;
		background-image: 
			linear-gradient(
				45deg,
				$gray-40 25%, 
				transparent 25%, 
				transparent 75%,
				$gray-40 75%,
				$gray-40
			),
			linear-gradient(
				45deg,
				$gray-40 25%,
				transparent 25%,
				transparent 75%,
				$gray-40 75%,
				$gray-40
			);
		background-position: 0 0,10px 10px;
		background-size: 20px 20px;

		cursor: pointer;
	}

	.remove-file-button,
	.remove-file-button:hover:not(:disabled) {
		background-color: $danger-color;
	}

	.remove-file-button {
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 16px;
		right: 1px;
		left: auto;

		width: 38px;
		height: 38px;
		border: 0;
		border-radius: 0;

		opacity: 0;
		line-height: 38px;

		&:hover:not(:disabled) {
			border: 0;
		}

		&:focus {
			box-shadow: none;
			outline: none;
		}

		&::before {
			display: inline-block;
			content: "\f335";
			
			color: $white;
			font-family: "dashicons";
			font-size: 20px;
			font-weight: 400;
			font-style: normal;
			text-align: center;
			vertical-align: top;
			text-decoration: none;
		}
	}
}
