@import '../../../scss/variables';
@import '../../../scss/mixins/styling';
@import '../../../scss/mixins/typography';

/*
 * Mixin function used to style status anchor tag variants.
 */
@mixin anchor-tag-status-style(
	$normal: (
		$color,
		$background
	),
	$hover-focus: (
		$color,
		$background,
	),
	$active: (
		$background
	)
) {
	background-color: nth($normal, 2);
	color: nth($normal, 1);

	&:active {
		background-color: nth($active, 1);
		color: $white;
	}

	&:hover, &:focus {
		background-color: nth($hover-focus, 2);
		color: nth($hover-focus, 1);
	}
}

/*
 * Status Anchor Tag component.
 */
.rank-math-status-anchor-tag {
	&.components-button {
		&.is-secondary {
			@include remove-box-shadow;
			@include radius-xs;
			@include body-xs;
			padding: 4px 6px;
			height: 22px;

			&.is-good {
				@include anchor-tag-status-style(
					$normal:(
						$green-100, 
						rgba($green-100, 0.1)
					),
					$hover-focus:(
						$green-110, 
						$green-a15
					),
					$active:(
						$green-90
					)
				);
			}

			&.is-neutral {
				@include anchor-tag-status-style(
					$normal:(
						$yellow-100,
						rgba($yellow-100, 0.1)
					),
					$hover-focus:(
						#D68915, 
						$yellow-a15
					),
					$active:(
						$yellow-90
					)
				);
			}
			
			&.is-bad {
				@include anchor-tag-status-style(
					$normal: (
						$red-100, 
						$red-a10
					),
					$hover-focus:(
						$red-110, 
						$red-a15
					),
					$active:(
						$red-90
					)
				);
			}

			&.is-default {
				@include anchor-tag-status-style(
					$normal:(
						$gray-90, 
						$black-a5
					),
					$hover-focus:(
						$black-70, 
						$black-a10
					),
					$active:(
						$black-70
					)
				);
			}
		}
	}
}
