@import '../../../scss/main';

/* Styles the various status anchor tag variants */
@mixin anchor-tag-variant(
	$normal: ($color, $background),
	$hover-focus: ($color, $background),
	$active: ($background)
) {
	color: nth($normal, 1);
	background-color: nth($normal, 2);

	&:active {
		color: $white;
		background-color: nth($active, 1);
	}

	&:hover, 
	&:focus {
		color: nth($hover-focus, 1);
		background-color: nth($hover-focus, 2);
	}
}

/*
 * Status Anchor Tag component.
 */
.rank-math-status-anchor-tag.components-button.is-secondary {
	height: 22px;
	padding: 4px 6px;
	border-radius: 2px;
	@include remove-box-shadow;

	font-size: 11px;
	line-height: 13px;

	&.is-good {
		@include anchor-tag-variant(
			$normal: ($green-100, rgba($green-100, 0.1)),
			$hover-focus: ($green-110, $green-a15),
			$active: ($green-90)
		);
	}

	&.is-neutral {
		@include anchor-tag-variant(
			$normal: ($yellow-100, rgba($yellow-100, 0.1)),
			$hover-focus: (#d68915, $yellow-a15),
			$active: ($status-ok)
		);
	}

	&.is-bad {
		@include anchor-tag-variant(
			$normal: ($red-100, rgba($red-100, 0.1)),
			$hover-focus: ($red-110, $red-a15),
			$active: ($color-bad)
		);
	}

	&.is-default {
		@include anchor-tag-variant(
			$normal: (#757575, $black-a5),
			$hover-focus: ($black-70, $black-a10),
			$active: ($black-70)
		);
	}
}
