@import '../../../scss/variables';
@import '../../../scss/mixins/styling';
@import '../../../scss/mixins/typography';

/*
 * Mixin used to style the icon of the Status List.
 */
@mixin status-icon-style($color, $background, $hover-background) {
	.rank-math-status-list__icon {		
		color: $color;
		background-color: $background;

		svg path {
			fill: $color;
		}
	}

	&:hover {
		.rank-math-status-list__icon {
			color: $white;
			background-color: $hover-background;

			svg path {
				fill: $white;
			}
		}
	}
}

/*
 * Status List component.
 */
.rank-math-status-list {
	display: flex;
	width: 16.5rem;
	gap: 8px;

	&:active {
		.rank-math-status-list__description-icon {
			color: $white;
			background-color: $black-70;
		}
	}

	&__icon {
		width: 14px;
		height: 14px;
		border-radius: 8px;
		transform: translateY(5px);
		@include flex-center;
	}

	&__description {
		flex: 1 1 0;
		@include body;
		color: #2F2F2F;

		a {
			transform: translateY(1px);
 		 	display: inline-block;
			visibility: hidden;

			&:hover {
				svg {
					background-color: $black-70;
					border-radius: 6px;

					path:not(:last-of-type) {
						fill: $white;
					}
				}
			}
		}
	}

	&:hover {
		.rank-math-status-list__description a {
			visibility: visible;
		}
	}

	&.is-good {
		@include status-icon-style($green-110, $green-a15, $green-90)
	}

	&.is-neutral {
		@include status-icon-style(#D18E08, $yellow-a15, $yellow-90)
	}

	&.is-bad {
		@include status-icon-style($red-110, $red-a15, $red-90)
	}
}
