@import '../../../scss/main';

/* Styles the icon of the Status List */
@mixin status-icon($color, $background, $hover-background) {
	.rank-math-status-list__icon {		
		color: $color;
		background-color: $background;

		svg path {
			fill: $color;
		}
	}

	&:hover .rank-math-status-list__icon {
		color: $white;
		background-color: $hover-background;

		svg path {
			fill: $white;
		}
	}
}

/*
 * Status List component.
 */
.rank-math-status-list {
	display: flex;
	flex-direction: column;
	gap: 8px;

	width: 16.5rem;

	&:active .rank-math-status-list__description-icon {
		color: $white;
		background-color: $black-70;
	}

	&__icon {
		@include flex-center;

		width: 14px;
		height: 14px;
		border-radius: 8px;
		transform: translateY(5px);
	}

	&__description {
		flex: 1 1 0;

		color: #2f2f2f;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;

		a {
			display: inline-block;
			visibility: hidden;

			transform: translateY(1px);

			&:hover svg {
				border-radius: 6px;

				background-color: $black-70;

				path:not(:last-of-type) {
					fill: $white;
				}
			}
		}
	}

	&:hover .rank-math-status-list__description a {
		visibility: visible;
	}

	&.is-good {
		@include status-icon($green-110, $green-a15, $green-90)
	}

	&.is-neutral {
		@include status-icon(#d18e08, $yellow-a15, $status-ok)
	}

	&.is-bad {
		@include status-icon($red-110, $red-a15, $color-bad)
	}
}
