@import '../../../../../scss/variables';

/* Style the button's validation state */
@mixin status-validation($color) {
	border: 1px solid $color;

	color: $white;
	background-color: $color;

	svg path {
		fill: $white;
	}
}

/*
 * Status Button component.
 */
.rank-math-status-button.components-button {
	min-height: 32px;
	padding: 0 12px;
	border-radius: 4px;

	font-size: 14px;
	font-weight: 500;
	line-height: 2.30769231;

	&.has-icon.has-text svg {
		width: 14px;
		height: 14px;
		margin-right: 5px;
	}

	&.is-connected {
		@include status-validation($status-good);
	}

	&.is-disconnected {
		@include status-validation($error);
	}

	&.is-disconnect:hover {
		border-color: $error;
		box-shadow: none;

		color: $white;
		background: $error;
	}

	&.is-connected,
	&.is-disconnected {
		pointer-events: none;
	}
}
