// Base Colors
$black	: #000000;
$white	: #ffffff;

// Grayscale
$black-90	: #1E1E1E;
$black-70	: #383838;
$black-50	: #555d66;
$gray-90	: #757575;
$gray-70    : #aaa;
$gray-50	: #CCCCCC;
$gray-30	: #F0F0F1;
$gray-20    : #f0f2f4;
$gray-10    : #b5bfc9;

$tertiary         : #f8f9fa;
$tertiary-light   : #f6f7f7;
$border-highlight : #8c8f94;
$secondary        : #6b7278;

$dark_gray   : #7f868d;
$light_gray  : #dadfe4;

$silver-gray      : #c3c4c7;
$charcoal-gray    : #2c3338;
$graphite-gray    : #50575e;
$charcoal-gray-10 : #242628;
$shadow-gray      : rgba(44,51,56,.5);

$white-a50  : rgba($white, 0.5);
$white-a75  : rgba($white, 0.75);

// Black Alpha
$black-a10	: rgba($black, 0.1);
$black-a4   : rgba($black, 0.04);
$black-a5	: rgba($black, 0.05);

// Blue
$focus          : #3582c4;
$primary        : #069de3;
$primary-light  : #2271b1;
$primary-darker : #0a4b78;
$blue-100	    : #017CBA;

// Red
$error      : #ee6a5e;
$danger     : #d63638;
$red-110	: #D9655D;
$red-100	: #E37A73;
$red-90		: #F29C96;
$red-a15	: rgba($red-100, 0.15);
$red-a10	: rgba($red-100, 0.1);

// Yellow
$yellow-100	: #DF962C;
$yellow-90	: #FFBE5F;
$yellow-a15	: rgba($yellow-100, 0.15);

// Green
$green-110	: #3D993A;
$green-100	: #55A853;
$green-90	: #7AC979;
$status-good: #58bb58;
$green-a15	: rgba($green-100, 0.15);
