// main: ../../option-panel.scss

body.rtl {
    .rank-math-tabs-navigation:not(.rank-math-custom) {
        a {
            border-right-width: 1px;
            border-left-width: 0;

            .rm-icon {
                float: right;

                margin-right: 0;
                margin-left: 10px;
            }

            &.active {
                border-right: 3px solid;
                border-left: 0;

                &:after {
                    right: auto;
                    left: -1px;
                }
            }

            &:last-child {
                border-radius: 0 0 6px 0;
            }
        }

        .separator {
            border-right: 1px solid #b5bfc9;
            border-left: 0;
        }
    }

    .rank-math-tab-header {
        margin-left: auto;
        margin-right: -200px;
    }

    .rank-math-tab-panel>.components-tab-panel__tabs[aria-orientation=vertical] .components-tab-panel__tabs-item {
        border-left: 0;
        border-right: 1px solid;

        &.is-active, &:hover:not(.is-active):not(.separator) {
            border-right: 3px solid;
            border-left: 0;

            &:after {
                right: unset;
                left: -1px;
            }
        }

        i {
            margin-right: 0;
            margin-left: 9px;
        }
    }

    .field-th {
        float: right;

        label {
            padding-right: 0;
            padding-left: 15px;
        }
    }
}