// main: ../../option-panel.scss

%flex {
	@include flex;
}

// Wizard
.wizard-content--analytics {
	.connect-wrap {
		display: grid;

		margin-bottom: 4rem;

		place-items: center;
	}

	.cmb2-metabox-description {
		text-align: center;
	}
}

// Options Panel.
#setting-panel-analyitcs .connect-wrap {
	margin-bottom: 1rem;

	.button {
		font-size: 16px;
		line-height: 40px;

		padding: 0 20px;

		&:before {
			display: none;
		}
	}
}

.connect-actions {
	margin-bottom: .5rem;
	text-align: right;

	.button-link {
		margin: 0 0 0 25px;
		text-decoration: none;
		line-height: normal;
		position: relative;
		color: $color-4;
		border-bottom: 1px dotted #fff;
		padding: 0;
		line-height: 29px;

		&:after {
			content: '|';
			color: #b5bfc9;
			position: absolute;
			right: -15px;
		}

		&:last-child:after {
			content: '';
			display: none;
		}

		&:focus,
		&:hover {
			box-shadow: none;
			background: transparent;
			color: $color-4;
			border-bottom-color: $color-4;
		}

		&.rank-math-disconnect-google {
			color: $error;

			&:hover,
			&:focus {
				color: $error;
				border-bottom-color: $error;
			}
		}

	}
}

.#{$namespace}-spinner {
    margin: 0;
    height: 14px;
    width: 14px;
    display: inline-block;
    position: relative;
    color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
    overflow: visible;

	circle {
		fill: transparent;
		stroke-width: 1.5px;
		stroke: rgb(221, 221, 221);
	}

	path {
		fill: transparent;
		stroke-width: 1.5px;
		stroke: currentcolor;
		stroke-linecap: round;
		transform-origin: 50% 50%;
		animation: spin 1s infinite linear;
	}
}

.#{$namespace}-accordion {
	margin-bottom: 1rem;

	transition: .25s all ease-in-out;

	border: 1px solid $light-gray;
	border-radius: 6px;
	background: #fff;

	&:hover,
	&:focus {
		border-color: $primary;
		box-shadow: 0 0 0 1px $primary;
	}

	.cmb-row {
		padding: 1rem 0;

		border-top: 0!important;

		.cmb-td {
			width: 100%;
		}
	}

	.cmb2-toggle {
		margin-right: 5px;
	}

	header {
		line-height: 1;

		padding: 1rem;

		cursor: pointer;

		border-bottom: 1px solid $light-gray;
		border-radius: 6px 6px 0 0;
		background: #f8f9fa;

		@extend %flex;
		justify-content: space-between;

		h3 {
			font-size: 1.25rem;
			line-height: 1;

			margin: 0;

			.#{$namespace}-connection-status {
				display: inline-block;

				width: 14px;
				height: 14px;

				content: '';

				border-radius: 50%;
				background: $light-gray;

				&-wrap {
					margin-right: 0.825rem;
				}

				&.#{$namespace}-connection-status {
					&-error {
						background: $error;
					}
					
					&-success {
						background: $color-good;
					}
					
					&-warning {
						background: $color-4;
					}
				}

			}
		}
	}

	&.connected {
		h3:before {
			background: $color-good;
		}
	}

	&-content {
		padding: 1rem;

		.cmb-type-select {
			label {
				display: block;

				margin-bottom: .5rem;
			}

			&:not(.no-flex) {
				@extend %flex;

				.cmb-row-col {
					margin-right: 3%;

					flex: 0 0 31.3333333%;
					max-width: 31.3333333%;

					&:nth-of-type(3),
					&:last-of-type {
						margin-right: 0;
					}

					&.create-new-view {
						margin-top: 1rem;

						@extend %flex;
						flex: 0 0 100%;

						> * {
							margin-right: .5rem;
						}

						label {
							flex: 0 0 100%;
						}

						input {
							width: auto;
						}

						input:not(:hover):not(:focus) {
							border-color: $gray;
						}
					}
				}
			}
		}

		.warning {
			font-size: 14px;

			margin: 0 0 1rem;
		}

		&.rank-math-analytics-content {
			.cmb-type-select .cmb-row-col {
				margin-top: .5rem;
				margin-bottom: .5rem;
			}
		}

		.cmb-td {
			width: 100%;
		}

		.cmb2-metabox-description {
			text-align: left;
		}
	}
}

// Privacy box.
@import '../../../../../includes/modules/analytics/assets/scss/partials/_privacy-box.scss';
##{$namespace}-pro-cta.#{$namespace}-privacy-box {
	width: 630px;
	max-width: 100%;
	margin: 3rem auto 0;
}

.#{$namespace}-tabs-content {
	##{$namespace}-pro-cta.#{$namespace}-privacy-box {
		width: 100%;
	}
}

.next-fetch {
	float: left;

	margin-top: 4px;

	color: $dark-gray;
}

.cancel-fetch {
	transition: .25s linear all;

	&:disabled {
		opacity: 0;
	}
}

.#{$namespace}-console-db-info {
	display: inline-block;

	margin: 8px 8px 0 0;
	padding: 5px 8px;

	border-radius: 4px;
	background: #f6f6f6;

	i {
		font-size: 12px;

		margin-right: 3px;

		vertical-align: -1px;
	}
}

#console_caching_control {
	margin-bottom: 10px;
}

#console-updating-manually-progress {
	position: relative;

	display: none;
	overflow: hidden;

	margin: 10px 0;
	padding: 8px;

	border-radius: 4px;
	background: #f6f6f6;

	.progress {
		overflow: hidden;

		height: 100%;
		padding: 8px;

		transition: width 2s ease-in-out;
		white-space: nowrap;

		color: #fff;
		border-radius: 3px;
		background: #008ec2;

		@include position( absolute, 0 null null 0 );
	}
}

#setting-panel-analytics {
	.select2-container {
		width: 100%!important;
	}
}

.cmb2-id-console-authorization-code {
	&.unauthorized {
		~ div {
			display: none;
		}

		input,
		button {
			display: none !important;
		}
	}

	&.authorizing {
		input,
		button {
			display: inline-block !important;
		}

		.rank-math-get-authorization-code {
			margin-top: 10px;
		}
	}

	&.authorized {
		#console_authorization_code {
			display: none;
		}
	}
}

.cmb2-id-console-profile {
	.rank-math-refresh {
		margin-right: 10px;
	}
}
