// main: ../../option-panel.scss

.rank-math-options-panel-content {
	.cmb-type-select {
		.select2-selection__clear {
			font-size: 1.3rem;
			font-weight: 500;
			line-height: 0.7;
	
			color: #a00;
			background: transparent;
			border: none;
			box-shadow: none;
	
			padding: 0 12px;
		}
	}
}
