// main: ../../option-panel.scss

.#{$namespace}-wrap-settings {
    width: 978px;
    max-width: 100%;

    .#{$namespace}-tabs-content {
        margin-bottom: 0;
    }

    .form-footer {
        width: calc( 100%  - 200px );
        margin-left: 200px;
        padding: 20px;
    }

    .#{$namespace}-address-format {
        .#{$namespace}-variables-dropdown {
            top: 70px;

            height: 185px;
        }
    }
}

.#{$namespace}-settings-notice {
    display: block;
    box-sizing: border-box;

    width: 978px;
    max-width: 100%;

    margin-top: 15px;
    margin-left: 0;
}

.#{$namespace}-tab-panel {
    display: flex;

    margin-top: 141.5px !important;

    padding-bottom: 10rem;

    .components-tab-panel__tabs {
        min-width: 200px;

        .components-tab-panel__tabs-item:first-child {
            border-top: 0;
        }
    }

    .components-tab-panel__tab-content {
        display: flex;

        width: 100%;

        .field-wrap {
            padding: 30px;
            
            border: 1px solid $gray;
            border-top: 0;
            border-bottom: 0;

            background: $white;
        }

        .form-footer {
            position: absolute;
            top: calc(100% - 1px);

            margin: 0;
            width: 100%;

            border: 1px solid $gray;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        > .components-tab-panel__tabs[aria-orientation="vertical"] {
            border-top: 0;
            border-radius: 0;

            overflow: hidden;

            .components-tab-panel__tabs-item:last-child {
                border-radius: 0 !important;
            }
        }

        .components-tab-panel__tab-content {
            flex-direction: column;

            position: unset !important;

            .rank-math-tab-header {
                width: 100%;
                height: 120px;
                padding: 0;
                margin-left: 0;

                h2 {
                    font-size: 22px;
                }

                p {
                    margin: 0 8px;
                }
            }

            .form-footer {
                position: unset;
            }
        }
    }
}
