// compileCompressed: $1.css
/*!
 * Plugin:	Rank Math - Redirections
 * URL:		https://rankmath.com/wordpress/plugin/seo-suite/
 * Name:	redirections.css
 */

@import '../../../../../assets/vendor/bourbon/bourbon';
@import '../../../../../assets/admin/scss/mixins';
@import '../../../../../assets/admin/scss/variables';

.column-url_from,
.column-url_to {
	width: 28%;
}

%hide {
	display: none;
}

.metabox-prefs legend + label {
	@extend %hide;
}

.rank-math-redirections-form {
	@extend %hide;

	width: 808px;
	max-width: 100%;
	margin-top: 1.25rem;
	box-sizing: border-box;

	&.is-open {
		display: block;
	}

	> h2 {
		margin-top: 0;
		margin-bottom: 2rem;
	}
}

#rank-math-redirections-form {
	.field-row {
		border-top: 0!important;
	}

	.rank-math-editcreate-form {
		overflow: visible;

		.field-repeatable-grouping {
			display: flex;
			flex-flow: row wrap;

			margin-bottom: 10px;

			line-height: 1.3;

			> .group-item {
				flex: 0 0 41%;
				display: inline-block;

				width: calc(43% - 10px);

				~ .group-item:not(.group-item-checkbox) {
					margin-left: 10px;
				}

				&.group-item-checkbox {
					margin-left: 0;
					margin-top: 10px;

					order: 4;
					-webkit-box-ordinal-group: 5;

					.components-checkbox-control__label {
						color: $dark_gray;
						letter-spacing: 0.01em;
						line-height: 1.3;
					}
				}
			}

			.button-remove-group {
				height: fit-content;
				margin-left: 10px;
			}
		}
	}
}

.form-footer:not(.rank-math-custom) {
	margin: 1.875rem -1.875rem -1.875rem;
	padding: 20px 1.875rem;
	width: auto;
	overflow: hidden;
	border: 0;
	border-top: 1px solid $gray;

	.rank-math-button.components-button {
		padding: 0 20px;
	}
}

.rank-math-more {
	@extend %hide;
}

tr.rank-math-redirection-activated {
	.activate {
		@extend %hide;
	}
}

tr.rank-math-redirection-deactivated {
	opacity: .5;

	.deactivate {
		@extend %hide;
	}
}

.rank-math-redirections-export-options {
	padding: 20px;
}